<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ManagerConfiguration"            type="Tenaris.Tamsa.BodyTwist.Manager.ManagerConfiguration,              Tenaris.Tamsa.BodyTwist.Manager" />
    <section name="BodyTwistConfiguration"   type="Tenaris.Library.Framework.Factory.FactoryConfiguration,                   Tenaris.Library.Framework" />
    <section name="ManagerBaseConfiguration"        type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration,      Tenaris.Manager.Forum.Shared" />    
    <section name="log"                             type="Tenaris.Library.Log.LogConfiguration,                                     Tenaris.Library.Log"/>
    <section name="Tenaris.Manager.Tracking"  type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
  </configSections>
  <!--CONNECTION CONFIGURATION-->
  <connectionStrings>
    <add name="Level2" connectionString="Application Name=BodyTwistManager;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Am21;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <ManagerBaseConfiguration areaCode="Line1_NDT" defaultConnectionStringName="Level2"/>

  <BodyTwistConfiguration factoryType="Tenaris.Tamsa.BodyTwist.Manager.Factory, Tenaris.Tamsa.BodyTwist.Manager" isSingleton="True" />

  
  <ManagerConfiguration iterationsVerification="10000"
                        codeProveUp1="ProveUp1"
                        codeZone1="ProveUp1"
                        codeProveUp2="ProveUp2"
                        codeZone2="ProveUp2"/>
   

  <!--<ManagerConfiguration iterationsVerification="10000"
                        codeProveUp1="ProveUp1"
                        codeZone1="PUP1"
                        codeProveUp2="ProveUp2"
                        codeZone2="PUP2"/>-->

  <Tenaris.Manager.Tracking
    url="tcp://TNACAWFM191.tnsautoca.techint.net:50006/Tenaris.Manager.Tracking.TrackingManager.soap"
    instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="false" />

  <system.runtime.remoting>
    <customErrors mode="off" />
    <application name = "Manager">
      <channels>
        <!--<channel ref="tcp" port="9191" bindTo="10.93.1.126" timeout="120000">-->
        <channel ref="tcp" port="50060" timeout="120000" >
          <serverProviders>
            <formatter ref = "binary" typeFilterLevel = "Full" />
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy" />
            <formatter ref = "binary" typeFilterLevel = "Full" />
          </clientProviders>
        </channel>
      </channels>
      <service>
      </service>
    </application>
  </system.runtime.remoting>

  <!--LOG CONFIGURATION-->
  <log
	 maxFileSize="8096"
	 msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"
	 logLevel="Debug"
	 traceAttributeLogEnabled="false"
	 logBaseName="Tenaris.Tamsa.SM.Manager.Profile.Host"
	 additionalLogDestination="Console"
   path="..\..\..\Logs\Manager\BodyTwistManager\"/>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
</configuration>