<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<section name="Tenaris.Manager.Exit.ExitManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />-->
    <section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared" />
    <section name="AcquisitionConfiguration" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
    <section name="Tenaris.Manager.Entrance.EntranceManager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
    <section name="Tenaris.Manager.Production.ProductionManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Command.CommandManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />
  </configSections>
  
  <connectionStrings>
    <add name="dbLevel2" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Cort;Persist Security Info=True; Integrated Security=SSPI;MultipleActiveResultSets=True; Asynchronous Processing=false; pooling=false;  Application Name=EntranceManager" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="ConnectionName" value="dbLevel2" />
    <add key="Line" value="FIN" />
    
    <!-- Mode Activation for Tracking=1/Count=2/Manual=3   -->
    <add key="ActivationMode" value="1" />
    
    <!-- 1: Order,  2: Order/Heat-->
    <add key="ModeBatch" value="2" />    
    
    <add key="MinimumTimePerEvent" value="3000" />
    <add key="TimeRefreshEvent" value="3000" />
    
    <!--<add key="IsEnableConnectionIT" value="True" />-->
    <add key="IsEnableSyncConnectionIT" value="True" />
    <add key="IsEnableASyncConnectionIT" value="False" />
    <add key="ITConnectionMode" value="1" />
    <!-- 1: Synchronous Or 2: Asynchronous -->
    <add key="NotifyBundleLoadedToIT" value="True" />
    <!--True /False-->
    <add key="UrlSpecificationService" value="TNACAWFM192.tnsautoca.techint.net:7899" />

    <!-- Relacion Maquina N2 y Codigo IT ejemplos:
        TMTbFn6_ENTRANCE,CN302@TMTbFn6_ENDE,CN301
        TMTbFn6_ENTRANCE,CN302@TMTbFn6_ENTRANCE,CN301 -->
    <add key="ITMachine" value="ENREP,CT21" />

    <!--Process IT-->
    <add key="ITProcess" value="CT21" />

    <!--Status Elaboration for return to stock-->
    <add key="ITElaborationStatus" value="79" />

    <!--Location for return to stock-->
    <add key="ITLocation" value="BELITE" />

    <!--Matricula que se usa para cargar los atados LicenseNumber 29953 Ballesteros(Maniobra). Esto es temporal, mientras no se obtenga desde el loggeo el usuario-->
    <add key="LicenseNumber" value="29953" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <!-- Common configuration section -->
  <ManagerBaseConfiguration areaCode="LINEA1" defaultConnectionStringName="dbLevel2" />
  
  <!-- Configuration used by factory to create the manager -->
  <Tenaris.Manager.Entrance.EntranceManager factoryType="Tenaris.Manager.Entrance.EntranceFactory, Tenaris.Manager.Entrance" isSingleton="True">
    <EntranceManagerConfiguration DatabaseConnectionStringName="dbLevel2" UsingCommandManager="false" UsingProductionManager="true" UsingExitManager="false" ConfigurationSectionName="Tenaris.Manager.Entrance.EntranceManager">
    </EntranceManagerConfiguration>
  </Tenaris.Manager.Entrance.EntranceManager>
  
 <!--<Tenaris.Manager.Exit.ExitManager instanceType="Tenaris.Manager.Exit.Shared.IExitManager, Tenaris.Manager.Exit.Shared" aliveInterval="1000" singleInstance="true" validateConnection="true">
    <Redundancy>
      <Address url="tcp://localhost:5200/Exit.soap" forumPresent="false" isTargetManager="true" />
    </Redundancy>
  </Tenaris.Manager.Exit.ExitManager>-->
  
  <!--Production manager configuration-->
  <Tenaris.Manager.Production.ProductionManager 
  		instanceType="Tenaris.Manager.Production.Shared.IProductionManager, Tenaris.Manager.Production.Shared" 
  		aliveInterval="1000" 
  		singleInstance="true" 
  		validateConnection="true">
    <Redundancy>
      <Address url="tcp://TNACAWFM192.tnsautoca.techint.net:49204/Tenaris.Manager.Production.ProductionManager.soap" forumPresent="false" isTargetManager="true" />
      <!--<Address url="tcp://172.29.12.224:49204/Tenaris.Manager.Production.ProductionManager.soap" forumPresent="false" isTargetManager="true" />-->
    </Redundancy>
  </Tenaris.Manager.Production.ProductionManager>
  
  <!--Command manager configuration-->
  <Tenaris.Manager.Command.CommandManager 
  		instanceType="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared" 
  		aliveInterval="1000" 
  		singleInstance="true" 
  		validateConnection="true">
    <Redundancy>
      <Address url="tcp://TNACAWFM192.tnsautoca.techint.net:49201/Tenaris.Manager.Command.soap" forumPresent="false" isTargetManager="true" />
      <!--<Address url="tcp://172.29.12.224:49201/Tenaris.Manager.Command.soap" forumPresent="false" isTargetManager="true" />-->
    </Redundancy>
  </Tenaris.Manager.Command.CommandManager>
  
  <!--Remoting configuration. This can be placed in a separate file named remoting.config-->
  <system.runtime.remoting>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="49251" >
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
			<provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  
  <log maxFileSize="8096" 
  		maxFileCount="10"
  		msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}" 
  		logLevel="Debug"
	  	noQueue="true"
  		traceAttributeLogEnabled="false" 
  		path="..\..\..\Logs\Manager\Entrance\" 
  		logBaseName="Tenaris.Manager.Entrance.Host" 
  		additionalLogDestination="Console" 
  		logAssemblyLoad="false"/>
  
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="RoleEndPoint">
          <reliableSession inactivityTimeout="00:01:00" enabled="true" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISpecificationService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
   			
      <endpoint 
      		name="ServiceSoap" 
      		address="http://TNACAWFM192.tnsautoca.techint.net:49207/ServiceSpecification/SpecificationService" 
      		binding="wsHttpBinding" contract="Tenaris.Service.Specification.Shared.ISpecificationService" 
      		behaviorConfiguration="ServiceClientEndpointBehavior" />
      
      <!--<endpoint 
      		name="ServiceSoapEntrance" 
      		address="http://10.93.1.33:8001/ServiceEntrance/EntranceService" 
      		binding="wsHttpBinding" contract="Tenaris.Service.Entrance.Shared.IEntranceService" 
      		behaviorConfiguration="ServiceClientEndpointBehavior" />-->
      
      		
      <endpoint 
      		address="net.tcp://TNACAWWS192.tnsautoca.techint.net:33333/ITService" 
      		binding="netTcpBinding" 
      		bindingConfiguration="RoleEndPoint" 
      		contract="SyncITComs.ITService" 
      		name="RoleEndPoint">
        <identity>
          <dns value="TNACAWWS192.tnsautoca.techint.net" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceClientEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>