<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Tenaris.Library.Proxy"                                                 	type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.BusinessRules"                                           type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="Tenaris.Library.BusinessRules.Presets"           	                      type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="log"                                                                   	type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="Tenaris.Manager.Alarm"                                                 	type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Tracking"                                              	type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Handshake"                                             	type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Preset"                                                	type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Production"                                            	type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Service.Specification"                                         	type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
    <section name="Tenaris.Manager.Shift"                                                   type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.Mail"                                                    type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
  </configSections>

  <connectionStrings>
    <add name="dbLevel2" connectionString="Data Source=10.92.70.120;Initial Catalog=AusV1;User ID=Level2;Password=Lineas123;Persist Security Info=True;MultipleActiveResultSets=True;Application Name=BusinessRulesManagerPresets"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <Tenaris.Manager.BusinessRules factoryType="Tenaris.Manager.BusinessRules.ManagerFactory, Tenaris.Manager.BusinessRules" isSingleton="True">
    <BusinessRulesManagerConfiguration MinThreads="100" MaxThreads="6000" PluginsPath=".\" />
  </Tenaris.Manager.BusinessRules>

  <Tenaris.Library.BusinessRules.Presets factoryType="Tenaris.Library.BusinessRules.Presets.Factory, Tenaris.Library.BusinessRules.Presets" isSingleton="True">
    <PresetsPluginConfiguration connectionStringName="dbLevel2">
      <Stations>
        <Station code="PMAN" trkZoneCode="PMAN" trkZonePosition="-1" searchZoneBackwards="true" useTrackingInZone="true">
          <Presets>
			<Preset presetCode="PmlAlternative" presetEnableValue="1" storedProcedureRequired="[TrackingTamsa].[GetEnableDrifterPresetRequired]" storedProcedureMail="[TrackingTamsa].[GetLockPresetMailData]"/>
          </Presets>
        </Station>
      </Stations>
    </PresetsPluginConfiguration>
  </Tenaris.Library.BusinessRules.Presets>

  <Tenaris.Manager.Alarm
    url="tcp://10.92.70.80:49205/Tenaris.Manager.Alarm.soap"
    instanceType="Tenaris.Manager.Alarm.Shared.IAlarmManager, Tenaris.Manager.Alarm.Shared"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="false" />

  <Tenaris.Manager.Tracking
    url="tcp://10.92.70.80:49203/TrackingManager.soap"
    instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
    aliveInterval="1000"
    singleInstance="true"
    validateConnection="true"
    forumPresent="false"
    isTargetManager="true" />

  <Tenaris.Manager.Handshake
    url="tcp://10.92.70.80:49202/Tenaris.Manager.Handshake.HandshakeManager.soap"
    instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="false" />

  <Tenaris.Manager.Production
    url="tcp://10.92.70.80:49204/Tenaris.Manager.Production.ProductionManager.soap"
    instanceType="Tenaris.Manager.Production.Shared.IProductionManager, Tenaris.Manager.Production.Shared"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="false" />

  <Tenaris.Manager.Preset
    url="tcp://10.92.70.80:49208/Tenaris.Manager.Preset.PresetManager.soap"
    instanceType="Tenaris.Manager.Preset.Shared.IPresetManager, Tenaris.Manager.Preset.Shared"
    aliveInterval="3000"
    singleInstance="true"
    validateConnection="true" />

  <!-- Shift manager configuration -->
  <Tenaris.Manager.Shift
    instanceType="Tenaris.Manager.Shift.Shared.IShiftManager, Tenaris.Manager.Shift.Shared"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="false">
    <Redundancy>
      <Address url="tcp://10.92.70.80:49200/ShiftManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Shift>

  <!--mail manager proxy configuration-->
  <Tenaris.Manager.Mail
    instanceType="Tenaris.Manager.Mail.Shared.IMailManager, Tenaris.Manager.Mail.Shared"
    url="tcp://localhost:50053/MailManager.soap"
    forumPresent="false"
    isTargetManager="true"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="true"/>

  <Tenaris.Service.Specification factoryType="Tenaris.Tamsa.Service.SpecificationService.Client.SpecificationServiceFactory, Tenaris.Tamsa.Service.SpecificationService.Client" isSingleton="True">
    <SpecificationServiceConfiguration serviceName="SpecificationService" specificationServiceEndPoint="SpecificationService" monitoringInterval="1000"/>
  </Tenaris.Service.Specification>

  <system.serviceModel>
    <diagnostics wmiProviderEnabled="false" >
      <messageLogging logMalformedMessages="true" logEntireMessage="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <client>
      <endpoint address="net.tcp://10.92.70.80:49207/ServiceSpecification/Specification"
        behaviorConfiguration="ServiceClientEndpointBehavior"
        binding="netTcpBinding"
        bindingConfiguration="netTcpBinding_Config"
        contract="Tenaris.Tamsa.Service.SpecificationService.Shared.Interfaces.ISpecificationServiceWCFContract"
        name="SpecificationService" />
      <endpoint address="net.tcp://10.92.70.80:49207/ServiceSpecification/EventContract"
        behaviorConfiguration="ServiceClientEndpointBehavior"
        binding="netTcpBinding"
        bindingConfiguration="netTcpBinding_Config"
        contract="Tenaris.Tamsa.Service.SpecificationService.Shared.Interfaces.ISpecificationServiceWCFCallBackContract"
        name="SpecificationServiceCallBack" />
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding_Config" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None"></security>
          <reliableSession  inactivityTimeout="23:59:59"/>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceClientEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>

  <Tenaris.Library.Proxy factoryType="Tenaris.Library.Proxy.Factories.PipeProxyFactory, Tenaris.Library.Proxy">
    <Configuration>
      <Components>
        <Component type="Tenaris.Library.Proxy.Components.ConnectionMonitorComponent, Tenaris.Library.Proxy">
          <Interval>1000</Interval>
        </Component>
      </Components>
      <EventListener type="Tenaris.Library.Proxy.EventListener, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
      <Dispatcher type="Tenaris.Library.Proxy.Dispatchers.DirectMessageDispatcher, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
    </Configuration>
  </Tenaris.Library.Proxy>

  <system.runtime.remoting>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="50019">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>
    <customErrors mode="off" />
  </system.runtime.remoting>

  <log
    maxFileSize="100096"
	maxFileCount="100"
    msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {ThreadId,-5:d5} ; {Message} ; {MethodName}"
    logLevel="Debug"
	noQueue="true"
    traceAttributeLogEnabled="false"
	path="Logs\Tenaris.Manager.BusinessRules.Presets\"
    logBaseName="Tenaris.Manager.BusinessRules.Presets"
    additionalLogDestination="Console"
    logAssemblyLoad="false"
  />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
