<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ForumManagerFactoryConfiguration" type="Tenaris.Manager.Forum.Common.Configuration.ForumConfigurationSection, Tenaris.Manager.Forum.Common"/>
    <section name="ForumControllerFactoryConfiguration" type="Tenaris.Manager.Forum.Common.Configuration.ForumControllerConfigurationSection, Tenaris.Manager.Forum.Common"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <ForumControllerFactoryConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                                       isSingleton="false" address="ForumManager/Controller.soap"
                                       forumConfigurationName="ForumManagerFactoryConfiguration"
                                       activateAllManagers="true"/>

 
  <ForumManagerFactoryConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Launcher initializationTries="5" activationTries="5" activationMode="GraphManual">
     <Hosts>
	      
		  <ProcessHost name="ShiftManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
						<DependOf />
						<RemoteInstance type="Tenaris.Manager.Shift.Shared.IShiftManager, Tenaris.Manager.Shift.Shared"
          url="tcp://TNACAWFM190.tnsautoca.techint.net:8032/Tenaris.Manager.Shift.soap"
          tries="10" wait="100">
							<Interfaces />
						</RemoteInstance>
						<Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Shift/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Shift/false" 
		  workingDirectory="../../Manager/Shift" />
					</ProcessHost>
					
					 <ProcessHost name="HandshakeManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
						<DependOf />
						<RemoteInstance type="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
          url="tcp://TNACAWFM190.tnsautoca.techint.net:9111/Tenaris.Manager.Handshake.HandshakeManager.soap"	
          tries="10" wait="100">
							<Interfaces />
						</RemoteInstance>
						<Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Handshake/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Handshake.HandshakeManager/false"
          workingDirectory="../../Manager/Handshake" />
					</ProcessHost>
					
					<ProcessHost name="CommandManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
						<DependOf />
						<RemoteInstance type="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared"
          url="tcp://TNACAWFM190.tnsautoca.techint.net:49200/Tenaris.Manager.Command.soap"
          tries="10" wait="100">
							<Interfaces />
						</RemoteInstance>
			<Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Command/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Command/false"
          workingDirectory="../../Manager/Command" />
					</ProcessHost>		
					<ProcessHost name="TrackingManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
						<DependOf>HandshakeManager</DependOf>
						<RemoteInstance type="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
          url="tcp://TNACAWFM190.tnsautoca.techint.net:9501/Tenaris.Manager.Tracking.soap"
          tries="10" wait="100">
							<Interfaces />
						</RemoteInstance>
						<Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tracking/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Tracking/false"
          workingDirectory="../../Manager/Tracking" />
					</ProcessHost>
			
					
		<ProcessHost name="SpecificationManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerA, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM190.tnsautoca.techint.net:33334/SpecificationManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Service/Specification/Tenaris.Manager.Host.exe"
          arguments="mgr:SpecificationManager/false"
          workingDirectory="../../Service/Specification" />
        </ProcessHost>
		

					<ProcessHost name="ProductionManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
						<DependOf>ShiftManager;HandshakeManager;CommandManager;TrackingManager</DependOf>
						<RemoteInstance type="Tenaris.Library.IKeyManager.Shared.IKeyManager, Tenaris.Library.IKeyManager.Shared"
          url="tcp://TNACAWFM190.tnsautoca.techint.net:8040/Tenaris.Manager.Production.ProductionManager.soap"
          tries="10" wait="100">
							<Interfaces />
						</RemoteInstance>
						<Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Production/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Production.ProductionManager/false"
          workingDirectory="../../Manager/Production" />
					</ProcessHost>	
		
					<ProcessHost name="TdaManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
						<DependOf></DependOf>
						<RemoteInstance type="Tenaris.Manager.Tda.Shared.ITdaManager, Tenaris.Manager.Tda.Shared"
          url="tcp://TNACAWFM190.tnsautoca.techint.net:8100/Tenaris.Manager.Tda.soap"
          tries="10" wait="100">
							<Interfaces />
						</RemoteInstance>
						<Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/TDA/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Tda/false"
          workingDirectory="../../Manager/TDA" />
					</ProcessHost>
									
					<ProcessHost name="InterruptionManager" enabled="true"
		initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
		deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
		postInitializationSleep="0" watchInterval="5000">
						<DependOf>ProductionManager;ShiftManager</DependOf>
						<RemoteInstance type="Tenaris.Manager.Interruption.Shared.IInterruptionManager, Tenaris.Manager.Interruption.Shared"
		url="tcp://TNACAWFM190.tnsautoca.techint.net:5000/Tenaris.Manager.Interruption.soap"
		tries="10" wait="100">
							<Interfaces />
						</RemoteInstance>
		<Process startWait="5000" stoptWait="5000" createNoWindow="false"
		useShellExecute="false" filename="../../Manager/Interruptions/Tenaris.Manager.Host.exe"
		arguments="mgr:Tenaris.Manager.Interruption/false"
		workingDirectory="../../Manager/Interruptions"/>
		</ProcessHost>
		<ProcessHost name="SeaManager" enabled="true"
		initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
						<DependOf>HandshakeManager;CommandManager;TrackingManager;ProductionManager</DependOf>
						<RemoteInstance type="Tenaris.Tamsa.Manager.Sea.Shared.ISeaManager, Tenaris.Tamsa.Manager.Sea.Shared"
		  url="tcp://TNACAWFM190.tnsautoca.techint.net:22701/SeaManager.soap"
		  tries="10" wait="100">
							<Interfaces />
						</RemoteInstance>
						<Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Sea/Tenaris.Manager.Host.exe"
		  arguments="mgr:SeaManager/false"
		  workingDirectory="../../Manager/Sea"/>
					</ProcessHost>
					
			
					
		<ProcessHost name="LemsManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf >Tenaris.Manager.Tda;Tenaris.Manager.Production.ProductionManager;Tenaris.Manager.Handshake.HandshakeManager;Tenaris.Manager.Command;Tenaris.Manager.Tracking</DependOf>
          <RemoteInstance type="Tenaris.Tamsa.Manager.Lems.Shared.ILemsManager, Tenaris.Tamsa.Manager.Lems.Shared"
          url="tcp://TNACAWFM190.tnsautoca.techint.net:49988/Tenaris.Tamsa.Manager.Lems.LemsManager.soap"
          tries="10" wait="100"> 
          <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Lems/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Tamsa.Manager.Lems.LemsManager/false"
          workingDirectory="../../Manager/Lems"/>
        </ProcessHost>
	
		<ProcessHost name="SwageManager" enabled="true"
		initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
		<DependOf>HandshakeManager;TrackingManager</DependOf>
		<RemoteInstance type="Tenaris.Manager.Forum.Shared.IManager, Tenaris.Manager.Forum.Shared"
		  url="tcp://TNACAWFM190.tnsautoca.techint.net:12801/SwageManager.soap"
		  tries="10" wait="100">
		<Interfaces />
		</RemoteInstance>
		<Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Swage/Tenaris.Manager.Host.exe"
		  arguments="mgr:SwageManager/false"
		  workingDirectory="../../Manager/Swage"/>
		  </ProcessHost>
		
	
		<ProcessHost name="ExitManager" enabled="true"
		initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
		<DependOf>TrackingManager</DependOf>
		<RemoteInstance type="Tamsa.Manager.Exit.Shared.IExitManager, Tamsa.Manager.Exit.Shared"
		  url="tcp://TNACAWFM190.tnsautoca.techint.net:20010/Tamsa.Manager.Exit.ExitManager.soap"
		  tries="10" wait="100">
			<Interfaces/>
		</RemoteInstance>
		<Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Exit/Tenaris.Manager.Host.exe"
		  arguments="mgr:Tamsa.Manager.Exit.ExitManager/false"
		  workingDirectory="../../Manager/Exit"/>
		</ProcessHost>	 
		
		<ProcessHost name="ManufacturingManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>TrackingManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerC, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM190.tnsautoca.techint.net:5020/ManufacturingManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Service/ServiceMS/Tenaris.Manager.Host.exe"
          arguments="mgr:ManufacturingManager/false"
          workingDirectory="../../Service/ServiceMS" />
        </ProcessHost> 
			  
	<ProcessHost name="VdiManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
      <DependOf>HandshakeManager;ShiftManager;ProductionManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerD, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM190.tnsautoca.techint.net:5022/Tenaris.Manager.Vdi.VdiManager.soap"
          tries="10" wait="100"> 
          <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/VDIManager/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Vdi.VdiManager/false"
          workingDirectory="../../Manager/VDIManager"/>
        </ProcessHost>
		
			  <ProcessHost name="SendInterruptManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf ></DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerE, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM190.tnsautoca.techint.net:5021/SendInterruptManager.soap"
          tries="10" wait="100"> 
          <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/InterruptSend/Tenaris.Manager.Host.exe"
          arguments="mgr:SendInterruptManager"
          workingDirectory="../../Manager/InterruptSend"/>
        </ProcessHost>
				
		
					</Hosts>
      <Availability mode="StartAlways" tries="0" interval="2000" />
    </Launcher>
    <Redundancy mode="None" onDeactivateMode="Stop" onConnectMode="None"
		  activationTimeout="600" />
    <Mailing enabled="false" enableSsl="false" port="0" timeout="0" />
  </ForumManagerFactoryConfiguration>

  <system.runtime.remoting>
    <application name="Forum">
      <channels>
        <channel ref="tcp" port="49299" >
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <log
      msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{AppDomainName,30:s-30}:{ThreadName,15:s15}] [lap={LapFriendlyValue,-7:f2}{LapFriendlyUnit,3}] {AssemblyName,30:s-30} {IdentString} {Message}"
      dumpStack="true" maxLogDepth="0" traceAttributeLogLevel="Message" 
      noQueue="false" maxQueueSize="10000" includeAssembliesRegEx="" excludeAssembliesRegEx="" includeFullClasNameRegEx="" 
      excludeFullClasNameRegEx="" excludePropertyGetterAndSetter="true" flushInterval="1000" logAssemblyLoad="true" colorConsoleLog="true"
      
      maxFileSize="8192" maxFileCount="20" traceAttributeLogEnabled="true" 
      
      logBaseName="ForumController" path="..\..\..\Logs\view\Forum\" additionalLogDestination="None" logLevel="Debug"/>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Binaries;Forum;"/>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
