<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ForumManagerFactoryConfiguration" type="Tenaris.Manager.Forum.Common.Configuration.ForumConfigurationSection, Tenaris.Manager.Forum.Common"/>
    <section name="ForumViewConfiguration" type="Tenaris.Forum.View.Shared.Configuration.ForumViewConfigurationSection, Tenaris.Forum.View.Shared"/>
    <section name="ForumControllerFactoryConfiguration" type="Tenaris.Manager.Forum.Common.Configuration.ForumControllerConfigurationSection, Tenaris.Manager.Forum.Common"/>
    <section name="ForumControllerFactoryConfiguration.Proxy" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <ForumViewConfiguration advanceUser="true"
    startInTaskBar="false"
    isReadOnly="false"
        activateOnStartUp="true"
    activateLogOnStartUp="true">
    <ForumControllers>
      <Controller name="LinePipe-Mgr" configurationName="ForumControllerFactoryConfiguration.Proxy"/>
    </ForumControllers>
  </ForumViewConfiguration>

  <ForumControllerFactoryConfiguration.Proxy url="tcp://TNACAWFM190.tnsautoca.techint.net:49299/ForumManager/Controller.soap"
                                             instanceType="Tenaris.Manager.Forum.Common.IForumController, Tenaris.Manager.Forum.Common"
                                             aliveInterval="0" forumPresent="false" isTargetManager="false" validateConnection="false"/>

  <ForumControllerFactoryConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                     isSingleton="false" address="Tenaris.View.Forum.soap"
                     forumConfigurationName="ForumManagerFactoryConfiguration"
                     activateAllManagers="false"/>


  <ForumManagerFactoryConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Launcher initializationTries="5" activationTries="5" activationMode="GraphManual">
      <Hosts>
	    
      </Hosts>
      <Availability mode="StartAlways" tries="0" interval="2000" />
    </Launcher>
    <Redundancy mode="None" onDeactivateMode="Stop" onConnectMode="None"
		  activationTimeout="600" />
    <Mailing enabled="false" enableSsl="false" port="0" timeout="0" />
  </ForumManagerFactoryConfiguration>
  <system.runtime.remoting>
    <application name="Forum">
      <channels>
        <channel ref="tcp" port="0" >
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  
  <log
 maxFileCount="30"
 maxQueueSize="10000"
 noQueue="true"
 maxFileSize="8096"
 dumpStack="true"
 msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{AppDomainName,-20}:{ThreadId,-5:d5}] [lap={LapFriendlyValue,-10:f2}{LapFriendlyUnit,4}] {AssemblyName,-15} {IdentString} {Message}"
 logLevel="Message"
 traceAttributeLogEnabled="true"
 path="..\..\..\Logs\View\Forum\"
 logBaseName="ForumManager"
 additionalLogDestination="Console" />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
