.svn
.bak
.pdb
.copy.conf
.copy
*Thumbs.db*
*logs
*vshost
*Copy.xml
*Copy
*Copia*
*COPY*
*.LOG*
*.LOGS*
*.pdb*
*.exe_*
*old*
*.log . *

*.manifest
*.bak
*.lnk
*_.xaml*
*.xls
*.xaml
*.png
*.xml
*.map
*.css
*.gif
*.js
*.aspx
*.resx
*.ascx
*.lic
*.bmp
*.cshtml
*.asax
*.JPG
*.htc
*.Master
*.rsp
*.compiled
*.targets
*.ico
*.bat
*.svc
*.dll
!Adquisidor/Tenaris/Applications/View/Forum/*.dll
!Adquisidor/Tenaris/Applications/Service/ServiceMS/Tenaris.Library.ConnectionMonitor.dll
!Adquisidor/Tenaris/Applications/Service/ServiceMS/Tenaris.Library.Proxy.dll
!Adquisidor/Tenaris/Applications/Service/ServiceMS/Tenaris.Manager.Forum.Shared.dll
!Adquisidor/Tenaris/Applications/Service/ServiceMS/Tenaris.Manager.ProcessExecutor.dll
!Adquisidor/Tenaris/Applications/Service/ServiceMS/Tenaris.Manager.ProcessExecutor.Shared.dll

!Adquisidor/Tenaris/Applications/Service/Specification/Tenaris.Library.ConnectionMonitor.dll
!Adquisidor/Tenaris/Applications/Service/Specification/Tenaris.Library.Proxy.dll
!Adquisidor/Tenaris/Applications/Service/Specification/Tenaris.Manager.Forum.Shared.dll
!Adquisidor/Tenaris/Applications/Service/Specification/Tenaris.Manager.ProcessExecutor.dll
!Adquisidor/Tenaris/Applications/Service/Specification/Tenaris.Manager.ProcessExecutor.Shared.dll

!Adquisidor/Tenaris/Applications/Manager/VDIManager/Tenaris.Library.ConnectionMonitor.dll
!Adquisidor/Tenaris/Applications/Manager/VDIManager/Tenaris.Library.Proxy.dll
!Adquisidor/Tenaris/Applications/Manager/VDIManager/Tenaris.Manager.Forum.Shared.dll
!Adquisidor/Tenaris/Applications/Manager/VDIManager/Tenaris.Manager.ProcessExecutor.dll
!Adquisidor/Tenaris/Applications/Manager/VDIManager/Tenaris.Manager.ProcessExecutor.Shared.dll


!Adquisidor/Tenaris/Applications/Manager/VDIManager/Tenaris.Library.ConnectionMonitor.dll
!Adquisidor/Tenaris/Applications/Manager/VDIManager/Tenaris.Library.Proxy.dll
!Adquisidor/Tenaris/Applications/Manager/VDIManager/Tenaris.Manager.Forum.Shared.dll
!Adquisidor/Tenaris/Applications/Manager/VDIManager/Tenaris.Manager.ProcessExecutor.dll
!Adquisidor/Tenaris/Applications/Manager/VDIManager/Tenaris.Manager.ProcessExecutor.Shared.dll


!Adquisidor/Tenaris/Applications/Manager/InterruptSend/Tenaris.Library.ConnectionMonitor.dll
!Adquisidor/Tenaris/Applications/Manager/InterruptSend/Tenaris.Library.Proxy.dll
!Adquisidor/Tenaris/Applications/Manager/InterruptSend/Tenaris.Manager.Forum.Shared.dll
!Adquisidor/Tenaris/Applications/Manager/InterruptSend/Tenaris.Manager.ProcessExecutor.dll
!Adquisidor/Tenaris/Applications/Manager/InterruptSend/Tenaris.Manager.ProcessExecutor.Shared.dll


