.svn
.bak
.pdb
.copy.conf
.copy
*Thumbs.db*
*logs
*vshost
*Copy.xml
*Copy
*Copia*
*COPY*
*.LOG*
*.LOGS*
*.pdb*
*.exe_*
*old*
*.log . *
*.dll
*.manifest
*.bak
*.lnk
*_.xaml*
*.xls
*.xaml
*.png
*.xml
*.map
*.css
*.gif
*.js
*.aspx
*.resx
*.ascx
*.lic
*.bmp
*.cshtml
*.asax
*.JPG
*.htc
*.Master
*.rsp
*.compiled
*.targets
*.ico
*.bat
*.svc
