*.realese*
*.debug*
*.dll*
*.xlsx*
*.pbd*
*.bat*
*.ini*
.exe
*Backup*
.svn
.bak
.pdb
.copy.conf
.copy
*Thumbs.db*
*logs
*vshost
*Copy.xml
*Copy
*Copia*
*COPY*
*.LOG*
*.LOGS*
*.pdb*
*.exe_*
*old*
*.log . *


*.manifest
*.bak
*.lnk
*_.xaml*
*.xls
*.xaml
*.png
*.xml
*.map
*.css
*.gif
*.js
*.aspx
*.resx
*.ascx
*.lic
*.bmp
*.cshtml
*.asax
*.JPG
*.htc
*.Master
*.rsp
*.compiled
*.targets
*.ico
*.bat
*.svc
*.dll
*.suo
*.svg
!.config
*vshost*
*wpfwindow*
*.txt
*config_bak*
*Binaries*






*.keep
*.exe
*.sql
*.rdlc
*.cs
*.csproj
*.sil
*.cache
*.otf
*.woff
*.ttf
*.eot
*.woff2
*.less
*.scss
*.config_
*.json
*.so
*.md
*.nlp
.dylib
*.config
!Web.config
*.dylib
*views*
*debug*
*areas*
*account*
*.html
*.datasource
*.new
*.asmx
*.scons
*.user
*.sitemap
*.sln
*.scc
*.MDF
*.ldf
*.ora
*.mht
*.licx
*.htm
*.pubxml
*.ashx
*.xslt
*.settings
*.disco
*.wsdl
