<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="EmailConfiguration" type="Tenaris.Tamsa.FAT2.Web.Bitacora.Common.EmailConfiguration, Tenaris.Tamsa.FAT2.Web.Bitacora.Common" />
		<section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	<appSettings>
		<!--SP para obtener interupciones en cortadorasL1L2-->
		<add key="SP_GetInterrupciones" value="[Interruption].[GetInterruptionBitacora]" />
		<!--SP para obtener operadores en trackingL1-->
		<add key="SP_GetOperators" value="[Interruption].[GetOperatorsByCategory]" />
		<!--SP para obtener defectos de roscado en trackingL1L2-->
		<add key="SP_GetDefectsRX" value="[ProductionTamsa].[GetReportProductionRXDiscardPzasLogBook]" />
		<!--SP para obtener defectos de CND en AmalogsL1L2-->
		<add key="SP_GetDefectsCND" value="[Ndt].[GetDefectsCND]" />
		<!--SP para obtener datos de programa TrackingL1L2-->
		<add key="SP_GetDataProgram" value="[Production].[GetProgramSummaryByShift]" />
		<!--SP para obtener datos de piezas y tons producidas BalanzaL1L2-->
		<add key="SP_GetDataPiezasProd" value="[WMS].[Report_Prod]" />
		<!--SP para obtener datos de porcentajes de utilizacion cortadorasL1L2-->
		<add key="SP_GetDataPercentage" value="[Interruption].[GetInterruptionTimesPercentage]" />
		<!--SP para guardar datos de cuadrillas de operadores trackingL1-->
		<add key="SP_UpdOperatorsGroup" value="[Interruption].[UpdOperatorsGroupLogBook]" />
		<!--SP para obtener datos de cuadrillas de operadores trackingL1-->
		<add key="SP_GetOperatorsGroup" value="[Interruption].[GetOperatorsGroupLogBook]" />
		<!--SP para obtener los datos de acceso al sistema TrackingL1-->
		<add key="SP_GetValidateUserByOperatorCategory" value="[SecurityTamsa].[GetValidateUserByOperatorCategory]" />
		<!--SP para guardar los datos de las observaciones TrackingL1-->
		<add key="SP_UpdObservationsLogBook" value="[Interruption].[UpdObservationsLogBook]" />
		<!--SP para obtener los datos de las observaciones  TrackingL1-->
		<add key="SP_GetObservationsLogBook" value="[Interruption].[GetObservationsLogBook]" />
	</appSettings>
	<connectionStrings>
		<clear />
		<!--Nuevas Cadenas de Conexion a Base de Datos-->
		<add name="CortadoraLinea 1" connectionString="Application Name=BitacorasFAT2;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Cort;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=False;" providerName="System.Data.SqlClient" />
		<add name="CortadoraLinea 2" connectionString="Application Name=BitacorasFAT2;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Cort;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=False;" providerName="System.Data.SqlClient" />
		<add name="BalanzaLinea 1"   connectionString="Application Name=BitacorasFAT2;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Bz21;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=False;" providerName="System.Data.SqlClient" />
		<add name="BalanzaLinea 2"   connectionString="Application Name=BitacorasFAT2;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Bz22;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=False;" providerName="System.Data.SqlClient" />
		<add name="AmalogLinea 1"    connectionString="Application Name=BitacorasFAT2;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Am21;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=False;" providerName="System.Data.SqlClient" />
		<add name="AmalogLinea 2"    connectionString="Application Name=BitacorasFAT2;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Am22;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=False;" providerName="System.Data.SqlClient" />
		<add name="TrackingLinea 1"  connectionString="Application Name=BitacorasFAT2;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Trk ;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=False;" providerName="System.Data.SqlClient" />
		<add name="TrackingLinea 2"  connectionString="Application Name=BitacorasFAT2;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk ;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=False;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<EmailConfiguration activoLinea="2" timeSend="18:35" scanTime="6000" mailServer="smtp.tamsa.techint.net" mailPort="25" mailFrom="N2Terminacion@tamsa.com.mx"
					  isSendMailIfNoData="false"
					  messageIfNoData="Bitácora de Terminación L{0} - {1} Turno {2} TEST"
					  messageWithData="Bitácora de Terminación L{0} - {1} Turno {2} TEST"
					  MaxRetry="10">
		<EmailsGrops>
			<!--Grupos de Correos-->
			<add group="G0" eMails="sjchagalaamaro@suppliers.tenaris.com"/>
			<add group="G1" eMails="obulbarela@tenaris.com"/>
			<!--<add group="G2" eMails="jleonB@tenaris.com"/>
			<add group="G3" eMails="imontero@tenaris.com"/>
			<add group="G4" eMails="gmata@tenaris.com"/>
			<add group="G5" eMails="acedillo@tenaris.com"/>
			<add group="G6" eMails="dacedillo@tenaris.com"/>
			<add group="G7" eMails="harroyo@tenaris.com"/>
			<add group="G8" eMails="jrperez@tenaris.com"/>
			<add group="G9" eMails="msolano@tenaris.com"/>
			<add group="G10" eMails="IALEMANC@tenaris.com"/>
			<add group="G11" eMails="pabflores@tenaris.com"/>
			<add group="G12" eMails="jfuentesm@tenaris.com"/>
			<add group="G13" eMails="apola@tenaris.com"/>
			<add group="G14" eMails="kdegante@tenaris.com"/>
			<add group="G15" eMails="IFLORES@tenaris.com"/>
			<add group="G16" eMails="clopezm@tenaris.com"/>
			<add group="G17" eMails="KMIRON@tenaris.com"/>
			<add group="G18" eMails="bramiro@tenaris.com"/>-->
		</EmailsGrops>
		<TemplateReport>
			<add code="Zona"   description="Zona"/>
			<add code="InsDateTime"  description="Fecha"/>
			<add code="Turno"  description="Turno"/>
			<add code="OrderNumber"       description="OP"/>
			<add code="HeatNumber"  description="Colada"/>
			<add code="idTracking"  description="Tubo"/>
			<add code="Value"   description="Defecto"/>
		</TemplateReport>
	</EmailConfiguration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="Error" />
				<foreColor value="Red, HighIntensity" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline" />
			</layout>
		</appender>
		<appender name="BitacorasFAT2" type="log4net.Appender.RollingFileAppender">
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="ALL" />
				<param name="LevelMax" value="OFF" />
			</filter>
			<param name="DatePattern" value="'.'yyyyMMdd'.log' " />
			<param name="File" value="..\..\..\Logs\Tenaris.Tamsa.FAT2.Web.Bitacora" />
			<param name="AppendToFile" value="true" />
			<param name="rollingStyle" value="Date" />
			<param name="maxSizeRollBackups" value="10" />
			<param name="maximumFileSize" value="4MB" />
			<param name="staticLogFileName" value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="Header" value="[BEGIN_LOG %date{yyyy-MM-dd HH:mm} ===] %newline" type="log4net.Util.PatternString" />
				<param name="Footer" value="[END_LOG %date{yyyy-MM-dd HH:mm} =====] %newline" type="log4net.Util.PatternString" />
			</layout>
		</appender>
		<logger name="Tenaris.Library.Log">
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="BitacorasFAT2" />
		</logger>
	</log4net>
	<log maxQueueSize="10000" dumpStack="true" msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss:fff} [{ThreadId}] {IdentString} {Message}" />
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="3500000" />
			</webServices>
		</scripting>
	</system.web.extensions>
</configuration>
