<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared"/>
    <section name="InvisEmailManager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>


  <InvisEmailManager
    factoryType="Tenaris.Manager.ProcessExecutor.ProcessExecutorManagerFactory, Tenaris.Manager.ProcessExecutor"
    isSingleton="True">
    <ProcessExecutorManagerConfiguration
      managerName="InvisEmailManager"
      filePath="Tenaris.Tamsa.FAT2.InvisEmail.Host.exe"
      childKeepAlive="true"
      childSocketAddress="localhost:0" />
  </InvisEmailManager>

  <log
    maxFileSize="8096"
    msgFormat="{Timestamp:HH:mm:ss.fff} ; {Level,-7} ; {ClassName} ; {Message} ; {MethodName}"
    path="..\..\..\Logs\Manager\InvisEmailManager\"
    logLevel="Debug"
	logBaseName="InvisEmailManager"
    traceAttributeLogEnabled="false"
    additionalLogDestination="Console"
    />

  <system.runtime.remoting>
    <customErrors mode="off" />
    <application name="InvisEmailManager">
      <channels>
        <channel ref="tcp" port="50035" >
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
        </channel>
      </channels>
      <service>
      </service>
    </application>
  </system.runtime.remoting>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
