<?xml version="1.0"?>
<configuration>

  <!-- esta seccion debe ser la primera antes de todo -->
  <configSections>
	<section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared"/>
    <section name="Tenaris.Manager.Tracking.TrackingManager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
	<section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />
	<section name="Tenaris.Manager.Handshake.HandshakeManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="CommandManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <!--<section name="DefaultStatusChangePlugin" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>-->
	<section name="StatusChangePlugin" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
  </configSections>

  <connectionStrings>
    <add name="dbLevel2" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Am21;Persist Security Info=True;Integrated Security=SSPI;Pooling=True;Max Pool Size=300;MultipleActiveResultSets=True;Application Name=ManagerTracking"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- Common configuration section -->
  <ManagerBaseConfiguration areaCode="Line1_NDT" defaultConnectionStringName="dbLevel2" />
  
  <!-- Configuration used by factory to create the manager -->
  <Tenaris.Manager.Tracking.TrackingManager
      factoryType="Tenaris.Manager.Tracking.TrackingManagerFactory, Tenaris.Manager.Tracking"
      isSingleton="True" >
    <TrackingManagerConfiguration handshakeExecutionTimeout="0" handshakeResultWriteTimeout="0" statusChangePluginSectionName="StatusChangePlugin"/>
  </Tenaris.Manager.Tracking.TrackingManager>

  <!--<DefaultStatusChangePlugin
    factoryType="Tenaris.Manager.Tracking.Plugin.Shared.DefaultStatusChangePluginFactory, Tenaris.Manager.Tracking.Plugin.Shared"
    isSingleton="True">
    <DefaultStatusChangePluginConfiguration DatabaseConnectionStringName="dbLevel2"/>
  </DefaultStatusChangePlugin>-->

  <StatusChangePlugin factoryType="Tenaris.Manager.Tracking.Plugin.Premium31.Factory, Tenaris.Manager.Tracking.Plugin.Premium31" isSingleton="True">
    <Configuration DatabaseConnectionStringName="dbLevel2"/>
  </StatusChangePlugin>
  
  <!--Handshake manager configuration-->
  <Tenaris.Manager.Handshake.HandshakeManager
    instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM191.tnsautoca.techint.net:50004/Tenaris.Manager.Handshake.HandshakeManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Handshake.HandshakeManager>
  
  <!--Command manager configuration-->
  <CommandManager
    url="tcp://TNACAWFM191.tnsautoca.techint.net:50005/Tenaris.Manager.Command.CommandManager.soap"
    instanceType="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=85d881d6f906ae36"
    aliveInterval="5000" forumPresent="false" isTargetManager="true" singleInstance="true" validateConnection="false"
  />

  <!--Remoting configuration. This can be placed in a separate file named remoting.config-->
  <system.runtime.remoting>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="50006" > 
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>
    <customErrors mode="off" />
  </system.runtime.remoting>
  
  <log
    maxFileSize="100000"
 maxFileCount="40"
    msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {ThreadId,-5:d5} ; {Message} ; {MethodName}"
    logLevel="Debug"
 noQueue="true"
    traceAttributeLogEnabled="false"
 path="..\..\..\Logs\Manager\Tracking\"
    logBaseName="Tenaris.Manager.Tracking"
    additionalLogDestination="Console"
    logAssemblyLoad="false"
  />
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
