<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Tenaris.Library.Proxy" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.BusinessRules" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="Tenaris.Manager.Alarm"     type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Tracking"  type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Handshake" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Preset"    type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.BusinessRules.GenericPlugins.HandshakeConfiguration"   type="Tenaris.Manager.BusinessRules.GenericPlugins.Handshake.Model.Configuration, Tenaris.Manager.BusinessRules.GenericPlugins"/>
    <section name="eTrackManager" type="Tenaris.Tamsa.eTrack.Shared.eTrackManagerConfigurationHost, Tenaris.Tamsa.eTrack.Shared"/>
	<!--<section name="Tenaris.Manager.BusinessRules.HsCutoffDataLinker.Configuration"   type="Tenaris.Manager.BusinessRules.HsCutoffDataLinker.Model.Configuration, Tenaris.Manager.BusinessRules.HsCutoffDataLinker"/>-->
    
    <!--<section name="ConfigurationPlugin_BSR_GD_LAVADO"   type="Tenaris.Manager.BusinessRules.Plugins.BSR_GD_Lavado.GetDatas.Model.Configuration, Tenaris.Manager.BusinessRules.Plugins.BSR_GD_Lavado"/>-->
    <!--<section name="PluginConfiguration_L1" type="Tenaris.Manager.BusinessRules.Linea1.GetDatas.PluginConfiguration, Tenaris.Manager.BusinessRules.Linea1.Plugins.BSR_MONIT_VISION"/>-->
    
    <section name="AcquisitionConfiguration" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <!--<section name="Tenaris.Manager.BusinessRules.HsCycleTimePML21.Configuration" type="Tenaris.Manager.BusinessRules.HsCycleTimePML21.Model.Configuration, Tenaris.Manager.BusinessRules.HsCycleTimePML21" />-->

    <section name="HsVerifyConditionsPluginConfigurationOnHpt" type="Tenaris.Manager.BusinessRules.GetDatas.PluginConfiguration, Tenaris.Manager.BusinessRules.Plugins.HsVerifyConditionsOnMachine"/>
    <section name="HsVerifyConditionsPluginConfigurationOnPml" type="Tenaris.Manager.BusinessRules.GetDatas.PluginConfiguration, Tenaris.Manager.BusinessRules.Plugins.HsVerifyConditionsOnMachine"/>
    <section name="HsVerifyConditionsPluginConfigurationOnPml21" type="Tenaris.Manager.BusinessRules.GetDatas.PluginConfiguration, Tenaris.Manager.BusinessRules.Plugins.HsVerifyConditionsOnMachinePml21"/>
    <section name="HsVerifyConditionsPluginConfigurationOnVdi21" type="Tenaris.Manager.BusinessRules.GetDatas.PluginConfiguration, Tenaris.Manager.BusinessRules.Plugins.HsVerifyConditionsOnMachine"/>
    <section name="HsVerifyConditionsPluginConfigurationOnVdi22" type="Tenaris.Manager.BusinessRules.GetDatas.PluginConfiguration, Tenaris.Manager.BusinessRules.Plugins.HsVerifyConditionsOnMachine"/>
    <section name="HsVerifyConditionsPluginConfigurationOnSea21" type="Tenaris.Manager.BusinessRules.GetDatas.PluginConfiguration, Tenaris.Manager.BusinessRules.Plugins.HsVerifyConditionsOnMachine"/>
    <section name="HsVerifyConditionsPluginConfigurationOnSea22" type="Tenaris.Manager.BusinessRules.GetDatas.PluginConfiguration, Tenaris.Manager.BusinessRules.Plugins.HsVerifyConditionsOnMachine"/>
    <section name="HsVerifyConditionsPluginConfigurationOnPac" type="Tenaris.Manager.BusinessRules.GetDatas.PluginConfiguration, Tenaris.Manager.BusinessRules.Plugins.HsVerifyConditionsOnMachine"/>
    <section name="HsVerifyConditionsPluginConfigurationLeavingVdi21" type="Tenaris.Manager.BusinessRules.GetDatas.PluginConfiguration, Tenaris.Manager.BusinessRules.Plugins.HsVerifyConditionsLeavingMachine"/>
    <section name="HsVerifyConditionsPluginConfigurationLeavingVdi22" type="Tenaris.Manager.BusinessRules.GetDatas.PluginConfiguration, Tenaris.Manager.BusinessRules.Plugins.HsVerifyConditionsLeavingMachine"/>
    <section name="HsVerifyConditionsPluginConfigurationLeavingSea21" type="Tenaris.Manager.BusinessRules.GetDatas.PluginConfiguration, Tenaris.Manager.BusinessRules.Plugins.HsVerifyConditionsLeavingMachine"/>
    <section name="HsVerifyConditionsPluginConfigurationLeavingSea22" type="Tenaris.Manager.BusinessRules.GetDatas.PluginConfiguration, Tenaris.Manager.BusinessRules.Plugins.HsVerifyConditionsLeavingMachine"/>
    <section name="HsVerifyConditionsPluginConfigurationLeavingPml22" type="Tenaris.Manager.BusinessRules.GetDatas.PluginConfiguration, Tenaris.Manager.BusinessRules.Plugins.HsVerifyConditionsLeavingMachine"/>
    <section name="HsVerifyConditionsPluginConfigurationLeavingPml21" type="Tenaris.Manager.BusinessRules.GetDatas.PluginConfiguration, Tenaris.Manager.BusinessRules.Plugins.HsVerifyConditionsLeavingMachinePml21"/>

    <section name="Tenaris.Manager.Vdi" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />

  </configSections>

  <connectionStrings>
  <!--
      <add name="dbPH21" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.29.10.162)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=DBLINEA1)));User Id=linea1;Password=lineas;" providerName="System.Data.OracleClient" />
    <add name="dbPH22" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.29.10.164)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=DBLINEA2)));User Id=linea2;Password=lineas;" providerName="System.Data.OracleClient" />
    <add name="dbVDILine2" connectionString="Application Name=manager_SpecificationService;Data Source=10.93.1.94;Initial Catalog=DBLINE2;Persist Security Info=True; Integrated Security=SSPI;Max Pool Size=10;" providerName="System.Data.SqlClient"/>
    <add name="dbAmalog22" connectionString="Application Name=manager_SpecificationService;Data Source=10.93.1.108;Initial Catalog=Level2_Line2;Persist Security Info=True; Integrated Security=SSPI;Max Pool Size=10;" providerName="System.Data.SqlClient"/>
    <add name="dbAmalog21" connectionString="Application Name=manager_SpecificationService;Data Source=10.93.1.84;Initial Catalog=DBLINE1;Persist Security Info=True; Integrated Security=SSPI;Max Pool Size=10;" providerName="System.Data.SqlClient"/>

  
  -->
  
  
  

    <!--<add name="dbLevel2" connectionString="Application Name=BusinessRulesManager;Data Source=172.29.108.207;Initial Catalog=RMD_Level2_Line1;User ID=drodriguez;Password=drodriguez;Persist Security Info=True; Integrated Security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="dbLevel2" connectionString="Application Name=BusinessRulesManagerVDI;Data Source=10.92.70.124;Initial Catalog=Level2_Line1;User ID=Level2;Password=Level2;Persist Security Info=True; Integrated Security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <add name="dbLevel2" connectionString="Application Name=BusinessRulesManagerPML;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Cort;Persist Security Info=True; Integrated Security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <!--<add name="dbLevel2" connectionString="Application Name=BusinessRulesManager;Data Source=10.92.70.125;Initial Catalog=Level2_Line2;User ID=Level2;Password=Level2;Persist Security Info=True; Integrated Security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->

    <add name="dbValidation" connectionString="Application Name=BusinessRulesManager;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Trk_Validation;Persist Security Info=True; Integrated Security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="dbEfficiency" connectionString="Application Name=BusinessRulesManager;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Trk_Efficiency;Persist Security Info=True; Integrated Security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

    <add name="dbBme21" connectionString="Application Name=IdentificationManager;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Bz21;Persist Security Info=True; Integrated Security=SSPI;Max Pool Size=10;" providerName="System.Data.SqlClient"/>
    <add name="dbBme22" connectionString="Application Name=IdentificationManager;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Bz22;Persist Security Info=True; Integrated Security=SSPI;Max Pool Size=10;" providerName="System.Data.SqlClient"/>

  </connectionStrings>

  <!-- Acquisition Configuration section OPL Scada -->
  <AcquisitionConfiguration factoryType="Tamsa.OplScada.AcquisitionClient.AcquisitionFactory, Tamsa.OplScada.AcquisitionClient">
    <AcquisitionConfiguration Driver="Tamsa.OplScada.AcquisitionClient.AcquisitionProxy, Tamsa.OplScada.AcquisitionClient" IP="TNACAWFM192.tnsautoca.techint.net" Port="9010"  Timeout="3000" RepeatCount="3" WriteSync="true" />
  </AcquisitionConfiguration>

  <!--<Tenaris.Manager.BusinessRules.HsCutoffDataLinker.Configuration
      IdApplication="23" IdArea="1" HsCode="BSR_GD_LinkFromCT" StringConnection="dbLevel2" idDestinationZone="11" MachineAlarm="L1_PML" CodeAlarm="L1_CT_1">
	</Tenaris.Manager.BusinessRules.HsCutoffDataLinker.Configuration>-->

  <!--<ConfigurationPlugin_BSR_GD_LAVADO>
    <Properties>
      Configuración para línea 1 PH21
      <add PropertyName="PipeToForceAlarmaByDifferentOrder" Value="" />
      <add PropertyName="EntranceHPTZoneCode" Value="BancalEntHPT" />
      <add PropertyName="AlarmMachineCode" Value="L1_PH1" />
      <add PropertyName="OpticalIdRequiredValue" Value="3" />
      <add PropertyName="idAlarmToActivateOnProductChange" Value="L1_PH_1" />
      <add PropertyName="idAlarmToActivateOnError" Value="L1_PH_2" />
      <add PropertyName="DiscardsStation" Value="PH21" />
      <add PropertyName="DiscardsMachineAlarmCode" Value="L1_PH1" />
      <add PropertyName="DiscardsCodeAlarm" Value="L1_PH21_DESC" />
    </Properties>
  </ConfigurationPlugin_BSR_GD_LAVADO>-->

  <Tenaris.Manager.Vdi url="tcp://172.29.12.66:50016/Tenaris.Manager.Vdi.VdiManager.soap" instanceType="Tenaris.Manager.Vdi.Shared.IVdiManager, Tenaris.Manager.Vdi.Shared" aliveInterval="5000" singleInstance="true" validateConnection="false" />

  <!--
  <HsVerifyConditionsPluginConfigurationOn..EXAMPLE
      IdApplication="23"
      HandshakeCode="HANDSHAKE CODE"
      TrackingZoneCode="TRACKING ZONE CODE"
      VisionID="VISION ID OF PREVIOUS STATION TO TRACKING ZONE"
      MachineCode="MACHINE CODE"
      SetDataPipeMode="OnlyOp-PipeDetail"
      PluginActive="0/1 TO ACTIVATE TO WORK THE PLUGIN"
      RuleManometerLock="MANOMETER RULE ON TABLE OF RULES ON LEVEL2 DATABASE"
      VdiStationCode="VDI STATION CODE"
      ManometerValidationEnabled="true-false TO SET IF VALIDATE THE MANOMETER VERIFICATION"
      PresetEtrack="PRESET TO SET IF VALIDATE PIPE ON ETRACK"
      PresetPipeInfo="PRESET TO SET IF UPDATE PIPE INFORMATION WITH MANUAL PROGRAMS OR ENTRANCE"
      PresetHydroTransfer="PRESET TO SET IF HYDROTEST IS IN TRANSFERENCE OR NOT"
      ManometerHoursFromLastVerification="HOURS FROM LAST MANOMETER VERFICATION"
      ManometerDaysFromLastCalibration="DAYS FROM LAST MANOMETER CALIBRATION"
   />
  -->
  <!--<HsVerifyConditionsPluginConfigurationOnHpt
      IdApplication="23"
      HandshakeCode="BSR_GD_HPT"
      TrackingZoneCode="HPT"
      VisionID="3"
      ManualEntranceID="300"
      MachineCode="L1_PH1"
      SetDataPipeMode="PipeDetail"
      PluginActive="1"
      RuleLinkerManager="UPDATING_PH21"
      RuleManometerLock="MANOMETER_PH_LOCK"
      ManometerValidationEnabled="true"
      PresetEtrack="HydroValidateEtrack"
      PresetHydroTransfer="HydroIsTransfer"
      ManometerHoursFromLastVerification="8"
      ManometerDaysFromLastCalibration="10"
      ManometerPressureTimesToCheckIt="02:00,06:00,10:00,14:00,22:00"
   />-->
  <!--<HsVerifyConditionsPluginConfigurationOnHpt
      IdApplication="23"
      HandshakeCode="BSR_GD_HPT"
      TrackingZoneCode="HPT"
      VisionID="2"
      ManualEntranceID="200"
      MachineCode="L2_PH22"
      SetDataPipeMode="OnlyOp"
      PluginActive="1"
      RuleLinkerManager="UPDATING_PH22"
      RuleManometerLock="0"
      ManometerValidationEnabled="true"
      PresetHydroTransfer="HydroIsTransfer"
	    PresetHydroTransferPieces="HPT_TRANSFER"
      ManometerHoursFromLastVerification="8"
      ManometerDaysFromLastCalibration="10"
      ManometerPressureTimesToCheckIt="02:00,06:00,10:00,14:00,22:00"

   />-->
  <!--<HsVerifyConditionsPluginConfigurationOnPml
      IdApplication="23"
      HandshakeCode="BSR_GD_PML"
      TrackingZoneCode="Drifter"
      VisionID="2"
      ManualEntranceID="300"
      MachineCode="L1_PML21"
      SetDataPipeMode=""
      PluginActive="1"
      RuleLinkerManager=""
      PresetEtrack=""
      PresetHydroTransfer=""
   />-->
  <!--<HsVerifyConditionsPluginConfigurationOnPml
      IdApplication="23"
      HandshakeCode="BSR_GD_PML"
      TrackingZoneCode="Drifter"
      VisionID="2"
      ManualEntranceID="300"
      MachineCode="L2_PH22"
      SetDataPipeMode="PipeDetail"
      PluginActive="1"
      RuleLinkerManager="UPDATING_PH22"
      PresetEtrack="HydroValidateEtrack"
      PresetHydroTransfer="DrifterIsTransfer"
   />-->
  <!--<HsVerifyConditionsPluginConfigurationOnPac
      IdApplication="23"
      HandshakeCode=""
      TrackingZoneCode="PAC"
      MachineCode="L1_PAC1"
      PluginActive="0"
   />-->
  
  <!--<HsVerifyConditionsPluginConfigurationOnVdi21
      IdApplication="23"
      HandshakeCode="BSR_GD_InRx21_2"
      TrackingZoneCode="InspeccionRX21"
      VisionID="2"
      ManualEntranceID="200"
      MachineCode="L1_VDI21"
      SetDataPipeMode="OnlyOp"
      PluginActive="1"
      RuleLinkerManager="UPDATING_VDI21"
      PresetHydroTransfer="L1_RX21_STATIONL2"
      VdiStationCode="RX21"
   />
  <HsVerifyConditionsPluginConfigurationOnVdi22
      IdApplication="23"
      HandshakeCode="BSR_GD_InRx22_2"
      TrackingZoneCode="InspeccionRX22"
      VisionID="4"
      ManualEntranceID="400"
      MachineCode="L1_VDI22"
      SetDataPipeMode="OnlyOp"
      PluginActive="1"
      RuleLinkerManager="UPDATING_VDI22"
	  PresetHydroTransfer="L1_RX22_STATIONL2"
      VdiStationCode="RX22"
   />
  <HsVerifyConditionsPluginConfigurationOnSea21
      IdApplication="23"
      HandshakeCode="BSR_GD_Sea21"
      TrackingZoneCode="InspeccionSEA21"
      VisionID="-2"
      ManualEntranceID="250"
      MachineCode="L1_SEA21"
      SetDataPipeMode="OnlyOp"
      PluginActive="1"
      RuleLinkerManager=""
      VdiStationCode="SEA21"
   />
  <HsVerifyConditionsPluginConfigurationOnSea22
      IdApplication="23"
      HandshakeCode="BSR_GD_Sea22"
      TrackingZoneCode="InspeccionSEA22"
      VisionID="-4"
      ManualEntranceID="450"
      MachineCode="L1_SEA22"
      SetDataPipeMode="OnlyOp"
      PluginActive="1"
      RuleLinkerManager=""
      VdiStationCode="SEA22"
   />
  <HsVerifyConditionsPluginConfigurationLeavingVdi21
    IdApplication="23"
    HandshakeCode="BSR_GD_SaRx21"
    TrackingZoneCode="InspeccionRX21"
    MachineCode="L1_VDI21"
    PluginActive="1"
    VdiStationCode="RX21"
    PresetToTransferEnabled="L1_RX21_STATIONL2"
    PresetToStampingEnabled="L1_RX21_STAMPING"
   />
  <HsVerifyConditionsPluginConfigurationLeavingVdi22
    IdApplication="23"
    HandshakeCode="BSR_GD_SaRx22"
    TrackingZoneCode="InspeccionRX22"
	  MachineCode="L1_VDI22"
    PluginActive="1"
    VdiStationCode="RX22"
	  PresetToTransferEnabled="L1_RX22_STATIONL2"
    PresetToStampingEnabled="L1_RX22_STAMPING"
   />
  <HsVerifyConditionsPluginConfigurationLeavingSea21
    IdApplication="23"
    HandshakeCode="BSR_GD_SaSea21"
    TrackingZoneCode="InspeccionSEA21"
    PluginActive="1"
    VdiStationCode="SEA21"
   />
  <HsVerifyConditionsPluginConfigurationLeavingSea22
    IdApplication="23"
    HandshakeCode="BSR_GD_SaSea22"
    TrackingZoneCode="InspeccionSEA22"
    PluginActive="1"
    VdiStationCode="SEA22"
   />-->
  <!--<HsVerifyConditionsPluginConfigurationLeavingPml22
    IdApplication="23"
    HandshakeCode="BSR_GD_SALPML"
    TrackingZoneCode="Drifter"
    PluginActive="1"
   />-->

  <HsVerifyConditionsPluginConfigurationOnPml21
    IdApplication="16"
    HandshakeCode="BSR_GD_PML"
    TrackingZoneCode="PMAN"
    VisionID=""
    ManualEntranceID=""
    MachineCode="PMAN"
    SetDataPipeMode=""
    PluginActive="1"
    RuleLinkerManager=""
    VdiStationCode=""
   />
  <HsVerifyConditionsPluginConfigurationLeavingPml21
    IdApplication="16"
    HandshakeCode="BSR_GD_SPM"
    TrackingZoneCode="PMAN"
    MachineCode="PMAN"
    PluginActive="1"
	eTrackMachineCode="PML21"
	isTest="False"
	Orden="337632"
	Colada="32093"
	Tubo="20424"
   />
   
   <!--TEST-->
  <!--<eTrackManager address="net.tcp://172.29.10.58:6000/Tenaris.Tamsa.eTrack.eTrackManager/eTrackManager" closeTimeout="60" openTimeout="60" receiveTimeout="60" sendTimeout="60"/>-->
  <!--PRODUCTIVO-->
  <eTrackManager address="net.tcp://172.29.10.58:8000/Tenaris.Tamsa.eTrack.eTrackManager/eTrackManager" closeTimeout="60" openTimeout="60" receiveTimeout="60" sendTimeout="60"/>
  

  <Tenaris.Manager.BusinessRules.GenericPlugins.HandshakeConfiguration
		IdApplication="16" IdArea="1" PluginsPath=".\" >
  </Tenaris.Manager.BusinessRules.GenericPlugins.HandshakeConfiguration>

  <Tenaris.Manager.BusinessRules factoryType="Tenaris.Manager.BusinessRules.ManagerFactory, Tenaris.Manager.BusinessRules" isSingleton="True">
    <BusinessRulesManagerConfiguration MinThreads="100" MaxThreads="6000" PluginsPath=".\">
    </BusinessRulesManagerConfiguration>
  </Tenaris.Manager.BusinessRules>

  <appSettings>
    <add key="ConsoleName" value="BSR Nuevo N2 PML21"/>
    <add key="AreaCode" value="LINEA1"/>
    <add key="TagMarkingData" value="POINT_SAMPLES.POINT_01"/>
    <!--  Plugin de  BSR_GD_LinkToAM21 -->
    <add key="Machine_Alarm_AM21" value="L1_AMA21"/>
    <add key="Code_Alarm_AM21_LinkNotWork" value="L1_AM_1"/>
    <add key="BSR_GD_Am21Cr_TrackingZoneIDForCreate" value="9"/>

    <!-- HsTurnOnIdentification -->
    <add key="HsTurnOnIdentification_DB_Amalog21" value="dbAmalog21"/>
    <add key="HsTurnOnIdentification_DB_Bme21" value="dbBme21"/>
    <add key="HsTurnOnIdentification_Count_Bme21" value="0"/>
    <add key="HsTurnOnIdentification_DB_Ph21" value="dbLevel2"/>
    <add key="HsTurnOnIdentification_Count_Ph21" value="0"/>

  </appSettings>

  <Tenaris.Manager.Alarm
	instanceType="Tenaris.Manager.Alarm.Shared.IAlarmManager, Tenaris.Manager.Alarm.Shared"
	aliveInterval="5000"
	singleInstance="true"
	validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM192.tnsautoca.techint.net:49205/Tenaris.Manager.Alarm.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Alarm>

  <Tenaris.Manager.Tracking
	  url="tcp://TNACAWFM192.tnsautoca.techint.net:49203/TrackingManager.soap"
	  instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
	  aliveInterval="1000"
	  singleInstance="true"
	  validateConnection="true"
	  forumPresent="false"
	  isTargetManager="true">
    <Redundancy>
      <Address url="tcp://TNACAWFM192.tnsautoca.techint.net:49203/TrackingManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Tracking>

  <Tenaris.Manager.Handshake
	  instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
	  aliveInterval="5000"
	  singleInstance="true"
	  validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM192.tnsautoca.techint.net:49202/HandshakeManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Handshake>


  <Tenaris.Manager.Preset
  url="tcp://TNACAWFM192.tnsautoca.techint.net:49208/Tenaris.Manager.Preset.PresetManager.soap"
  instanceType="Tenaris.Manager.Preset.Shared.IPresetManager, Tenaris.Manager.Preset.Shared"
  aliveInterval="3000"
  singleInstance="true"
  validateConnection="true">
    <Redundancy>
      <Address url="tcp://TNACAWFM192.tnsautoca.techint.net:49208/Tenaris.Manager.Preset.PresetManager.soap" forumPresent="false" isTargetManager="true" />
    </Redundancy>
  </Tenaris.Manager.Preset>

  <Tenaris.Library.Proxy factoryType="Tenaris.Library.Proxy.Factories.PipeProxyFactory, Tenaris.Library.Proxy">
    <Configuration>
      <Components>
        <Component type="Tenaris.Library.Proxy.Components.ConnectionMonitorComponent, Tenaris.Library.Proxy">
          <Interval>1000</Interval>
        </Component>
      </Components>
      <EventListener type="Tenaris.Library.Proxy.EventListener, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
      <Dispatcher type="Tenaris.Library.Proxy.Dispatchers.DirectMessageDispatcher, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
    </Configuration>
  </Tenaris.Library.Proxy>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ILinkerCTService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IOrderReplicatorService">
          <security mode="None" />
        </binding>
        <binding name="data_tcp" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false"
          transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://172.29.12.184:8011/ETrackHeatProgService"
        binding="netTcpBinding" bindingConfiguration="data_tcp" contract="eTrackProgService.IETrackHeatProgService"
        name="data_tcp" />
      <endpoint address="net.tcp://TNACAWFM192.tnsautoca.techint.net:49222/LinkerCTService"
			  binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILinkerCTService"
			  contract="LinkerCTService.ILinkerCTService" name="NetTcpBinding_ILinkerCTService">
        <identity>
          <dns value="TNACAWFM192.tnsautoca.techint.net" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://TNACAWFM195.tnsautoca.techint.net:8737/OrderReplicatorService"
			  binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOrderReplicatorService"
			  contract="OSR.IOrderReplicatorService" name="NetTcpBinding_IOrderReplicatorService" />
    </client>
  </system.serviceModel>

  <system.runtime.remoting>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="14316" >
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>
    <customErrors mode="off" />
  </system.runtime.remoting>


  <log
	maxFileSize="8096"
	maxFileCount="100"
	msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{ThreadId,-5:d5}] {MethodName} {IdentString} {Message}"
	logLevel="Debug"
	noQueue="true"
	traceAttributeLogEnabled="true"
	path="..\..\..\Logs\Manager\Tenaris.Manager.BusinessRules"
	logBaseName="Tenaris.Manager.BusinessRules"
	additionalLogDestination="Console"
  />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>