<?xml version="1.0"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede t la 
    herramienta Administración de sitios Web para configurar los valores de la aplicación. Utilice
    la opción Sitio Web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <!-- C O N F I G U R A T I O N   C O M M O N   T O   A L L   S U B M O D U L E S -->
    <!--Log Path-->
    <add key="LogLevel" value="Message"/>
    <add key="LogPath" value="C:\Data\Logs\WebHydroTester\"/>
    <add key="LogName" value="HydroTester_V9"/>
    <!-- IP addresses of Client Hosts -->
    <add key="StationAddress_L1" value="10.93.1.35"/>
    <add key="StationAddress_L2" value="10.93.1.38"/>
    <add key="StationAddress_TEST" value="172.29.12.180"/>
    <!-- IP addresses of Acquisition Hosts -->
    <add key="AcquisitorIPAddress_L1" value="10.93.1.34"/>
    <add key="AcquisitorIPAddress_L2" value="10.93.1.37"/>
    <!-- Database configuration -->
    <add key="OracleConnString_L1" value="user id=linea1;data source=DBLINEA1;password=lineas;Connection Lifetime=15;Pooling=false"/>
    <add key="SQLConnString_L1" value="user id=sa;data source=10.93.1.84;initial catalog=DBLINE1;password=Lineas123;Connection Lifetime=15;Connect Timeout=25;Pooling=false"/>
    <add key="OracleConnString_L2" value="user id=linea2;data source=DBLINEA2;password=lineas;Connection Lifetime=15;Pooling=false"/>
    <add key="SQLConnString_L2" value="user id=CVerna;data source=10.92.70.122;initial catalog=AusV1;password=CVerna;Connection Lifetime=15;Connect Timeout=25;Pooling=false"/>
    <add key="SQLConnString_L1_AUS" value="user id=CVerna;data source=10.92.70.120;initial catalog=AusV1;password=CVerna;Connection Lifetime=15;Connect Timeout=25;Pooling=false"/>
    <!--
    <add key="SQLConnString_L2" value="user id=sa;data source=172.29.11.126;initial catalog=INTERRUPTIONS;password=ingdesi;Connection Lifetime=15;Connect Timeout=25;Pooling=false"/>
    -->
    <!-- must be "ORACLE" or "SQL" -->
    <add key="DBManager" value="ORACLE"/>
    <!-- Actual names of stored procedures -->
    <!-- stored procedures common for all submodules -->
    <add key="spGetUserPrivileges" value="SP_PH_GET_PRIVILEGES"/>
    <!-- stored procedures for history -->
    <add key="spGetProduction" value="SP_PH_GET_PRODUCTION"/>
    <add key="spGetGraphData" value="SP_PH_GET_GRAPH_DATA"/>
    <!-- stored procedures for identification -->
    <add key="spDeleteGraphs" value="SP_PH_BORRA_GRAFICAS"/>
    <add key="spGetGraphsAndTubesCount" value="SP_PH_GET_GRAPHS_TUBES_COUNT"/>
    <add key="spGetIdentificationsCount" value="SP_PH_GET_IDENT_COUNT"/>
    <add key="spGetCopiedToProduction" value="SP_PH_GET_COPIED_TO_PROD"/>
    <add key="spGetGraphsRecords" value="SP_PH_GET_GRAPHS_RECORDS_VCC"/>
    <!--EXISTE SOLO EL L2-->
    <!--<add key="spGetGraphsRecords" value="SP_PH_GET_GRAPHS_RECORDS"/>-->
    <!--Para L1-->
    <add key="spGetIdentificationsRecords" value="SP_PH_GET_IDENT_RECORDS"/>
    <add key="spDeleteIdentifications" value="SP_PH_DELETE_IDENT"/>
    <add key="spGetProductOfOrder" value="SP_PH_GET_PRODUCT_OF_ORDER"/>
    <add key="spVerifyTubeAlreadyCaptured" value="SP_PH_VERY_ALREADY_CAPTURED"/>
    <add key="spAddIdentifications" value="SP_PH_ADD_IDENT"/>
    <add key="spAddOneIdentification" value="SP_PH_ADD_ONE_IDENT"/>
    <add key="spVerifySameProduct" value="SP_PH_VERY_SAME_PRODUCT"/>
    <add key="spGetDataOfIdentification" value="SP_PH_GET_IDENT_DATA"/>
    <add key="spEditIdentification" value="SP_PH_EDIT_IDENT"/>
    <add key="spVerifyTubeInETrack" value="SP_PH_VERY_TUBE_IN_ETRACK"/>
    <add key="spStartStopEdition" value="SP_PH_START_STOP_IDENT_EDITION"/>
    <add key="spAddOrderingOffset" value="SP_PH_ADD_ORDERING_OFFSET"/>
    <add key="spTopIdentifications" value="SP_PH_CHANGE_ORDERING"/>
    <add key="spGetTubesOfOrder" value="SP_PH_GET_TUBES_OF_ORDER_VCC"/>
    <!-- stored procedures for real time graph -->
    <add key="spValidationLastError" value="SP_PH_VALI_LAST_ERROR"/>
    <add key="spGetOrderData" value="SP_PH_GET_ORDER_DATA"/>
    <add key="spGetDataOfCurrentIdentification" value="SP_PH_GET_CUR_IDENT_DATA"/>
    <add key="spCurrentGraphEvaluationData" value="SP_PH_GET_CUR_GRAPH_EVAL_DATA"/>
    <add key="spGetCurrentGraphStatus" value="SP_PH_GET_CUR_GRAPH_STATUS"/>
    <!-- stored procedures for presets -->
    <add key="spGetPresetsHistory" value="SP_PH_GET_PRESETS_HISTORY_V2"/>
    <add key="spGetPresetsFromIT" value="SP_PH_GET_PRESETS_FROM_IT_V2"/>
    <add key="spSetTraceabilityOfOrder" value="SP_PH_SET_TRACE_OF_ORDER"/>
    <add key="spDownloadRecipeFromBrocker" value="InsertaDatosOP_PH_ALFA"/>
    <add key="spSendPresets" value="SP_PH_SEND_PRESETS"/>
    <add key="spAddPresets" value="SP_PH_ADD_PRESETS"/>
    <add key="spGetPresetsAvailable" value="SP_PH_GET_AVAILABLE_PRESETS_V2"/>
    <!-- IT Communications Timeout (in seconds) -->
    <add key="ITCommunicationsTimeout" value="25"/>
    <!-- Parameters of the process of test used to evaluate its graphs -->
    <!-- Upper bound parameter based on a constant amount of PSI -->
    <add key="UpperBoundInPSI" value="280"/>
    <!-- Upper bound parameter based on a percentage of the lower bound -->
    <add key="UpperBoundInPercentage" value="5"/>
    <!-- Upper bound parameter based on if pressure less to 3000 PSI -->
    <add key="PressureLimit" value="3000"/>
    <add key="UpperBoundInPSI2" value="150"/>
    <!-- Session start configuration -->
    <!-- must be 0 always, except when debugging from visual studio when has to be 1 -->
    <!--<add key="Debugging" value="0"/>-->
    <!-- C O N F I G U R A T I O N   O F   P R E S E T S   S U B M O D U L E -->
    <!-- System Validations Formulas (used to unlock them) -->
    <!-- Its parameters are: -->
    <!-- Y - Year -->
    <!-- M - Month -->
    <!-- D - Day -->
    <!-- H - Hour -->
    <!-- m - Minute -->
    <add key="Formula_GraphStored" value="D+H+(H*H*H)"/>
    <add key="Formula_GraphOK" value="M*D*H*H*H"/>
    <add key="Formula_Identification" value="M*D*H*H*H"/>
    <add key="Formula_ETrack" value="M*D*H*H*H"/>
    <!-- Presets -->
    <!-- Presets tags count -->
    <add key="PresetsTagsCount" value="11"/>
    <!-- Presets tags listing -->
    <add key="PresetsTag_0" value="PH22TAGS1.TAG_1"/>
    <add key="PresetsTag_1" value="PH22TAGS1.TAG_2"/>
    <add key="PresetsTag_2" value="PH22TAGS1.TAG_3"/>
    <add key="PresetsTag_3" value="PH22TAGS1.TAG_4"/>
    <add key="PresetsTag_4" value="PH22TAGS1.TAG_5"/>
    <add key="PresetsTag_5" value="PH22TAGS1.TAG_6"/>
    <add key="PresetsTag_6" value="PH22TAGS1.TRANSFERENCIA_ORDEN"/>
    <add key="PresetsTag_7" value="PH22TAGS1.VALIDACION_GRAFICA"/>
    <add key="PresetsTag_8" value="PH22TAGS1.VALIDACION_PRUEBA_OK"/>
    <add key="PresetsTag_9" value="PH22TAGS1.VALIDACION_DATOS_OK"/>
    <add key="PresetsTag_10" value="PH22TAGS1.VALIDACION_ETRACK"/>
    <!-- Offset from current turn for available presets already downloaded (in minutes) -->
    <add key="OffsetForAvailablePresets" value="960"/>
    <!-- C O N F I G U R A T I O N   O F   R E A L   T I M E   G R A P H   S U B M O D U L E -->
    <add key="IvisionSoapService.Service" value="http://localhost/"/>
    <!-- Names of the shared memories used to communicate graph values and other parameters 
         to Real Time Graph clients. One memory applies for Line 1 and the other for Line 2 -->
    <add key="SharedMemoryName_L1" value="PH_GRAPH_L1"/>
    <add key="SharedMemoryName_L2" value="PH_GRAPH_L2"/>
    <add key="StandardNumberOfSamples" value="50"/>
    <!-- PLC Tags Addresses configuration -->
    <add key="CurrentTubeIdTagAddress" value="PH22TAGS1.ID_TUBO_ACTUAL_N1"/>
    <add key="UnlockFlagTagAddress" value="PH22TAGS1.DESBLOQUEO_TUBO"/>
    <add key="OperatorUnlockFlagTagAddress" value="PH22TAGS1.DESBLOQUEO_OPERADOR"/>
    <add key="TransferencesCounterTestTagAddress" value="PH22TAGS1.CONTADOR_TRANSFERENCIAS_PRUEBA"/>
    <add key="TransferencesCounterOperatorTagAddress" value="PH22TAGS1.CONTADOR_TRANSFERENCIAS_MANDRIL"/>
    <!-- C O N F I G U R A T I O N   O F   I D E N T I F I C A T I O N   S U B M O D U L E -->
    <!-- 0 - Product of top graph and product of top identification must be the same so that -->
    <!--     this module alows the confirmation of top identification to be after matched to -->
    <!--     such top graph with same product by acquisitor -->
    <!-- 1 - Product of top graph and product of top identification must NOT be the same so that -->
    <!--     this module alows the confirmation of top identification to be after matched to -->
    <!--     such top graph by acquisitor. Instead of requiring the products to be the same, -->
    <!--     the attributes of such products (pressure of test and time of test) are required -->
    <!--     to be the same. The result is that the validation made to allow the association -->
    <!--     of graphs with its identification is softer and more tolerant with mistakes -->
    <!--     operators make while setting the orders to PLC -->
    <add key="ValidateProductsAttributes" value="1"/>
    <!--     Fraction of a day used to verify wheter a tube being captured by operator is already -->
    <!--     into the system -->
    <add key="CaptureWindowOfTime" value="0.3"/>
    <!--     Number of records of type "copied to production" to be rendered to user -->
    <add key="NumRecsOfCopiedToProduction" value="10"/>
    <!-- load order grid fields information -->
    <add key="LoadOrderOrderFieldIndex" value="0"/>
    <add key="LoadOrderHeathFieldIndex" value="1"/>
    <add key="LoadOrderTrackingFieldIndex" value="4"/>
    <!-- C O N F I G U R A T I O N   O F   H I S T O R Y   S U B M O D U L E -->
    <!-- history grid fields information -->
    <add key="HistoryOrderFieldIndex" value="0"/>
    <add key="HistoryProgressiveFieldIndex" value="2"/>
    <add key="HistoryNumOfTestFieldIndex" value="7"/>
    <add key="HistoryUnlockFieldIndex" value="8"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
    <identity impersonate="true" userName="Administrator" password="Tamsa01" />
    <compilation debug="true">
      <compilers>
        <compiler language="c#;cs;csharp" extension=".cs" compilerOptions="/unsafe" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </compilers>
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            La sección <authentication> permite configurar 
            el modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
    <authentication mode="None"/>
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="*"/>
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--
            La sección <customErrors> permite configurar 
            las acciones que se deben llevar a cabo/cuando un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <sessionState cookieless="false" timeout="525500"/>
    <pages/>
  </system.web>
</configuration>