<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DBImageViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <add name="test" connectionString="Application Name=Tenaris.Manager.Identification.IdentificationManagerDBImageViewer;Data Source=10.92.70.124;Initial Catalog=L1Am21;User ID=drodriguez;Password=drodriguez;Persist Security Info=True;Max Pool Size=10;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <userSettings>
        <DBImageViewer.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <!--<value>Application Name=Tenaris.Manager.Identification.IdentificationManagerDBImageViewer;Data Source=10.93.1.85;Initial Catalog=Level2_Linea2;User ID=level2;Password=123level2123;Persist Security Info=True;Max Pool Size=10;</value>-->
              <value>Application Name=Tenaris.Manager.Identification.IdentificationManagerDBImageViewer;Data Source=10.92.70.124;Initial Catalog=L1Am21;User ID=drodriguez;Password=drodriguez;Persist Security Info=True;Max Pool Size=10;</value>
            </setting>
            <setting name="MachineCode" serializeAs="String">
                    <value>L1_AMA21</value>
            </setting>	
            <setting name="WindowTitle" serializeAs="String">
                    <value>LAM21</value>
            </setting>				
        </DBImageViewer.Properties.Settings>
    </userSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="data_tcp">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://172.29.12.184:8010/ETrackHeatProgService"
        binding="netTcpBinding" bindingConfiguration="data_tcp" contract="IETrackHeatProgService"
        name="data_tcp" />
    </client>
  </system.serviceModel>	
	
</configuration>



