<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="Tenaris.Manager.TraceabilityIdentification" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SimulatedVisionService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Tenaris.Manager.TraceabilityIdentification.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <Tenaris.Manager.TraceabilityIdentification factoryType="Tenaris.Manager.TraceabilityIdentification.PluginFactory, Tenaris.Manager.TraceabilityIdentification" isSingleton="True">
    <PluginConfiguration uriAddress="net.tcp://localhost:4462/TraceabilityIdentification" lastCapturesCount="10"/>
  </Tenaris.Manager.TraceabilityIdentification>

  <log  maxFileCount="100"
      maxQueueSize="10000"
      noQueue="true"
      maxFileSize="8096"
      dumpStack="true"
      msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{AppDomainName,-20}:{ThreadId,-5:d5}] [lap={LapFriendlyValue,-10:f2}{LapFriendlyUnit,4}] {AssemblyName,-15} {IdentString} {Message}"
      logLevel="Debug"
      traceAttributeLogEnabled="false"
      additionalLogDestination="Console"
      logBaseName="TraceabilityIdentification"/>

  <!--  msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{AppDomainName,-20}:{ThreadId,-5:d5}] [lap={LapFriendlyValue,-10:f2}{LapFriendlyUnit,4}] {AssemblyName,-15} {IdentString} {Message}"-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <userSettings>
    <SimulatedVisionService.Properties.Settings>
      <setting name="OP" serializeAs="String">
        <value>269880</value>
      </setting>
      <setting name="Colada" serializeAs="String">
        <value>76422</value>
      </setting>
      <setting name="Offset" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value>D:\Appls\Temp\Heisenberg.png</value>
      </setting>
      <setting name="Autonumber" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DMString" serializeAs="String">
        <!--<value>57630900051129</value>-->
        <value></value>
      </setting>
    </SimulatedVisionService.Properties.Settings>
  </userSettings>
</configuration>
