<?xml version="1.0"?>
<configuration>

  <!-- esta seccion debe ser la primera antes de todo -->
  <configSections>
    <section name="Tenaris.Manager.Identification.IdentificationManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="TestMailSenderConfiguration" type="Tamsa.Manager.Identification.TestMailSender.Config.ConfigStationClient, Tamsa.Manager.Identification.TestMailSender"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <Tenaris.Manager.Identification.IdentificationManager instanceType="Tamsa.Manager.Identification.Shared.Contract.ITenaris.Manager.Identification.IdentificationManager, Tamsa.Manager.Identification.Shared" aliveInterval="5000" singleInstance="true" validateConnection="false">
    <Redundancy>
      <Address url="tcp://10.92.70.84:50020/Tenaris.Manager.Identification.IdentificationManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Identification.IdentificationManager>
  
  <TestMailSenderConfiguration 
      stationCode="L1_AMA21" 
      stationName="LAM21"
      ocurrencesToNotify="2"
      cameraCodeCases="OcrOkDmOk,OcrEmpDmOk,OcrOkDmBad,OcrEmpDmBad,OcrIncDmOk,OcrIncDmBad,Timeout,VisionGeneralError,VisionTimeoutResult"
      cameraCasesMailTo="drodriguezm@tenaris.com"
      logicalCasesMailTo="drodriguezm@tenaris.com,cbenuccim@proveedores.tamsa.com.mx,jsaballo@tenaris.com"
      />

  <!--Remoting configuration. This can be placed in a separate file named remoting.config-->
  <system.runtime.remoting>
    <application name="Client">
      <channels>
        <channel ref="tcp" port="0">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <log maxFileSize="8192" msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}" logLevel="Debug" traceAttributeLogEnabled="false" logBaseName="TestMailSender" additionalLogDestination="Console"/>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="PostSharp" publicKeyToken="B13FD38B8F9C99D7" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <system.serviceModel>
  <bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IMailSender">
     <security mode="None" />
    </binding>
   </netTcpBinding>
  </bindings>
  <client>
   <endpoint address="net.tcp://172.29.10.172:8731/Service1" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IMailSender" contract="MailService.IMailSender"
    name="NetTcpBinding_IMailSender">
    <identity>
     <dns value="172.29.10.172" />
    </identity>
   </endpoint>
  </client>
 </system.serviceModel>
</configuration>
