<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Tenaris.Manager.Identification.IdentificationManager"                           type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
    <section name="ManagerBaseConfiguration"                        type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared" />
    <section name="ManagerConfiguration"                            type="Tamsa.Manager.Identification.Config.Tenaris.Manager.Identification.IdentificationManagerConfig, Tamsa.Manager.Identification"/>
    <section name="Tenaris.Manager.TraceabilityIdentification"      type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="Tenaris.Manager.Handshake.HandshakeManager"                                type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.Command.CommandManager"                                  type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.Alarm.AlarmManager"                                    type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Tracking.TrackingManager"                                 type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="log"                                             type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <connectionStrings>
    <add name="Level2" connectionString="Application Name=Tenaris.Manager.Identification.IdentificationManager;Data Source=10.92.70.162;Failover Partner=10.92.70.164;Initial Catalog=L1Am21;User ID=Level2;Password=123Level2123;Persist Security Info=True;Max Pool Size=10;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!-- Configuration used by factory to create the manager -->
  <Tenaris.Manager.Identification.IdentificationManager
    factoryType="Tamsa.Manager.Identification.Tenaris.Manager.Identification.IdentificationManagerFactory, Tamsa.Manager.Identification"
    isSingleton="True"
    sectionName="ManagerBaseConfiguration"
    />
	
  <appSettings>
    <add key="UseeTrackValidationService" value="true"/>
    <!--Key = Codigo de máquina de visión
        Value = Zona de tracking, Maquina de alarma, código de alarma, Validar contra etrackProgService (1 o 0)-->
    <add key="CND" value="RotadoresLaminillos,test,test,1" />
  </appSettings>	

  <ManagerBaseConfiguration
    areaCode="Line1_NDT"
    defaultConnectionStringName="Level2"
    />

  <ManagerConfiguration
    appName="TraceabilityManager"
    IdentificationIdUsage="2">
    <TraceabilityMachineList>
      <TraceabilityMachine stationCode="CND"
                           informationByHs="false"
                           hsType="notification"
                           forceGetLastCapturesWhenHsRetry="true"
                           processTimeOutEventsAsNormalEvents="false"
                           tryGetLastCapturesOnVisionTimeout="true"
						   retrieveOldVisionDataBeforeStartingTheTimer="true"
                           maxWaitingTimeForIdentificationCaptureEvent="20000"
                           cleanProcessedOkInformation="false"
                           alwaysSendAssistanceData="true"
                           sendAssistanceDataOnEarlyEvents="false"
                           hsIdentification="TY_TRAC1_IDENT"
                           cmdUnlock="CM_TY_TRAC1_IDENTU"
                           endPointTraceabilityIdentification="ServiceClient1"
						   HsResponsePluginType="Tamsa.Manager.Identification.HsResponsePlugin.HsResponsePlugin, Tamsa.Manager.Identification.HsResponsePlugin"
                           ValidationPluginType="Tamsa.Manager.Identification.ValidationPlugin_AM21.ValidationPlugin_AM21, Tamsa.Manager.Identification.ValidationPlugin_AM21"
                           TrackingActionsPluginType="Tamsa.Manager.Identification.TrackingActionsPlugin_AM21.TrackingActionsPlugin_AM21, Tamsa.Manager.Identification.TrackingActionsPlugin_AM21"
						   saveHistoryPictures="true"
						   unlockOnErrors="false"						   
						   ConfirmEarlyEvents="False"
						   HsFilterSeconds="0"
                           />
    </TraceabilityMachineList>
  </ManagerConfiguration>



  <Tenaris.Manager.TraceabilityIdentification factoryType="Tenaris.Manager.TraceabilityIdentification.Client.ClientFactory, Tenaris.Manager.TraceabilityIdentification.Client" isSingleton="True">
    <ClientConfiguration serviceEndPoint="ServiceClient"/>
  </Tenaris.Manager.TraceabilityIdentification>

  <system.serviceModel>
    <bindings>

      <customBinding>
        <binding name="ServiceSoapCustom">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
              messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
              maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
              bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
              keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
              realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
              useDefaultWebProxy="true" />
        </binding>
      </customBinding>

      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOrderReplicatorService" />
		<binding name="ServiceSoap" />
      </basicHttpBinding>

      <netTcpBinding>
        <binding name="netTcpSecBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="01:00:00" sendTimeout="01:00:00" transferMode="Buffered">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="None" />
          </security>
          <reliableSession />
        </binding>
        
        <binding name="NetTcpBinding_IOrderReplicatorService">
                          <security mode="None">
                                <transport clientCredentialType="Windows" />
                                <message clientCredentialType="Windows" />
                          </security>
        </binding>
        
        <!--binding name="data_tcp">
          <security mode="None" />
        </binding-->
        
		<binding name="data_tcp" closeTimeout="00:00:03" openTimeout="00:00:03" receiveTimeout="00:00:03" sendTimeout="00:00:03"
                 transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="28" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:59:59" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>	  		
		
        <binding name="ServiceClient" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="01:00:00" sendTimeout="01:00:00"
                 transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="28" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:59:59" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <client>
	
	<endpoint address="http://172.29.12.184:8080/EtrackPipeValidationService/Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="ServiceSoap" name="ServiceSoap" />

      <endpoint address="http://172.29.12.184:8080/EtrackPipeValidationService/Service.asmx"
                     binding="customBinding" bindingConfiguration="ServiceSoapCustom"
                     contract="PipeStatusValidationServiceSoap" name="ServiceSoapCustom" />					 
					 
      <endpoint address="net.tcp://10.92.70.84:8737/OrderReplicatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOrderReplicatorService"
                contract="ORS.IOrderReplicatorService" name="NetTcpBinding_IOrderReplicatorService" />


      <endpoint address="net.tcp://172.29.12.184:8011/ETrackHeatProgService"
                    binding="netTcpBinding" bindingConfiguration="data_tcp" contract="IETrackHeatProgService"
                    name="data_tcp" />

      <endpoint address="http://10.92.70.84:8732/Design_Time_Addresses/OrderReplicator.Service/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderReplicatorService"
                contract="OrderReplicatorService.IOrderReplicatorService"
                name="BasicHttpBinding_IOrderReplicatorService" />

      <endpoint address="net.tcp://10.92.71.169:4462/TraceabilityIdentification" binding="netTcpBinding" bindingConfiguration="ServiceClient"
               contract="Tenaris.Manager.TraceabilityIdentification.Service.Shared.ITraceabilityIdentificationService" name="ServiceClient1">
        <identity>
          <dns value="10.92.71.169" />
        </identity>
      </endpoint>
    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="false"
                        includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <Tenaris.Manager.Alarm.AlarmManager
            instanceType="Tenaris.Manager.Alarm.Shared.ITenaris.Manager.Alarm.AlarmManager, Tenaris.Manager.Alarm.Shared"
            aliveInterval="5000"
            singleInstance="true"
            validateConnection="false">
    <Redundancy>
      <Address url="tcp://10.92.70.160:50011/Tenaris.Manager.Alarm.AlarmManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Alarm.AlarmManager>


  <Tenaris.Manager.Handshake.HandshakeManager
   instanceType="Tenaris.Manager.Handshake.Shared.ITenaris.Manager.Handshake.HandshakeManager, Tenaris.Manager.Handshake.Shared"
   aliveInterval="5000"
   singleInstance="true"
   validateConnection="false">
    <Redundancy>
      <Address url="tcp://10.92.70.160:50004/Tenaris.Manager.Handshake.Tenaris.Manager.Handshake.HandshakeManager.soap"
               forumPresent="false"
               isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Handshake.HandshakeManager>

  <Tenaris.Manager.Command.CommandManager
   instanceType="Tenaris.Manager.Command.Shared.ITenaris.Manager.Command.CommandManager, Tenaris.Manager.Command.Shared"
   aliveInterval="5000"
   singleInstance="true"
   validateConnection="true">
    <Redundancy>
      <Address url="tcp://10.92.70.160:50005/Tenaris.Manager.Command.Tenaris.Manager.Command.CommandManager.soap"
               forumPresent="false"
               isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Command.CommandManager>

  <Tenaris.Manager.Tracking.TrackingManager
		instanceType="Tenaris.Manager.Tracking.Shared.ITenaris.Manager.Tracking.TrackingManager, Tenaris.Manager.Tracking.Shared"
		aliveInterval="5000"
		singleInstance="true"
		validateConnection="true">
    <Redundancy>
      <Address url="tcp://10.92.70.160:50006/Tenaris.Manager.Tracking.Tenaris.Manager.Tracking.TrackingManager.soap"
               forumPresent="false"
               isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Tracking.TrackingManager>



  <!--Remoting configuration. This can be placed in a separate file named remoting.config-->
  <system.runtime.remoting>
    <customErrors mode="off" />
    <application name="Server">
      <channels>
        <channel ref="tcp" port="50022" bindTo="172.29.108.178">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <!--  msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"-->

  <log
    maxFileSize="8192"
    msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{ThreadId,-5:d5}] [lap={LapFriendlyValue,-10:f2}{LapFriendlyUnit,4}] {AssemblyName,-15} {IdentString} {Message}"
    maxFileCount="150"
	logLevel="Debug"
    traceAttributeLogEnabled="true"
	path="D:\Appls\Tenaris\Logs\Line1\Tenaris.Manager.Identification.IdentificationManagerAM21\"
    logBaseName="Tenaris.Manager.Identification.IdentificationManager"
    additionalLogDestination="Console"
	logAssemblyLoad="true"
  />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;"/>
    </assemblyBinding>
  </runtime>

</configuration>
