<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		
		<section name="Tenaris.Library.Proxy" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
		<section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
		<section name="Tenaris.Manager.Tracking" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
		<section name="eTrackConfiguration" type="Tenaris.Tamsa.eTrack.Shared.eTrackConfiguration, Tenaris.Tamsa.eTrack.Shared"/>
		<section name="eTrackManager" type="Tenaris.Tamsa.eTrack.Shared.eTrackManagerConfigurationHost, Tenaris.Tamsa.eTrack.Shared"/>
	</configSections>
	<appSettings>
		<add key="IpServer" value="TNACAWFM191.tnsautoca.techint.net"></add>
		<add key="PortServer" value="10031"></add>
	</appSettings>
	<eTrackManager address="net.tcp://10.92.7.71:6001/Tenaris.Tamsa.eTrack.eTrackManager/eTrackManager" closeTimeout="60" openTimeout="60" receiveTimeout="60" sendTimeout="60"/>

	<eTrackConfiguration>

	</eTrackConfiguration>
	<system.serviceModel>
		
			<services>
				<service name="Tenaris.Tamsa.FAT2.eTrack.Bridge.eTrackBridgeUtility" behaviorConfiguration="MetadataBehavior">
					<endpoint address="" binding="wsHttpBinding" contract="Tenaris.Tamsa.FAT2.eTrack.Bridge.iEtrackBridgeUtility" />
					<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				</service>
			</services>
			<behaviors>
				<serviceBehaviors>
					<behavior name="MetadataBehavior">
						<serviceDebug includeExceptionDetailInFaults="True" httpHelpPageEnabled="True" />
						<serviceMetadata httpGetEnabled="True"/>
					</behavior>
				</serviceBehaviors>
			</behaviors>
	</system.serviceModel>

	<Tenaris.Library.Proxy factoryType="Tenaris.Library.Proxy.Factories.PipeProxyFactory, Tenaris.Library.Proxy">
		<Configuration>
			<Components>
				<Component type="Tenaris.Library.Proxy.Components.ConnectionMonitorComponent, Tenaris.Library.Proxy">
					<Interval>1000</Interval>
				</Component>
			</Components>
			<EventListener type="Tenaris.Library.Proxy.EventListener, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
			<Dispatcher type="Tenaris.Library.Proxy.Dispatchers.DirectMessageDispatcher, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
		</Configuration>
	</Tenaris.Library.Proxy>
	
	<system.runtime.remoting>
		<application name="Server">
			<channels>
				<channel ref="tcp" port="10031">
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</serverProviders>
					<clientProviders>
						<provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</clientProviders>
				</channel>
			</channels>
		</application>
		<customErrors mode="off"/>
	</system.runtime.remoting>
	<!-- configuracion del log de la vista -->
	<log
		maxFileSize="8096"
		maxFileCount="20"
		msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{ThreadId,-5:d5}] [lap={LapFriendlyValue,-10:f2}{LapFriendlyUnit,4}] {AssemblyName,-15} {IdentString} {Message}"
		logLevel="Debug"
		traceAttributeLogEnabled="true"
		path="..\..\..\Logs\Service\Tenaris.Tamsa.FAT2.eTrack.Bridge\"
		logBaseName="Tenaris.Tamsa.FAT2.eTrack.Bridge.Host"
		additionalLogDestination="Console"
		logAssemblyLoad="false"
  />
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>