<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="LinkerCTManagerHostConfiguration" type="Tenaris.Library.System.Factory.FactoryConfiguration, Tenaris.Library.System"/>

		<section name="ManagerProxyFactory" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
		<section name="ClientProxyFactory" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
		<section name="ServerProxyFactory" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>

		<!-- CONFIGURACION PARA LOG -->
		<section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>

	<connectionStrings>
		<add name="ManagerDbConnection" connectionString="Application Name=LinkerCT;Server=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Cort;Persist Security Info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
	</connectionStrings>


	<LinkerCTManagerHostConfiguration factoryType="Tenaris.Manager.LinkerCT.LinkerCTManagerFactory, Tenaris.Manager.LinkerCT" isSingleton="True">
		<LinkerCTManagerConfiguration connectionString="ManagerDbConnection"/>
	</LinkerCTManagerHostConfiguration>

	<appSettings>
		<add key="Procedure_SPGetPipeDataByTracking" value="[BusinessRules].[SpGetTrackingDataByIdTracking]"/>
	</appSettings>

	<!-- Configuración de Proxy Dinamico para los objetos SAO (los managers) -->
	<ManagerProxyFactory factoryType="Tenaris.Library.Proxy.Factories.PipeProxyFactory, Tenaris.Library.Proxy">
		<Configuration>
			<Components>
				<Component type="Tenaris.Library.Proxy.Components.ConnectionMonitorComponent, Tenaris.Library.Proxy">
					<Interval>5000</Interval>
				</Component>
			</Components>
			<Dispatcher type="Tenaris.Library.Proxy.Dispatchers.RemotingMessageDispatcher, Tenaris.Library.Proxy"/>
			<EventListener type="Tenaris.Library.Proxy.EventListeners.ProxyEventListener, Tenaris.Library.Proxy"/>
		</Configuration>
	</ManagerProxyFactory>

	<!-- Configuración de Proxy Dinamico para los objetos CAO (MarshallByRefObject devueltos como resultado de un método) -->
	<ClientProxyFactory>
		<Configuration>
			<Interceptors/>
		</Configuration>
	</ClientProxyFactory>

	<ServerProxyFactory>
		<Configuration>
			<Interceptors/>
		</Configuration>
	</ServerProxyFactory>

	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="tcp" port="49221" >
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</serverProviders>
					<clientProviders>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</clientProviders>
				</channel>
			</channels>
		</application>
		<customErrors mode="Off"/>
	</system.runtime.remoting>

	<system.serviceModel>
		<services>
			<service behaviorConfiguration="WcfServiceLibrary1.Service1Behavior" name="Tenaris.Manager.LinkerCT.WCF.LinkerCTService">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="WindowsClientOverTcp" contract="Tenaris.Manager.LinkerCT.WCF.ILinkerCTService">
					<identity>
						<dns value="TNACAWFM192.tnsautoca.techint.net"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://TNACAWFM192.tnsautoca.techint.net:49222/LinkerCTService"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="WcfServiceLibrary1.Service1Behavior">
					<serviceMetadata httpGetEnabled="false"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<netTcpBinding>
				<binding name="WindowsClientOverTcp">
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
			</layout>
		</appender>

		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="ALL"/>
				<param name="LevelMax" value="OFF"/>
			</filter>
			<param name="DatePattern" value="LinkerCT'.'yyyyMMdd'.log' "/>
			<param name="File" value="..\..\..\Logs\Manager\Tenaris.Manager.LinkerCT\"/>
			<param name="AppendToFile" value="true"/>
			<param name="rollingStyle" value="Date"/>
			<param name="maxSiLinkerCTllBackups" value="10"/>
			<param name="maximumFileSize" value="4MB"/>
			<param name="staticLogFileName" value="false"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="Header" value="[BEGIN_LOG %date{yyyy-MM-dd HH:mm} =========================] %newline" type="log4net.Util.PatternString"/>
				<param name="Footer" value="[END_LOG %date{yyyy-MM-dd HH:mm} =========================]" type="log4net.Util.PatternString"/>
			</layout>
		</appender>
		<root>
			<appender-ref ref="LogFileAppender"/>
			<appender-ref ref="ConsoleAppender"/>
		</root>
	</log4net>

	<log maxQueueSize="10000" dumpStack="true" msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{ThreadId,-5:d5}] &gt;&gt;&gt; {Message}" />

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
