<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="Linea 1" connectionString="Application Name=CycleTimeWeb;Data Source=10.92.70.124;Initial Catalog=Level2_Line1;User ID=Level2;Password=Level2;Persist Security Info=True;MultipleActiveResultSets=False;" providerName="System.Data.SqlClient"/>
    <!--<add name="Linea 1" connectionString="Application Name=CycleTimeWeb;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=AusV1;User ID=Level2;Password=Lineas123;Persist Security Info=True;MultipleActiveResultSets=False;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="L1_AMA21" value="L1_AMA21"></add>
    <add key="L1_PH1" value="L1_PH1"></add>
    <add key="L1_RX21" value="L1_RX21"></add>
    <add key="L1_SEA21" value="L1_SEA21"></add>
    <add key="L1_RX22" value="L1_RX22"></add>
    <add key="L1_SEA22" value="L1_SEA22"></add>
    <add key="L1_PAC1" value="L1_PAC1"></add>
    <add key="L1_VDI21" value="L1_VDI21"></add>
    <add key="L1_VDI22" value="L1_VDI22"></add>
    <add key="L1_PML" value="L1_PML"></add>
    <add key="L1_BME" value="L1_BME"></add>
    <add key="L1_PP_PIN" value="L1_PP_PIN"></add>
    <add key="L1_PP_BOX" value="L1_PP_BOX"></add>
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="Error"/>
        <foreColor value="Red, HighIntensity"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
    <appender name="CycleTimeReport" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL"/>
        <param name="LevelMax" value="OFF"/>
      </filter>
      <param name="DatePattern" value="'.'yyyyMMdd'.log' "/>
      <param name="File" value="Logs\CycleTimeReport"/>
      <param name="AppendToFile" value="true"/>
      <param name="rollingStyle" value="Date"/>
      <param name="maxSizeRollBackups" value="10"/>
      <param name="maximumFileSize" value="4MB"/>
      <param name="staticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[BEGIN_LOG %date{yyyy-MM-dd HH:mm} ===] %newline" type="log4net.Util.PatternString"/>
        <param name="Footer" value="[END_LOG %date{yyyy-MM-dd HH:mm} =====] %newline" type="log4net.Util.PatternString"/>
      </layout>
    </appender>
    <logger name="Tenaris.Library.Log">
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="CutOffReport"/>
    </logger>
  </log4net>
  <log maxQueueSize="10000" dumpStack="true" msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss:fff} [{ThreadId}] {IdentString} {Message}"/>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="3500000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
