<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared"/>
    <section name="Tenaris.Manager.Cutoff.CutoffManager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="Tenaris.Manager.Handshake.HandshakeManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="DalFactory" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  
    <section name="Tenaris.Manager.Tracking.TrackingManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.Production.ProductionManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.Command.CommandManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Service.Specification" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
	  <section name="Tenaris.Manager.Cutoff.Data.DbClientProvider" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="Tenaris.Manager.Preset.PresetManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
  </configSections>

  <connectionStrings>
    <add name="dbLevel2" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Cort;Persist Security Info=True; Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=CutOffManager" providerName="System.Data.SqlClient"/>
  </connectionStrings>
 
  <Tenaris.Manager.Cutoff.Data.DbClientProvider factoryType="Tenaris.Manager.Cutoff.Data.DbClientProvider.DataAccessFactory, Tenaris.Manager.Cutoff.Data.DbClientProvider" isSingleton="true">
    <DalConfiguration connectionStringName="dbLevel2" timeout="9000" isProgramItemsRequired="true"/>
  </Tenaris.Manager.Cutoff.Data.DbClientProvider>
  
  <ManagerBaseConfiguration areaCode="LINEA1" defaultConnectionStringName="dbLevel2"/>

  <DalFactory factoryType="Tenaris.Deen.Library.Framework.Data.Dals.DalFactoryImp, Tenaris.Deen.Library.Framework.Data" isSingleton="true">
    <Configuration autoRegister="false" defaultSessionName="sql">
      <DbSessionFactory type="Tenaris.Deen.Library.Framework.Data.DbSessions.AdoDbSessionFactory, Tenaris.Deen.Library.Framework.Data" isSingleton="true" />
      <Dals>
        <Dal interfaceType="Tenaris.Manager.Cutoff.Data.Interface.IMachineDal" implementationType="Tenaris.Manager.Cutoff.Data.MachineDal, Tenaris.Manager.Cutoff"/>
        <Dal interfaceType="Tenaris.Manager.Cutoff.Data.Interface.IPipeCutHistoryDal" implementationType="Tenaris.Manager.Cutoff.Data.PipeCutHistoryDal, Tenaris.Manager.Cutoff"/>
      </Dals>
    </Configuration>
  </DalFactory>

  <Tenaris.Manager.Cutoff.CutoffManager factoryType="Tenaris.Manager.Cutoff.CutoffManagerFactory, Tenaris.Manager.Cutoff" isSingleton="True">
    <Configuration applicationId="23" sessionName="dbLevel2" handshakeManagerName="Tenaris.Manager.Handshake.HandshakeManager">
      <Machines>
          <Machine machineCode="C21" commandMachineCode="TRK_C21" adjustmentOffsetPresetCode="C21_OffsetAjuste">
            <CropLengthProvider name="C21CropLengthProvider" type="Tenaris.Manager.Cutoff.Controllers.V1.CropLengthProvider, Tenaris.Manager.Cutoff.Controllers.V1" isSingleton="false">
              <Configuration offset="0" precision="2" n2CropLengthEgu="CM" n1CropLengthEgu="MM" n2MeasureEgu="CM" n1MeasureEgu="MM"/>
            </CropLengthProvider>
            <MachineController  name="C21Controller" type="Tenaris.Manager.Cutoff.Controllers.V1.HandshakeCutoffMachineController,Tenaris.Manager.Cutoff.Controllers.V1" isSingleton="false"/>
          </Machine>
          <Machine machineCode="C22" commandMachineCode="TRK_C22" adjustmentOffsetPresetCode="C22_OffsetAjuste">
            <CropLengthProvider name="C22CropLengthProvider" type="Tenaris.Manager.Cutoff.Controllers.V1.CropLengthProvider, Tenaris.Manager.Cutoff.Controllers.V1" isSingleton="false">
              <Configuration offset="0" precision="2" n2CropLengthEgu="CM" n1CropLengthEgu="MM" n2MeasureEgu="CM" n1MeasureEgu="MM"/>
            </CropLengthProvider>
            <MachineController  name="C22Controller" type="Tenaris.Manager.Cutoff.Controllers.V1.HandshakeCutoffMachineController,Tenaris.Manager.Cutoff.Controllers.V1" isSingleton="false"/>
          </Machine>
      </Machines>
      <TrackingController type="Tenaris.Manager.Cutoff.Controllers.V1.TrackingController, Tenaris.Manager.Cutoff.Controllers.V1" isSingleton="false">
        <Configuration trackingManagerFactory="Tenaris.Manager.Tracking.TrackingManager" />
      </TrackingController>
      <ProductionController type="Tenaris.Manager.Cutoff.Controllers.V1.ProductionController,Tenaris.Manager.Cutoff.Controllers.V1" isSingleton="false">
        <Configuration productionManagerFactory="Tenaris.Manager.Production.ProductionManager"/>
      </ProductionController>
      <CommandController type="Tenaris.Manager.Cutoff.Controllers.V1.CommandController, Tenaris.Manager.Cutoff.Controllers.V1" isSingleton="false">
        <Configuration commandManagerFactory="Tenaris.Manager.Command.CommandManager"/>
      </CommandController>
      <SpecificationController type="Tenaris.Manager.Cutoff.Controllers.V1.SpecificationController, Tenaris.Manager.Cutoff.Controllers.V1" isSingleton="true">
        <Configuration specificationManagerFactory="Tenaris.Service.Specification" specificationServiceEndPoint="SpecificationService"/>
      </SpecificationController>
	   <PresetController type="Tenaris.Manager.Cutoff.Controllers.V1.PresetController, Tenaris.Manager.Cutoff.Controllers.V1" isSingleton="false">
        <Configuration presetManagerFactory="Tenaris.Manager.Preset.PresetManager" />
      </PresetController>
    </Configuration>
  </Tenaris.Manager.Cutoff.CutoffManager>


  <Tenaris.Manager.Production.ProductionManager
    url="tcp://TNACAWFM192.tnsautoca.techint.net:49204/Tenaris.Manager.Production.ProductionManager.soap"
    instanceType="Tenaris.Manager.Production.Shared.IProductionManager, Tenaris.Manager.Production.Shared"
    aliveInterval="1000"
    singleInstance="false"
    forumPresent="false"
    validateConnection="true"
    isTargetManager="true"/>
  
  <Tenaris.Manager.Tracking.TrackingManager
    url="tcp://TNACAWFM192.tnsautoca.techint.net:49203/TrackingManager.soap"
    instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
    aliveInterval="1000"
    singleInstance="false"
    forumPresent="false"
    validateConnection="true"
    isTargetManager="true"/>

  <Tenaris.Manager.Command.CommandManager
    url="tcp://TNACAWFM192.tnsautoca.techint.net:49201/Tenaris.Manager.Command.soap"
    instanceType="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared"
    aliveInterval="1000"
    singleInstance="false"
    forumPresent="false"
    validateConnection="true"
    isTargetManager="true"/>

	 <Tenaris.Manager.Preset.PresetManager
    url="tcp://TNACAWFM192.tnsautoca.techint.net:49208/Tenaris.Manager.Preset.PresetManager.soap"
    instanceType="Tenaris.Manager.Preset.Shared.IPresetManager, Tenaris.Manager.Preset.Shared"
    aliveInterval="3000"
    singleInstance="true"
    validateConnection="true" />
	
	<!--url="tcp://TNACAWFM192.tnsautoca.techint.net:49202/Tenaris.Manager.Handshake.HandshakeManager.soap"--> <!-- USADO EN HOST GENERICO - FORUM -->
  <Tenaris.Manager.Handshake.HandshakeManager 
	url="tcp://TNACAWFM192.tnsautoca.techint.net:49202/HandshakeManager.soap"
                                             instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
                                             aliveInterval="1000" singleInstance="false" forumPresent="false" validateConnection="true" isTargetManager="true"/>

  <Tenaris.Service.Specification factoryType="Tenaris.Tamsa.Service.SpecificationService.Client.SpecificationServiceFactory, Tenaris.Tamsa.Service.SpecificationService.Client" isSingleton="True">
    <SpecificationServiceConfiguration serviceName="SpecificationService" specificationServiceEndPoint="SpecificationService" monitoringInterval="2000" />
   </Tenaris.Service.Specification>
  
  <log
    maxFileSize="8096"
    maxFileCount="100"
    maxQueueSize="10000"
    logLevel="Debug"
    traceAttributeLogEnabled="true"
    path="..\..\..\Logs\Manager\Tenaris.Manager.CutOff\"
    logBaseName="CutOffManager"
    additionalLogDestination="Console"
    logAssemblyLoad="true"
    dumpStack="true"
	 msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {ThreadId,-5:d5} ; {Message} ; {MethodName}"/>
  

  <system.runtime.remoting>
    <customErrors mode="off"/>
    <application>
      <channels>
        <channel ref="tcp" port="49219" >
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="RoleEndPoint" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false"
            transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
            maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:01:00"
              enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>

        <binding name="netTcpBinding_Config">
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
    <!--"net.tcp://10.93.1.33:49207/ServiceSpecification/Specification"-->
    <client>
      <endpoint address="net.tcp://TNACAWFM192.tnsautoca.techint.net:49207/ServiceSpecification/Specification"
      behaviorConfiguration="ServiceClientEndpointBehavior"
      binding="netTcpBinding"
      bindingConfiguration="netTcpBinding_Config"
      contract="Tenaris.Tamsa.Service.SpecificationService.Shared.Interfaces.ISpecificationServiceWCFContract"
      name="SpecificationService" />
      <endpoint address="net.tcp://TNACAWFM192.tnsautoca.techint.net:49207/ServiceSpecification/EventContract"
        behaviorConfiguration="ServiceClientEndpointBehavior"
        binding="netTcpBinding"
        bindingConfiguration="netTcpBinding_Config"
        contract="Tenaris.Tamsa.Service.SpecificationService.Shared.Interfaces.ISpecificationServiceWCFCallBackContract"
        name="SpecificationServiceCallBack" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceClientEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
  
</configuration>