<?xml version="1.0"?>
<configuration>

  <configSections>

    <section name="ViewConfiguration"
             type="Tenaris.Tamsa.FIN.LP1.View.MaterialHandling.Config.ViewConfiguration, Tenaris.Tamsa.FIN.LP1.View.MaterialHandling"/>

    <section name="TrackingManager"
             type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>

    <section name="log"
             type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>


    <!-- configuracion del security modo cliente -->
    <section name="Tenaris.Library.Security" 
             type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>

    <!-- configuracion del security modo stand alone -->
    <!--<section name="Tenaris.Library.Security" 
             type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>-->


    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Tenaris.Tamsa.FIN.LP1.View.MaterialHandling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
  </configSections>


  <connectionStrings>
    <add name="Level2" connectionString="Application Name=MaterialHandling;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=Level2_LinePipe; Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  
  <ViewConfiguration dskMgr="true" 
                     areaCode="COFI" 
                     showDeadZone="false"
                     />

  
  <TrackingManager
      url="tcp://TNACAWFM190.tnsautoca.techint.net:9501/Tenaris.Manager.Tracking.soap"
      instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
      aliveInterval="1000"
      singleInstance="true"
      validateConnection="true"
      forumPresent="false"
      isTargetManager="true">
    <Redundancy>
    </Redundancy>
  </TrackingManager>


  <!-- TO DO - Security config
  
  Para permitir la edicion en la vista debe agregase en la base de datos :
  
  Tabla Common.Application la aplicacion con code : "MaterialHandling"
  Tabla Security.ApplicationCommand el comando : "ALLOWEDIT"  
  
  y finalmente hacer la relacion en la tabla Security.GroupPolicy para
  todos aquellos grupos que tenga permiso de edicion
 
  -->

  <!-- Configuracion security modo cliente -->
  <Tenaris.Library.Security
      url="tcp://localhost:8041/Tenaris.Service.Security.soap"
      instanceType="Tenaris.Service.Security.Shared.ISecurityService, Tenaris.Service.Security.Shared"
      aliveInterval="0"
      validateConnection="true"
      singleInstance="true"
      forumPresent="false"
      isTargetManager="false">
    <Redundancy>
    </Redundancy>
  </Tenaris.Library.Security>
  

  <!-- Configuracion security modo stand alone  -->
  <!--<Tenaris.Library.Security factoryType="Tenaris.Service.Security.FactoryLocal, Tenaris.Service.Security" isSingleton="true">
    <SecurityConfiguration ConnectionStringName="Level2"
      AuthenticationType="Database"
      DefaultZoneCode="NONE"/>
  </Tenaris.Library.Security>-->



  <system.runtime.remoting>
    <application name="Client">
      <channels>
        <channel ref="tcp" port="0">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <!-- Log configuration -->
  <log
    maxFileSize="8096"
    msgFormat="{Timestamp:HH:mm:ss.fff} ; {Level,-7} ; {ClassName} ; {Message} ; {MethodName}"
    logLevel="Message"
    path="\\TNACAWFM190.tnsautoca.techint.net\Appls\Logs\%UserName%\MaterialHandling\"
    traceAttributeLogEnabled="false"
    additionalLogDestination="Console"
    logBaseName="MaterialHandling"
    />
  
  
  <applicationSettings>
    <Tenaris.Tamsa.FIN.LP1.View.MaterialHandling.Properties.Settings>
      <setting name="AllowScale" serializeAs="String">
        <value>False</value>
      </setting>
    </Tenaris.Tamsa.FIN.LP1.View.MaterialHandling.Properties.Settings>
  </applicationSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
