<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="ToolsetViewConfiguration" type="Tenaris.View.Toolset.Model.ViewConfiguration, Tenaris.View.Toolset.Model"/>

    <!--SECURITY: MODE CLIENT-->
    <section name="Tenaris.Library.Security" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>

    <!--SECURITY: STAND ALONE-->
    <!--<section name="Tenaris.Library.Security" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>-->

  </configSections>

  <connectionStrings>
    <add name="ConnString" connectionString="Application Name=ToolsetView;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Cort;Persist Security Info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <!-- Toolset view configuration -->
  <ToolsetViewConfiguration CultureInfo="es-MX"
                            DskMgr="true"
                            NameService="ToolsetService"
                            AreaCode="All"
                            AppName="Control de Instrumentos de línea 1 Tamsa 2"
                            DBConnectionStringName="ConnString"
                            UsingSecurity="true"
                            UnlockPolicy="UNLOCK"
                            UsePolicy="USE"
                            VerifPolicy="USE"
                            TransferPolicy="TRANSFER"
                            AddManualToolPolicy="USE"
                            AddToolPolicy="USE"
                            BlockerAlarmNumber ="3"
                            MachineCode ="L1_PML"
                            WarningWindowWidth="2000"
                            WarningWindowHeight="1000"
                            MachinesCodeToView="L1_PML"
                            PathTemplateByVerification ="Templates/TemplateReportByVerification.xls"
                            DisableVerification="false"
                            MandrelLengthTolerance="99999.0"
                            WastageTolerance ="-1"
                            diameterToleranceMin="-0.01"
                            diameterToleranceMax ="1"
                            lengthToleranceMin="-0"
                            lengthToleranceMax="1"
                            />
  <!--VerifPolicy="VERIF"  CultureInfo="en-US"Timeout="100000"-->


  <!--SECURITY: STAND ALONE-->
  <!--<Tenaris.Library.Security factoryType="Tenaris.Service.Security.FactoryLocal, Tenaris.Service.Security" isSingleton="True">
    <SecurityConfiguration ConnectionStringName="ConnString" AuthenticationType="Database" DefaultZoneCode="NONE"/>
  </Tenaris.Library.Security>-->


  <!--SECURITY: MODE CLIENT-->
	<Tenaris.Library.Security
		 url="tcp://10.92.71.33:49209/Tenaris.Service.Security.soap"
		 instanceType="Tenaris.Service.Security.Shared.ISecurityService, Tenaris.Service.Security.Shared"
		 aliveInterval="0"
		 validateConnection="true"
		 singleInstance="true"
		 forumPresent="false"
		 isTargetManager="false">
		<Redundancy>
		</Redundancy>
	</Tenaris.Library.Security>



  <!--WCF configuration.-->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="ServiceClient" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!--10.92.3.93   10.92.30.110 localhost-->
      <endpoint address="net.tcp://10.92.70.84:50033/ToolsetService/" binding="netTcpBinding" bindingConfiguration="ServiceClient" contract="Tenaris.Service.Toolset.Shared.Proxy.IToolsetService" name="ToolsetService">
        <identity>
          <dns value="10.92.70.84"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>


  <system.runtime.remoting>
    <application name="Client">
      <channels>
        <channel ref="tcp" port="0">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <log maxFileSize="14096"
  logLevel="Debug"
  msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss} [{ThreadId,-5:d5}] {MethodName} {IdentString} {Message}"
  noQueue="true"
  path="Logs\"
  traceAttributeLogEnabled="true"
  logBaseName="Tenaris.View.Toolset"
  additionalLogDestination="Console"
  logAssemblyLoad="false"
  />



  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>




</configuration>
