<?xml version="1.0"?>
<configuration>

  <!-- esta seccion debe ser la primera antes de todo -->
  <configSections>
    <section name="TrackingManager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />
	
	<!-- Configuracion Handshake Inproc, incluye AcquisitionConfiguration-->
    <section name="Tenaris.Manager.Handshake.HandshakeManager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework, Version=4.1.0.0, Culture=neutral, PublicKeyToken=d69ca37b4d4b73b8"/>
	 <section name="AcquisitionConfiguration" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
	
	<!-- Configuracion Handshake Outproc -->
    <!--<section name="Tenaris.Manager.Handshake.HandshakeManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>-->
	
	
    <section name="CommandManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="DefaultStatusChangePlugin" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>

    <!-- <section name="Tenaris.Library.Proxy" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>-->
  </configSections>

  <connectionStrings>
    <add name="Level2" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Cort;Persist Security Info=True; Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=Manager_Tracking; Pooling=true; Max Pool Size=10;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

   <ManagerBaseConfiguration areaCode="LINEA1" defaultConnectionStringName="Level2" />
	
  <!-- Configuration used by factory to create the manager -->
  <TrackingManager
      factoryType="Tenaris.Manager.Tracking.TrackingManagerFactory, Tenaris.Manager.Tracking"
      isSingleton="True" >
    <TrackingManagerConfiguration handshakeExecutionTimeout="0" handshakeResultWriteTimeout="0" statusChangePluginSectionName="DefaultStatusChangePlugin"/>
  </TrackingManager>

  <DefaultStatusChangePlugin 
    factoryType="Tenaris.Manager.Tracking.Plugin.Shared.DefaultStatusChangePluginFactory, Tenaris.Manager.Tracking.Plugin.Shared" 
    isSingleton="True">
    <DefaultStatusChangePluginConfiguration DatabaseConnectionStringName="Level2"/>
  </DefaultStatusChangePlugin>

   <!--Handshake manager configuration Inproc-->
   <Tenaris.Manager.Handshake.HandshakeManager factoryType="Tenaris.Manager.Handshake.HandshakeFactory, Tenaris.Manager.Handshake, Version=4.1.0.0, Culture=neutral, PublicKeyToken=3baa981d53c5ce4a" isSingleton="true">
    <HandshakeManagerConfiguration
        HandshakeReturnsResultAndTriggerCopy="true"
        Testing="false"
        HandledDefinitionList="">
    </HandshakeManagerConfiguration>
  </Tenaris.Manager.Handshake.HandshakeManager>

  <!-- Requerido para el Handshake Manager Inproc, caso contrario (Outproc) no se requiere -->
  <AcquisitionConfiguration factoryType="Tamsa.OplScada.AcquisitionClient.AcquisitionFactory, Tamsa.OplScada.AcquisitionClient">
    <AcquisitionConfiguration Driver="Tamsa.OplScada.AcquisitionClient.AcquisitionProxy, Tamsa.OplScada.AcquisitionClient" IP="TNACAWFM192.tnsautoca.techint.net" Port="9010"  Timeout="3000" RepeatCount="3" WriteSync="true" />
  </AcquisitionConfiguration>
  
  <!-- Requerido para el Handshake Manager Inproc, usado con Wedjet -->
  <!--<AcquisitionConfiguration factoryType="Tenaris.Library.IAcquisition.Wedjet.AcquisitionFactory, Tenaris.Library.IAcquisition.Wedjet">
    <WedjetConfiguration wedjetConfigurationFile="wedjet.xml"/>
  </AcquisitionConfiguration>-->
  
  
  <!--Handshake manager configuration Outproc-->
  <!--<Tenaris.Manager.Handshake.HandshakeManager
    instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="false">
    <Redundancy>
      <Address url="tcp://172.29.12.224:49202/Tenaris.Manager.Handshake.HandshakeManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Handshake.HandshakeManager>
-->
 

  <!--Command manager configuration-->
  <CommandManager
    url="tcp://TNACAWFM192.tnsautoca.techint.net:49201/Tenaris.Manager.Command.soap"
    instanceType="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=85d881d6f906ae36"
    aliveInterval="5000" forumPresent="false" isTargetManager="true" singleInstance="true" validateConnection="false" 
  />

  <!--Remoting configuration. This can be placed in a separate file named remoting.config-->
  <system.runtime.remoting>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="49203" timeout="10000" > <!--bindTo="10.41.186.128"-->
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>
    <customErrors mode="off" />
  </system.runtime.remoting>

  
  <!--     msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {ThreadId,-5:d5} ; {Message} ; {MethodName}" -->
 <log
    maxFileSize="8096"
	maxFileCount="900"
	msgFormat="{TypeChar} {Timestamp:HH:mm.ss.fff} [lap={LapFriendlyValue,-10:f2}{LapFriendlyUnit,4}] {AssemblyName,-15}; {ThreadId,-5:d5} ; {MethodName} {IdentString} {Message}"
    logLevel="Debug"
	noQueue="true"
    traceAttributeLogEnabled="false"
	path="..\..\..\Logs\Manager\Tenaris.Manager.Tracking\"
    logBaseName="Tenaris.Manager.Tracking"
    additionalLogDestination="Console"
    logAssemblyLoad="false"
  />

  <!-- <Tenaris.Library.Proxy factoryType="Tenaris.Library.Proxy.Factories.PipeProxyFactory, Tenaris.Library.Proxy">
    <Configuration>
      <Components>
        <Component type="Tenaris.Library.Proxy.Components.ConnectionMonitorComponent, Tenaris.Library.Proxy" >
          <Interval>1000</Interval>
        </Component>
      </Components>
      <EventListener type="Tenaris.Library.Proxy.EventListener, Tenaris.Library.Proxy"/>
      <Dispatcher type="Tenaris.Library.Proxy.Dispatchers.DirectMessageDispatcher, Tenaris.Library.Proxy"/>
    </Configuration>
  </Tenaris.Library.Proxy> -->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
