<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="Tenaris.Manager.Alarm" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tamsa.Common.Manager.TraceabilityValidation.Manager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <!--<section name="Tenaris.Manager.Tracking" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy "/>-->
    <section name="LinePluginConfiguration" type="Tamsa.Common.Manager.TraceabilityValidation.PluginShared.Configuration.PluginConfiguration, Tamsa.Common.Manager.TraceabilityValidation.PluginShared"/>
    <section name="AlarmsConfiguration" type="Tamsa.Common.Manager.TraceabilityValidation.Manager.Configuration.ValidationAlarmsConfiguration, Tamsa.Common.Manager.TraceabilityValidation.Manager"/>
    <section name="Tenaris.Manager.Handshake" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.Command" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="TelegramGeneratorConfigSection" type="Tamsa.Common.Manager.TraceabilityValidation.DataMatrixGenerator.Configuration.TelegramGeneratorConfiguration, Tamsa.Common.Manager.TraceabilityValidation.DataMatrixGenerator"/>
    <section name="ReaTcpCommunicationConfigSection" type="Tamsa.Common.Manager.TraceabilityValidation.ReaTCPCommunication.Configuration.ReaTcpCommunicationControllerConfig, Tamsa.Common.Manager.TraceabilityValidation.ReaTCPCommunication"/>
    <!--<section name="AcquisitionConfiguration" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>-->
    <section name="Tenaris.Manager.Shift" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
  </configSections>


  <connectionStrings>
    <add name="dbLevel2" connectionString="Application Name=TraceabilityValidation;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Am21;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True; Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- Common configuration section (AM22) -->
  <ManagerBaseConfiguration areaCode="Line1_NDT" defaultConnectionStringName="dbLevel2"/>

  <!-- Handshake Manager Connection AM22-->
  <!-- Shift manager configuration -->
  <Tenaris.Manager.Shift
     instanceType="Tenaris.Manager.Shift.Shared.IShiftManager, Tenaris.Manager.Shift.Shared, Version=4.2.0.0, Culture=neutral, PublicKeyToken=c58e4ef934a092e9"
     aliveInterval="5000"
     singleInstance="true"
     validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM191.tnsautoca.techint.net:50003/Tenaris.Manager.Shift.ShiftManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Shift>

  <Tenaris.Manager.Handshake
  instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
  aliveInterval="5000"
  singleInstance="true"
  validateConnection="true">
    <Redundancy>
      <Address url="tcp://TNACAWFM191.tnsautoca.techint.net:50004/Tenaris.Manager.Handshake.HandshakeManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Handshake>


  <!-- Command Manager Connection (AM22)  -->
  <Tenaris.Manager.Command
   instanceType="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared"
   aliveInterval="5000"
   singleInstance="true"
   validateConnection="true">
    <Redundancy>
      <Address url="tcp://TNACAWFM191.tnsautoca.techint.net:50005/Tenaris.Manager.Command.CommandManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Command>


  <!-- Alarm manager configuration-->
  <Tenaris.Manager.Alarm
    instanceType="Tenaris.Manager.Alarm.Shared.IAlarmManager, Tenaris.Manager.Alarm.Shared"
  aliveInterval="5000"
  singleInstance="true"
  validateConnection="false">
    <Redundancy>
      <Address url="tcp://TNACAWFM191.tnsautoca.techint.net:50011/Tenaris.Manager.Alarm.AlarmManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Alarm>

  <!-- Tracking manager configuration -->
  <!--<Tenaris.Manager.Tracking
    instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="true">
    <Redundancy>
      <Address url="tcp://10.93.1.40:21005/Tenaris.Manager.Tracking.TrackingManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.Tracking>-->


  <!-- Line Plugin Configuration (AM22) -->
  <LinePluginConfiguration Name="AM21LinePlugin" AssemblyName="Tamsa.Common.Manager.TraceabilityValidation.Plugin.AM21" PluginType="Tamsa.Common.Manager.TraceabilityValidation.Plugin.AM21.Plugin">
    <Properties>
      <!-- Pipe Identification Data for testing-->
      <!--<add PropertyName="DataIdentificationTest" Value="123,276758,81590,20339,10,2,275,6,5" />-->
      <!--Validation Properties. Must be specified on each implementation-->
      <add PropertyName="ValidationEndPointName" Value="ValidationServiceClient"/>
      <add PropertyName="NorthValidationFirst" Value="false"/>
      <add PropertyName="OcrOrderValidationCode" Value="ORDER"/>
      <add PropertyName="OcrHeatValidationCode" Value="HEAT"/>
      <add PropertyName="OcrPipeNumberValidationCode" Value="NUMBERPIPE"/>
      <add PropertyName="OcrCheckDigitValidationCode" Value="CHECKDIGIT"/>
      <add PropertyName="DM1Data" Value="DM1 Data"/>
      <add PropertyName="DM2Data" Value="DM2 Data"/>
	  <add PropertyName="DM3Data" Value="DM3 Data"/>
    </Properties>
  </LinePluginConfiguration>

  <!-- Alarms Configuration (AM22) PENDIENTE POR CONFIGURAR-->
  <AlarmsConfiguration MachineCode="CND">
    <Mappings>
      <add ValidationAlarmPlcCode="SomeDigitsNotValidated" ManagerAlarmCode="TRACVALSDNV" />
      <add ValidationAlarmPlcCode="MaskNotFound" ManagerAlarmCode="TRACVALMNF" />
      <add ValidationAlarmPlcCode="MaskNotEqualToPipeData" ManagerAlarmCode="TRACVALMNEPD" />
      <add ValidationAlarmPlcCode="ConsecutiveValidationFails" ManagerAlarmCode="TRACVALCVF" />
      <add ValidationAlarmPlcCode="CommErrorWithValidationApp" ManagerAlarmCode="TRACVALCOMMERR" />
      <add ValidationAlarmPlcCode="GeneralError" ManagerAlarmCode="TRACVALGENERR" />
    </Mappings>
  </AlarmsConfiguration>

  <!--REA Telegram Generator Configuration-->
  <!--<TelegramGeneratorConfigSection
      DataMatrixLocation="Right"
      ExtremeLocation="Right"
      PrintStyleNorth="MaskFirst"
      PrintStyleSouth="DataMatrixFirst"
      SpacesBetweenMaskAndExtreme="5"
      InitSpaces="1"
      SpaceBetweenDM="1"
      SpacesBetweenMask="1"
    />-->

  <TelegramGeneratorConfigSection
      DataMatrixLocation="Right"
      ExtremeLocation="Left"
      PrintStyleNorth="DataMatrixFirst"
      PrintStyleSouth="MaskFirst"
      SpacesBetweenMaskAndExtreme="5"
      InitSpaces="1"
      SpaceBetweenDM="1"
      SpacesBetweenMask="1"
	  GenerateOCRInAssignVariablesMode="false"
    />

  <!--REA TCP Commnunication Configuration-->
  <ReaTcpCommunicationConfigSection
    IP="TNACAWFM191.tnsautoca.techint.net"
    Port="4000"
    MaxConnectionRetryCount="100000"
    ConnectionRetryTimeout="2000"
	  LogDataToSend="true"
  />

  <!--TraceabilityManagerConfiguration (BME) -->
  <Tamsa.Common.Manager.TraceabilityValidation.Manager factoryType="Tamsa.Common.Manager.TraceabilityValidation.Manager.Factory.ManagerFactory, Tamsa.Common.Manager.TraceabilityValidation.Manager" isSingleton="true" >
    <TraceabilityManagerConfiguration>
      <IdMachine>1</IdMachine>
      <ApplicationCode>MarkingManager</ApplicationCode>
      <MarkingActive>true</MarkingActive>
      <ValidationActive>true</ValidationActive>
      <PurgeActive>true</PurgeActive>
      <ConsecutiveValidationErrorToSendLockStation>99999</ConsecutiveValidationErrorToSendLockStation>
      <!-- TODO: A activar alarmas. Desactivadas por pruebas -->
      <SendAlarmOnConsecutiveFailedValidations>true</SendAlarmOnConsecutiveFailedValidations>
      <CallETrackCreateHeatProgramAfterMarking>true</CallETrackCreateHeatProgramAfterMarking>
      <ETrackServiceEndPointConfigurationName>ETrackService</ETrackServiceEndPointConfigurationName>
      <LinePluginConfigSection>LinePluginConfiguration</LinePluginConfigSection>
      <AlarmsConfigSection>AlarmsConfiguration</AlarmsConfigSection>
      <HSMarkingCode>TY_REA_MARKING</HSMarkingCode>
      <HSValidationCode>TY_REA_VAL</HSValidationCode>
      <HSPurgeCode>TY_REA_PURGE</HSPurgeCode>
      <CMDEndValidation>CM_TY_REA_VALU</CMDEndValidation>
      <TelegramGeneratorConfigSection>TelegramGeneratorConfigSection</TelegramGeneratorConfigSection>
      <ReaTcpControllerConfigSection>ReaTcpCommunicationConfigSection</ReaTcpControllerConfigSection>
      <PrintHeadMask>true</PrintHeadMask>
      <PrintTailMask>true</PrintTailMask>
      <ReaACKTimeout>1500</ReaACKTimeout>
      <PurgeInitEndTimeout>500</PurgeInitEndTimeout>
      <SendLocationChar>true</SendLocationChar>
      <PrintHeadFirst>false</PrintHeadFirst>
      <PrintAndValidateOnlyOCRIfDMDataNotPresent>true</PrintAndValidateOnlyOCRIfDMDataNotPresent>
      <MarkingProcessorStencilSendRetryCount>3</MarkingProcessorStencilSendRetryCount>
      <AutoAssignTelegramCounter>true</AutoAssignTelegramCounter>
	  <ValidationCapturesExpected>2</ValidationCapturesExpected>
    </TraceabilityManagerConfiguration>
  </Tamsa.Common.Manager.TraceabilityValidation.Manager>


  <log
	  maxFileSize="100000"
	  maxFileCount="40"
	  msgFormat="{Timestamp:HH:mm:ss.fff} ; {Level,-7} ; {ThreadId,-5:d5} ; {Message} ; {MethodName}"
	  logLevel="Debug"
	  noQueue="true"
	  path="..\..\..\Logs\Manager\Tenaris.Manager.Marking\"
	  traceAttributeLogEnabled="false"
	  logBaseName="TraceabiliytiValidationManager"
	  additionalLogDestination="Console"
	  logAssemblyLoad="true"
  />


  <!-- Remoting configuration. This can be put in a separete file remoting.config-->
  <system.runtime.remoting>
    <customErrors mode="off" />
    <application name="Server">
      <channels>
        <channel ref="tcp" port="50023"  timeout="10000">
          <!--bindTo="XX.XX.XX.XX"-->
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <!-- WCF Bindings config -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>

        <!--Binding configuration for ETRACK Service -->
        <binding name="ETrackService">
          <security mode="None" />
        </binding>

        <!--Binding configuration for Validation Interface Service client -->
        <!--<binding name="ValidationServiceClient" closeTimeout="00:00:05" openTimeout="00:00:05" receiveTimeout="10675199.02:48:05.4775807" sendTimeout="10675199.02:48:05.4775807"
                 transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
                 listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="28" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="10675199.02:48:05.4775807" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>-->
        <binding name="ValidationServiceClient" closeTimeout="00:00:05" openTimeout="00:00:05" receiveTimeout="10675199.02:48:05.4775807" sendTimeout="00:00:03"
                    transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
                    listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="28" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="10675199.02:48:05.4775807" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!--Endpoint configuration for Etrack service client -->
      <endpoint address="net.tcp://TNACAWFM191.tnsautoca.techint.net:8010/ETrackHeatProgService"
                binding="netTcpBinding" bindingConfiguration="ETrackService" contract="ServiceClient.IETrackHeatProgService"
                name="ETrackService" />

      <!--Endpoint configuration for Validation Interface Service client -->
      <endpoint address="net.tcp://TNACAWFM191.tnsautoca.techint.net:4460/TraceabilityValidationPlugin/" binding="netTcpBinding" bindingConfiguration="ValidationServiceClient"
              contract="Tenaris.Traceability.Manager.Validation.Plugin.WCF.Contract.IPluginWCF" name="ValidationServiceClient">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

    </client>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
