<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <section name="ProductionShipments" type="Tenaris.Service.ProductionShipments.Configuration.ProductionShipmentSection, Tenaris.Service.ProductionShipments.Configuration"/>
    <section name="TrackingManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
  </configSections>
  <connectionStrings>    
	<add name="ConnString" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Cort;Persist Security Info=True; Integrated Security=SSPI;MultipleActiveResultSets=True;Application Name=ProductionShipments; Pooling=true; Max Pool Size=10;" providerName="System.Data.SqlClient"/>
    <!--<add name="Swaging" connectionString="Application Name=ProductionShipments.WEB;Data Source=172.29.109.14;Initial Catalog=GMM_Level2_Premium31;User ID=Level2;Password=123Level2123;Persist Security Info=True; Integrated Security=SSPI;MultipleActiveResultSets=False;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>

  <appSettings>
    <add key="Printer" value=""/>
    <add key="WatchedZone" value=""/>
    <add key="SP_GetGroup" value="[ProductionTamsa].[GetGroup]"/>
    <add key="SP_GetGroupsByStatus" value="[ProductionTamsa].[GetGroupsByStatus]"/>
    <add key="SP_UpdateStatusGroup" value="[ProductionTamsa].[UpdateStatusGroup]"/>
    <add key="SP_GetTrackingPassByZone" value="[ProductionTamsa].[GetTrackingPassPendingByZone]"/>
    <add key="SP_GetTrackingPassData" value="[ProductionTamsa].[GetTrackingPassData]"/>
    <add key="SP_InsertGroup" value="[ProductionTamsa].[InsGroup]"/>
    <add key="SP_InsertItem" value="[ProductionTamsa].[InsItem]"/>
    <add key="SP_DeleteItem" value="[ProductionTamsa].[DelItem]"/>
    <add key="SP_UpdatePieces" value="[ProductionTamsa].[UpdatePiecesInGroup]"/>
	<add key="SP_GetElaborations" value="[Exit].[GetElaborations]"/>

    <add key="SP_GetItemsInGroup" value="[ProductionTamsa].[GetItemsInGroup]"/>
    <add key="SP_GetItemsToUpdateTrackingAttribute" value="[ProductionTamsa].[GetItemsToUpdateTrackingAttribute]"/>
    <add key="SP_UpdItemIsReported" value="[ProductionTamsa].[UpdItemIsReported]"/>

    <!--Process and Line IT Alberto Galván 28/07/2014-->
    <!--Process IT-->
    <add key="ProcessIT" value="LIN1"/>
    <!--Line IT-->
    <add key="LineIT" value="LIN1"/>
    
    <!--Locations in Automatic Alberto Galván 30/06/2014-->    
    <add key="LocationProduction" value=""/>
    <add key="LocationIsland" value=""/>
    <add key="LocationDiscard" value=""/>

    <!--Tracking Attribute IsReported Alberto Galván 08/08/2014-->
    <add key="IsReported" value="IsReported"/>
    
	<add key="Plugin" value="Tenaris.Service.ProductionShipments.Plugin.CutOff,Tenaris.Service.ProductionShipments.Plugin.CutOff.Grouper"/>
  </appSettings>

  <TrackingManager
       url="tcp://TNACAWFM192.tnsautoca.techint.net:49203/TrackingManager.soap"
       instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
       aliveInterval="1000"
       singleInstance="true"
       validateConnection="true"
       forumPresent="false"
     isTargetManager="true">
  </TrackingManager>

<ProductionShipments RepeatEveryMinutes="5" MaxAttempts="3" MaxItemsInbundle="250" ConnectionString="ConnString">
    <Checkpoints>      
      <Checkpoint Id="1" Code="FAT2CT21" Name="FAT2CT21" WatchedZone="ENMEAS" OmittedZone="" OmittedZone2="">
        <Machines>
          <!--<Machine Id="1" Code="ENREP" Name="ENREP" Order="1"/>-->
          <Machine Id="2" Code="C21" Name="C21" Order="2"/>
          <!--<Machine Id="3" Code="MEAS" Name="MEAS" Order="3"/>-->
          <!--<Machine Id="4" Code="C22" Name="C22" Order="4"/>-->
          <!--<Machine Id="5" Code="PMAN" Name="PMAN" Order="5"/>-->
          <!--<Machine Id="6" Code="EXIT" Name="EXIT" Order="6"/>-->
        </Machines>
      </Checkpoint>
      <Checkpoint Id="2" Code="FAT2CT22" Name="FAT2CT22" WatchedZone="ENPMAN" OmittedZone="" OmittedZone2="">
        <Machines>
          <!--<Machine Id="1" Code="ENREP" Name="ENREP" Order="1"/>-->
          <!--<Machine Id="2" Code="C21" Name="C21" Order="2"/>-->
          <!--<Machine Id="3" Code="MEAS" Name="MEAS" Order="3"/>-->
          <Machine Id="4" Code="C22" Name="C22" Order="4"/>
          <!--<Machine Id="5" Code="PMAN" Name="PMAN" Order="5"/>-->
          <!--<Machine Id="6" Code="EXIT" Name="EXIT" Order="6"/>-->
        </Machines>
      </Checkpoint>
      
    </Checkpoints>
  </ProductionShipments>

  
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="Error"/>
        <foreColor value="Red, HighIntensity"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>

    <appender name="ProductionShipments" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL"/>
        <param name="LevelMax" value="OFF"/>
      </filter>
      <param name="DatePattern" value="'.'yyyyMMdd'.log' "/>
      <param name="File" value="..\..\Logs\Service\ProductionShipments"/>
      <param name="AppendToFile" value="true"/>
      <param name="rollingStyle" value="Date"/>
      <param name="maxSizeRollBackups" value="10"/>
      <param name="maximumFileSize" value="4MB"/>
      <param name="staticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[BEGIN_LOG %date{yyyy-MM-dd HH:mm} ===] %newline" type="log4net.Util.PatternString"/>
        <param name="Footer" value="[END_LOG %date{yyyy-MM-dd HH:mm} =====] %newline" type="log4net.Util.PatternString"/>
      </layout>
    </appender>

    <logger name="Tenaris.Library.Log">
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="ProductionShipments"/>
    </logger>


  </log4net>

  <log
    maxFileSize="8096"
    msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {ThreadId,-5:d5} ; {Message} ; {MethodName}"
    logLevel="Debug"
	  noQueue="true"
    traceAttributeLogEnabled="false"
    path="..\..\..\Logs\Service\Tenaris.Service.ProductionShipments\"
    logBaseName="Tenaris.Service.ProductionShipments"
    additionalLogDestination="Console"
    logAssemblyLoad="false"
	maxFileCount = "30"
  />

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <!--<binding name="RoleEndPoint" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="true"/>
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>-->
        <binding name="RoleEndPoint" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false"
                    transferMode="Buffered" transactionProtocol="OleTransactions"
                    hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                    maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
                    maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:01:00"
              enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="TestBinding" closeTimeout="00:00:02" receiveTimeout="00:01:00" sendTimeout="00:02:00" maxBufferPoolSize="20971520" maxReceivedMessageSize="2097152" maxBufferSize="2097152" portSharingEnabled="false">
          <readerQuotas maxArrayLength="16384" maxBytesPerRead="524288" maxDepth="32" maxNameTableCharCount="1024" maxStringContentLength="8192"/>
          <security mode="None"/>
          <reliableSession inactivityTimeout="00:01:00" enabled="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Service1Behavior" name="Tenaris.Service.ProductionShipments.ProductionSender.ReportingService">
        <endpoint address="/ProductionShipmentsWS" binding="basicHttpBinding" contract="Tenaris.Service.ProductionShipments.ProductionSender.IReportingService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <endpoint address="net.tcp://localhost:34343/ProductionShipmentsTCP/" binding="netTcpBinding" contract="Tenaris.Service.ProductionShipments.ProductionSender.IReportingService" bindingConfiguration="TestBinding">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:34343/ProductionShipments/"/>
            <add baseAddress="http://localhost:43434/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Service1Behavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <dataContractSerializer maxItemsInObjectGraph="500000"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="5000" maxConcurrentSessions="10000" maxConcurrentInstances="5000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<client>
      <endpoint address="net.tcp://localhost:33333/ITService" binding="netTcpBinding" bindingConfiguration="RoleEndPoint" contract="ITServices.ITService" name="RoleEndPoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>-->
    <client>
      <endpoint address="net.tcp://TNACAWWS192.tnsautoca.techint.net:33333/ITService"  binding="netTcpBinding"
          bindingConfiguration="RoleEndPoint" contract="ITServices.ITService"
          name="RoleEndPoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

  <system.runtime.remoting>
    <application name="Client">
      <channels>
        <channel ref="tcp" port="0">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
