<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="system.data" type="System.Data.Common.DbProviderFactoriesConfigurationHandler, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared"/>
    <section name="AcquisitionConfiguration" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <!--<section name="Tenaris.Manager.Preset.PresetManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>-->
    <section name="TdaManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="ProductionManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="HandshakeManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="CommandManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="TrackingManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="LemsManager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="DalFactoryProvider" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <connectionStrings>
    <add name="dbLevel2" connectionString="Application Name=LemsManager;Data Source=localhost;Initial Catalog=Level2_LinePipe;Persist Security Info=True; Integrated Security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- Common configuration section -->
  <ManagerBaseConfiguration areaCode="COFI" defaultConnectionStringName="dbLevel2"/>


  <DalFactoryProvider factoryType="Tenaris.Manager.Athios.Data.DalFactoryDb, Tenaris.Manager.Athios.Data" isSingleton="True" />

  <AcquisitionConfiguration factoryType="Tamsa.OplScada.AcquisitionClient.AcquisitionFactory, Tamsa.OplScada.AcquisitionClient">
    <AcquisitionConfiguration Driver="Tamsa.OplScada.AcquisitionClient.AcquisitionProxy, Tamsa.OplScada.AcquisitionClient" IP="10.92.65.41" Port="9010" Timeout="3000" RepeatCount="3" WriteSync="true"/>
  </AcquisitionConfiguration>

  <HandshakeManager
   url="tcp://127.0.0.1:9111/HandshakeManager.soap"
   instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
   aliveInterval="1000"
   forumPresent="false"
   validateConnection="true"
   isTargetManager="true"/>

  <CommandManager
    url="tcp://127.0.0.1:49200/CommandManager.soap"
    instanceType="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared"
    aliveInterval="1000"
    forumPresent="false"
    isSingleton="true"
    singleInstance="true"
    validateConnection="true"/>

  <ProductionManager
      instanceType="Tenaris.Manager.Production.Shared.IProductionManager, Tenaris.Manager.Production.Shared"
      aliveInterval="5000"
      singleInstance="true"
      validateConnection="true">
    <Redundancy>
      <Address url="tcp://127.0.0.1:8040/ProductionManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </ProductionManager>
  
  <TdaManager
    url="tcp://127.0.0.1:8100/TdaManager.soap"
    instanceType="Tenaris.Manager.Tda.Shared.ITdaManager, Tenaris.Manager.Tda.Shared"
    aliveInterval="1000"
    forumPresent="false"
    isSingleton="true">
  </TdaManager>

  <TrackingManager
      instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
      aliveInterval="1000"
      singleInstance="true"
      validateConnection="true">
    <Redundancy>
      <Address url="tcp://127.0.0.1:9501/TrackingManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </TrackingManager>

  <LemsManager factoryType="Tenaris.Tamsa.Manager.Lems.LemsManagerFactory, Tenaris.Tamsa.Manager.Lems" isSingleton="True">
    <LemsManager sessionName="dbLevel2" applicationCode="AthiosManager">
      <AthiosManager sessionName="dbLevel2" applicationCode="AthiosManager" Testing="false">
        <Machines>
          <Machine code="LEMS"
                   DefaultMeasuringDistances="50,100,150,200" 
                   TrackingAtrrLemsInsp="LEMSInspection"
                   TrackingAtrrFamily="PipeFamily"
                   >
            <!--<Device type ="Tenaris.Manager.Athios.Mock.DeviceMock, Tenaris.Manager.Athios.Mock"/>-->
            <Device type="Tenaris.Manager.Athios.AthiosAdapter, Tenaris.Manager.Athios">
              <Configuration
                athiosJSONServer="127.0.0.1:28446">
              </Configuration>
            </Device>
            <!--<Catalog type="Tenaris.Manager.Athios.Mock.CatalogMock, Tenaris.Manager.Athios.Mock"/>-->
            <Catalog type="Tenaris.Manager.Athios.Catalog, Tenaris.Manager.Athios"/>
            <!--<Plc type ="Tenaris.Manager.Athios.Mock.PLCMock, Tenaris.Manager.Athios.Mock"/>-->
            <Plc type ="Tenaris.Manager.Athios.PlcProxy, Tenaris.Manager.Athios">
              <Configuration
                handshakeManagerFactory="Tenaris.Manager.Handshake.HandshakeManager"
                handshakeMeasureCode="HSAMSR"
                handshakeCalibrateCode="HSACAL"
                handshakeRearmCode="HSAREARM"
                commandManagerFactory="Tenaris.Manager.Command.CommandManager"
                commandMeasureCode="CMDMSR"
                commandCalibrateCode="CMDCAL"
                commandAllowTransfer="CMD1120">
              </Configuration>
            </Plc>

            <!--<Requester type="Tenaris.Manager.Athios.Mock.RequesterMock, Tenaris.Manager.Athios.Mock"/>-->

            <Requester type="Tenaris.Manager.Lems.Requester.Requester, Tenaris.Manager.Lems.Requester">
              <Configuration handshakeManagerFactory="Tenaris.Manager.Handshake.HandshakeManager" 
                             handshakeNewPipeArrivedCode="HSANPA" 
                             commandManagerFactory="Tenaris.Manager.Command.CommandManager" 
                             commandSetPipeCode="CMDSETPIPE">
              </Configuration>
            </Requester>

            <ResultNotifiers>
            
              <ResultNotifier type="Tenaris.Tamsa.Lems.TDAResultProcessor.ResultProcessor, Tenaris.Tamsa.Lems.TDAResultProcessor">
                <Configuration
                  tdaManagerFactory="Tenaris.Manager.Tda.TdaManager"
                  machineCode="COFI"
                >
                </Configuration>
              </ResultNotifier>

              <ResultNotifier type="Tenaris.Tamsa.Lems.QualityResultProcessor.ResultProcessor, Tenaris.Tamsa.Lems.QualityResultProcessor">
                <Configuration
                  productionManagerFactory="Tenaris.Manager.Production.ProductionManager"
                  TDAManagerFactory="Tenaris.Manager.Tda.TdaManager"
                  machineCode="LEMS"
                  DiameterSpecMinCode="DIAM-MIN-TOL"
                  DiameterSpecMaxCode="DIAM-MAX-TOL"
                  ThicknessSpecMinCode="ESP-MIN-TOL"
                  ThicknessSpecMaxCode="ESP-MAX-TOL"
                  DiameterInternalSpecMinCode="DIAMMINEXTRINTTOL"
                  DiameterInternalSpecMaxCode="DIAMMAXEXTRINTTOL"
                  AthiosDiameterVariable="ODmean"
                  AthiosThicknessVariable="WTmean"
                  QualityCustomValueSection="LEMSSECTION"
                  TrackingStatusGoodCode="Good"
                  TrackingStatusBadCode="Warned"
                  QualityWTHighCode="TAE"
                  QualityWTLowCode="TPE"
                  QualityDiameterLowCode="TDE"
                  QualityDiameterHighCode="TDX"
                  QualityIDLowCode="TDB"
                  QualityIDHighCode="TDD"
                  QualityGoodCode="GOOD"
                  ScaleSpecValues="false"
                  IdZonePrev="3"
                  WtMinSpecTdaTag="WTMinSpec"
                  WtMaxSpecTdaTag="WTMaxSpec"
                  DiamMinSpecTdaTag="DiamMinSpec"
                  DiamMaxSpecTdaTag="DiamMaxSpec"
                  DiamEvalSpecTdaTag="DiamAvgEvalSpec"
                  WtEvalSpecTdaTag="WtAvgEvalSpec"
                  SeccQualityTdaTag="SeccQuality"
                  AthiosDiameterMaxVariable="ODmax"
                  AthiosDiameterMinVariable="ODmin"
                  AthiosIntDiameterMaxVariable="IDmax"
                  AthiosIntDiameterMinVariable="IDmin"
                  AthiosWtMaxVariable="WTmax"
                  AthiosWtMinVariable="WTmin"
                  WtMinSeccTdaTag="WtMinSecc"
                  WtMaxSeccTadTag="WtMaxSecc"
                  WtLimitDesvPos="0.75"
                  WtLimitDesvNeg="0.75"
                  WTNomCode="Thickness"
                  PipeMarkSpecCode="LEMS-MARCADO"
                  EvaluateODMinSpecCode="LEMS-CHECK-OD-MIN"
                  EvaluateWTMinSpecCode="LEMS-CHECK-WT-MIN"
                  EvaluateIDMinSpecCode="LEMS-CHECK-ID-MIN"
                  EvaluateODMaxSpecCode="LEMS-CHECK-OD-MAX"
                  EvaluateWTMaxSpecCode="LEMS-CHECK-WT-MAX"
                  EvaluateIDMaxSpecCode="LEMS-CHECK-ID-MAX"
                  DiamTolerance="0.1"
                >
                </Configuration>
              </ResultNotifier>
              <ResultNotifier type="Tenaris.Manager.Athios.ResultProcessor, Tenaris.Manager.Athios">
              </ResultNotifier>
            </ResultNotifiers>
          </Machine>
        </Machines>
      </AthiosManager>
    </LemsManager>
  </LemsManager>

  <system.runtime.remoting>
    <customErrors mode="off" />
    <application name="Server">
      <!---->
      <channels>
        <channel ref="tcp" port="49988" bindTo="127.0.0.1"  timeout="10000">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy" />
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <log
    maxFileSize="8096"
    msgFormat="{TypeChar} {Timestamp:HH:mm:ss.ffffff} {IdentString} {Message}"
    logLevel="Debug"
    traceAttributeLogEnabled="true"
    path="..\..\..\Logs\Lems\"
    logAssemblyLoad="true"
    logBaseName="LemsManager"
    additionalLogDestination="Console"
    noQueue="true"
  />
  <!--maxFileCount="10"-->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
