<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Tenaris.Service.Toolset.ToolsetManager"        type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
    <section name="Tenaris.Service.Toolset.ToolService"           type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
    <section name="Tenaris.Service.Toolset.ProductionProvider"    type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
    <section name="Tenaris.Service.Toolset.ShiftProvider"         type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
    <section name="Tenaris.Service.Toolset.SendMailPlugin"        type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
    <section name="Tenaris.Service.Toolset.IccServicePlugin"      type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"  />
    <section name="Tenaris.Service.Toolset.DrifterPlugin"         type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"  />
    <section name="Tenaris.Library.Proxy"                         type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.Shift"                         type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.Production"                    type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Command"                       type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="Tenaris.Manager.Handshake"                     type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Preset"                        type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <!-- configuracion mail manager -->
    <section name="Tenaris.Manager.Mail"                          type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="log"                                           type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Am21;Persist Security Info=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!-- Toolset service configuration -->
  <Tenaris.Service.Toolset.ToolService  factoryType="Tenaris.Service.Toolset.ToolsetFactory, Tenaris.Service.Toolset" isSingleton="True">
    <ToolsetConfiguration AreaCode="Line1_NDT" DBConnectionStringName="ConnString" DBConnectionType="SQL" AlarmFormatTime="HH:mm:00"
                          UpdateFrequency="720000000"
                          AlarmFrequency="60000" AlarmTimes="06:00:00,09:00:00,12:03:00,22:00:00" LockFromFirstTime="false" disabledAlarmSendMails="false"
                          ReportUsagesFrequency="3600000"
                          CheckMasterDataFrequency="0"
                          WarningRemainingLifeMin="3" WarningRemainingLifeMax="5"
                          WarningRemainingDaysMin="1" WarningRemainingDaysMax="3"
                          MaxLimitRemainingLifeMin="-999999999" MaxLimitRemainingLifeMax="5"
                          MaxLimitRemainingDaysMin="-999999999" MaxLimitRemainingDaysMax="1"
                          ExceptFamilyForSendingUsage="ALL"
                          ParentWorkplaceCode="2324,2315,2306"
                          isLockMachineActive ="true" >
      <Machines>
        <Machine code="CND" commandCode=""   copyInUseToolToOrderNext="true" requiredConfirmationByCopyTool="false" copyInUseToolOnShiftChanged="false" requiredConfirmationByCopyToolShift="false"  />
        <!--<Machine code="L1_SEA21" commandCode="" copyInUseToolToOrderNext="true" />
        <Machine code="L1_SEA22" commandCode="FI_TOOL_PROTBOX"  />
        <Machine code="L1_RX21" commandCode=""  copyInUseToolToOrderNext="true" />
        <Machine code="L1_RX22" commandCode="" copyInUseToolToOrderNext="true" requiredConfirmationByCopyTool="true" copyInUseToolOnShiftChanged="true" requiredConfirmationByCopyToolShift="true" />-->
      </Machines>
    </ToolsetConfiguration>
    <!--
       2324: 3TE1 - Línea de Terminación 
       2315: 3PR2 - Línea de Roscado 2                                 
       2306: 3PR1 - Línea de Roscado 1
    -->
  </Tenaris.Service.Toolset.ToolService>

  <Tenaris.Service.Toolset.ToolsetManager factoryType="Tenaris.Service.Toolset.ManagerFactory, Tenaris.Service.Toolset" isSingleton="True">
    <ToolsetManagerConfiguration />
  </Tenaris.Service.Toolset.ToolsetManager>

  <!--Toolset plugin configuration-->
  <Tenaris.Service.Toolset.ProductionProvider factoryType="Tenaris.Service.Toolset.Plugin.ProductionProviderFactory, Tenaris.Service.Toolset.Plugin" isSingleton="true">
    <ProductionProviderConfiguration SqlConnectionLevel2="ConnString" SqlConnectionToolset="ConnString" TimerPeriod="60000"  AreaCode="Line1_NDT">
      <Stations>
        <Station id="1"  code="CND" type="HandshakeAllInOne"   handshakeCode ="TR_VRREP1_PROVEUP1" handshakeCodeChangeOrder=""/>
        <Station id="2"  code="CND" type="HandshakeAllInOne"   handshakeCode ="TR_VRREP2_PROVEUP2" handshakeCodeChangeOrder=""/>
      </Stations>
    </ProductionProviderConfiguration>
  </Tenaris.Service.Toolset.ProductionProvider>


  <Tenaris.Service.Toolset.ShiftProvider factoryType="Tenaris.Service.Toolset.Plugin.ShiftProviderFactory, Tenaris.Service.Toolset.Plugin" isSingleton="True">
    <PluginConfiguration SqlConnectionLevel2="ConnString" SqlConnectionToolset="ConnString" TimerPeriod="50000" />
  </Tenaris.Service.Toolset.ShiftProvider>

  <Tenaris.Service.Toolset.SendMailPlugin factoryType="Tenaris.Service.Toolset.Plugin.SendMailPluginFactory, Tenaris.Service.Toolset.Plugin" isSingleton="True">
    <MailConfiguration MailConfigurationSection="Tenaris.Manager.Mail"
                       MailFrom="ToolsetService@tamsa.com.mx"
                       Level2Recipients="mgonzalezm@tenaris.com" Recipients="mgonzalezm@tenaris.com"
                       Area="Linea 1"/>
  </Tenaris.Service.Toolset.SendMailPlugin>

  <Tenaris.Service.Toolset.IccServicePlugin factoryType="Tenaris.Service.Toolset.ICCPlugin.PluginFactory, Tenaris.Service.Toolset.ICCPlugin" isSingleton="True">
    <PluginConfiguration LanguageCode="es" ConnectionAttemps="3" PageSize="50" MaximumPageNumber="1000"
                        ClientCredentialDomain="Tamsa"
      ClientCredentialUserName="XUPREM31"
      ClientCredentialPassword="Tenaris123" />
  </Tenaris.Service.Toolset.IccServicePlugin>

  <Tenaris.Service.Toolset.DrifterPlugin factoryType="Tenaris.Service.Toolset.Plugin.DrifterPluginFactory, Tenaris.Service.Toolset.Plugin" isSingleton="True">
    <DrifterConfiguration  FamilyCodeMandrel="126" MandrelBehaviour="API" SqlConnection="ConnString"  EnabledMandrelValidation="true" DiameterToleranceMin="-100.01" DiameterToleranceMax="+100"  DiameterToleranceMinAlt="-100.1" validationPreset="PmlAlternative" presetEnableValue="1" />
  </Tenaris.Service.Toolset.DrifterPlugin>

  <Tenaris.Manager.Shift
    instanceType="Tenaris.Manager.Shift.Shared.IShiftManager, Tenaris.Manager.Shift.Shared"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="false"
    url="tcp://TNACAWFM191.tnsautoca.techint.net:50003/Tenaris.Manager.Shift.ShiftManager.soap" />

  <Tenaris.Manager.Production
    instanceType="Tenaris.Manager.Production.Shared.IProductionManager, Tenaris.Manager.Production.Shared"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="false"
    url="tcp://TNACAWFM191.tnsautoca.techint.net:50009/Tenaris.Manager.Production.ProductionManager.soap"/>

  <Tenaris.Manager.Handshake
     instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
     aliveInterval="5000"
     singleInstance="true"
     validateConnection="false"
     url="tcp://TNACAWFM191.tnsautoca.techint.net:50004/Tenaris.Manager.Handshake.HandshakeManager.soap" />

  <Tenaris.Manager.Command
    instanceType="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared"
    aliveInterval="5000"
    validateConnection="false" 
    url="tcp://TNACAWFM191.tnsautoca.techint.net:50005/Tenaris.Manager.Command.CommandManager.soap" />

  <Tenaris.Manager.Preset   
    instanceType="Tenaris.Manager.Preset.Shared.IPresetManager, Tenaris.Manager.Preset.Shared"
    aliveInterval="3000"
    singleInstance="true"
    validateConnection="true"
    url="tcp://TNACAWFM191.tnsautoca.techint.net:50012/Tenaris.Manager.Preset.PresetManager.soap"/>

  <Tenaris.Manager.Mail
    instanceType="Tenaris.Manager.Mail.Shared.IMailManager, Tenaris.Manager.Mail.Shared"
    url="tcp:///10.92.30.110:50053/MailManager.soap"
    forumPresent="false"
    isTargetManager="true"
    aliveInterval="5000"
    singleInstance="true"
    validateConnection="false"/>


  <!-- Configuraci?n del proxy din?mico -->
  <Tenaris.Library.Proxy factoryType="Tenaris.Library.Proxy.Factories.PipeProxyFactory, Tenaris.Library.Proxy">
    <Configuration>
      <Components>
        <Component type="Tenaris.Library.Proxy.Components.ConnectionMonitorComponent, Tenaris.Library.Proxy">
          <Interval>1000</Interval>
        </Component>
      </Components>
      <EventListener type="Tenaris.Library.Proxy.EventListener, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
      <Dispatcher type="Tenaris.Library.Proxy.Dispatchers.DirectMessageDispatcher, Tenaris.Library.Proxy, Version=4.1.0.0, Culture=neutral, PublicKeyToken=c4a5016cfc42fcd0"/>
    </Configuration>
  </Tenaris.Library.Proxy>

  <!-- Remoting configuration. This can be placed in a separate file named remoting.config -->
  <system.runtime.remoting>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="50019" >
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <!--Conexion a ICCService-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IExternalServices" closeTimeout="00:10:00"
                    openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
              maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ITwoWayAsync" closeTimeout="00:10:00"
                   openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                   allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                   maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
                   maxReceivedMessageSize="2147483647" messageEncoding="Text"
                   textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>

        <binding name="BasicHttpBinding_ITwoWayAsync1" closeTimeout="00:10:00"
            openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
              maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>

        <binding name="BasicHttpBinding_ITwoWayAsync2" closeTimeout="00:10:00"
            openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
              maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>


        <binding name="ToolProviderSiteHeteSoap" />
      </basicHttpBinding>

      <netTcpBinding>
        <!--ToolsetService-->
        <binding name="netTcpSecBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="None" />
          </security>
          <reliableSession />
        </binding>
        <binding name="NetTcpBinding_IMailSender"
                 closeTimeout="00:10:00"
             openTimeout="00:10:00"
             receiveTimeout="00:10:00"
             sendTimeout="00:10:00"
             maxBufferSize="2147483647"
             maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647"
                  maxStringContentLength="2147483647"
                  maxArrayLength="2147483647"
                  maxBytesPerRead="2147483647"
                  maxNameTableCharCount="2147483647" />
          <security mode="None"></security>
          <reliableSession  inactivityTimeout="23:59:59"/>
        </binding>
      </netTcpBinding>


    </bindings>

    <services>
      <service behaviorConfiguration="ServiceBehavior"
        name="Tenaris.Service.Toolset.ToolsetService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpSecBinding"
                  name="ServiceAdminClient" contract="Tenaris.Service.Toolset.Shared.Proxy.IToolsetService" />
        <endpoint address="Mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:50020/ToolsetService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="false"
            includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ServiceClientEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <!-- Productivo
    http://btsop2.tenaris.techint.net:8217/WebICCGetMasterData/QueryICCData.svc
    http://btsop2.tenaris.techint.net:8218/WebICCTransferInstruments/ManageTransferInstruments.svc
    http://btsop2.tenaris.techint.net:8168/ManageInstrument/ManageInstruments.svc
    -->

    <!-- Desarrollo
    http://btsde2.tenaris.techint.net:8217/WebICCGetMasterData/QueryICCData.svc
    http://btsde2.tenaris.techint.net:8218/WebICCTransferInstruments/ManageTransferInstruments.svc
    http://btsde2.tenaris.techint.net:8168/ManageInstrument/ManageInstruments.svc    
    -->

    <client>

      <endpoint address="http://btsop2.tenaris.techint.net:8217/WebICCGetMasterData/QueryICCData.svc"
                  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync1"
                  contract="ICCGetMasterData.QueryICCData" name="BasicHttpBinding_ITwoWayAsync1" />
      <endpoint address="http://btsop2.tenaris.techint.net:8218/WebICCTransferInstruments/ManageTransferInstruments.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync2"
          contract="ICCTransferInstruments.ManageTransferInstruments"
          name="BasicHttpBinding_ITwoWayAsync2" />
      <endpoint address="http://btsop2.tenaris.techint.net:8168/ManageInstrument/ManageInstruments.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync"
          contract="ICCManageInstruments.ManageInstruments" name="BasicHttpBinding_ITwoWayAsync" />
      <endpoint address="net.tcp://TNACAWFM191.tnsautoca.techint.net:8731/Service1"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMailSender"
          behaviorConfiguration="ServiceClientEndpointBehavior"
          contract="MailSenderService.IMailSender"
          name="NetTcpBinding_IMailSender">
        <identity>
          <dns value="TNACAWFM191.tnsautoca.techint.net"/>
        </identity>
      </endpoint>

      <endpoint address="http://10.93.1.97/ws_tools/ToolProviderSiteHete.asmx"
                binding="basicHttpBinding" bindingConfiguration="ToolProviderSiteHeteSoap"
                contract="SiteHeteService.ToolProviderSiteHeteSoap" name="ToolProviderSiteHeteSoap" />
    </client>
  </system.serviceModel>
  <log 
	maxFileSize="100000"
    maxFileCount="40"
    msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss} [{ThreadId,-5:d5}] {MethodName} {IdentString} {Message}"
    noQueue="true"
    path="..\..\..\Logs\Service\Toolset\"
    traceAttributeLogEnabled="true"
    logBaseName="Tenaris.Service.Toolset.Host"
    additionalLogDestination="Console"
    logAssemblyLoad="false"
  />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="B13FD38B8F9C99D7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>







