<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
    <section name="ServiceConfiguration" type="Tenaris.Tamsa.HRM.Service.Manufacturing.ServiceConfiguration, Tenaris.Tamsa.HRM.Service.Manufacturing"/>
    <section name="WebServiceConfiguration" type="Tenaris.Tamsa.HRM.Service.Manufacturing.WebServiceConfiguration, Tenaris.Tamsa.HRM.Service.Manufacturing"/>
    <section name="SpecWebServiceConfiguration" type="Tenaris.Tamsa.HRM.Service.Manufacturing.SpecWebServiceConfiguration, Tenaris.Tamsa.HRM.Service.Manufacturing"/>
    <section name="ITServiceConfiguration" type="Tenaris.Tamsa.HRM.Library.ServiceFacade.ServiceConfiguration, Tenaris.Tamsa.HRM.Library.ServiceFacade"/>
    <section name="Tenaris.Manager.TrackingManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>

  </configSections>


  <!--<appSettings>
    <add key="ConnectionName" value="ConnString"/>
  </appSettings>-->

  <connectionStrings>
    <add name="dbLevel2" connectionString="Application Name=ServiceMS;Data Source=localhost;Initial Catalog=AusV1;User ID=Developer;Password=Developer2014;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <!--<add name="dbLevel2" connectionString="Application Name=SpecificationService;Data Source=10.92.21.225;Initial Catalog=CofiAusDB;User ID=cofidbusr;Password=cofi;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->	           
  </connectionStrings>

  <!-- Configuracion para COFI-->
  <ServiceConfiguration DBConnection="dbLevel2" TcpPort="8010"
                        IPSpecificationService="10.92.65.41"
                        PortSpecificationService="7899"
                        FileSpecification="SpecificationCOFI.xml"
                        FileLocalCycle=""
                        UseTrackingManager ="true"
                        TrackingConfiguration="Tenaris.Manager.TrackingManager"
                        OutputZone =""
                        UseServiceWeb ="true"
                        UseCycleModel="false"
                        WebServiceConfiguration="WebServiceConfiguration"
                        UseSpecServiceWeb="true"
                        SpecWebServiceConfiguration="SpecWebServiceConfiguration"                        
                        >
    <Fields>
      <Field code="BarDiameter" ColumnName="BarDiameter"/>
      <Field code="MachineCode" ColumnName="MachineCode"/>
      <Field code="Storage" ColumnName="Storage"/>
      <Field code="Location" ColumnName="Location"/>
      <Field code="MaterialType" ColumnName="MaterialType"/>
      <Field code="Side" ColumnName="Side"/>
      <Field code="Length" ColumnName="Length"/>
      <Field code="Weight" ColumnName="Weight"/>
    </Fields>
  </ServiceConfiguration>


  <ITServiceConfiguration DBConnection="dbLevel2" CodeOrderNumber="OrderNumber"
                          EndPointBrn54  ="ServiceClientBrn54"
                          EndPointBrn58  ="ServiceClientBrn58"/>

  <WebServiceConfiguration   UrlWebService ="http://tam1p.tenaris.techint.net:59981/wsstack/services/PIPEntrance.MANUBRGSOAP11Port"
                         ITMachines="SUA01,LEA01,SEA01,CDA01"
                         IsTest="false"
                         AffectStock="false"
                         InsertDetail="true"
                         MaterialTypeDetail ="D"
                         SideACode="A"
                         SideBCode="B"
                         ManufactureStateSideA="69,CD,34,D1"
                         ManufactureStateSideB="79,D2,IB,82"/>


  <SpecWebServiceConfiguration UrlWebService ="http://tam1p.tenaris.techint.net:59981/wsstack/services/ManufacturingSpecifications.MANUPSGSOAP11Port/"
                               ProductionUnitOrderCode="OrderNumber"
                             />
  
  
  <!-- Configuración de un manager particular -->
  <Tenaris.Manager.TrackingManager
     instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
      aliveInterval="1000"
      singleInstance="true"
      validateConnection="true">
    <Redundancy>
      <Address url="tcp://10.92.65.41:9501/TrackingManager.soap" forumPresent="false" isTargetManager="true"/>
    </Redundancy>
  </Tenaris.Manager.TrackingManager>
  


  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="ServiceClient" closeTimeout="00:02:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:02:00" transactionFlow="false"
          transferMode="Buffered" transactionProtocol="OleTransactions"
          hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288"
          maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="ServiceClient1" closeTimeout="00:01:00" openTimeout="00:01:00"
                  receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false"
                  transferMode="Buffered" transactionProtocol="OleTransactions"
                  hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                  maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
                  maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://10.92.65.42:1235/Tenaris.Tamsa.HRM.Fat2.Service.ITService.Communication/ServiceBrn54/"
        binding="netTcpBinding" bindingConfiguration="ServiceClient"
        contract="ITService.IServiceBrn54" name="ServiceClientBrn54">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://10.92.65.42:1237/Tenaris.Tamsa.HRM.Fat2.Service.ITService.Communication/ServiceBrn58/"
       binding="netTcpBinding" bindingConfiguration="ServiceClient1"
       contract="ITServiceHeat.IServiceBrn58" name="ServiceClientBrn58">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="0">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>


  <log
    maxFileSize="8192"
    msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"
    logLevel="Debug"
    traceAttributeLogEnabled="false"
    logBaseName="Tenaris.Tamsa.Manufacturing"
    additionalLogDestination="Console"
    path="d:\Logs\Manufacturing\"
    
  />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>