<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="ReportsConfiguration" type="Reports.Configuration.ReportsConfiguration, Reports" />
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
  </configSections>
  <connectionStrings> 
    <add name="Level2" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Trk;Persist Security Info=True;Integrated Security=SSPI;Application Name=Level2Reports;MultipleActiveResultSets=True;Max Pool Size=10;Connection Lifetime=600;Asynchronous Processing=true;Connect Timeout=5;DefaultCommandTimeout=400;" providerName="System.Data.SqlClient" />
    <add name="PmlLinea1" connectionString="Data Source=Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Cort;Persist Security Info=True;Persist Security Info=True; Integrated Security=SSPI;Application Name=Level2Reports;MultipleActiveResultSets=True;Max Pool Size=10;Connection Lifetime=600;Asynchronous Processing=true;Connect Timeout=5;DefaultCommandTimeout=400;" providerName="System.Data.SqlClient" />
    <!--<add name="Level2" connectionString="Data Source=172.29.11.56;Initial Catalog=L2Trk_Developer;Persist Security Info=True;User ID=emendoza;Password=emendoza;Application Name=Level2Reports;MultipleActiveResultSets=True;Max Pool Size=10;Connection Lifetime=600;Asynchronous Processing=true;Connect Timeout=5;DefaultCommandTimeout=400;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Level2" connectionString="Data Source=10.92.30.100;Initial Catalog=Level2_Premium31;Persist Security Info=True;User ID=Level2;Password=123Level2123;Application Name=Level2Reports;MultipleActiveResultSets=True;Max Pool Size=10;Connection Lifetime=600;Asynchronous Processing=true;Connect Timeout=5;DefaultCommandTimeout=50;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Level2" connectionString="Data Source=localhost;Initial Catalog=L1Trk;Persist Security Info=True;User ID=sa;Password=admin01;Application Name=Level2Reports;MultipleActiveResultSets=True;Max Pool Size=10;Connection Lifetime=600;Asynchronous Processing=true;Connect Timeout=5;DefaultCommandTimeout=400;" providerName="System.Data.SqlClient" />-->

     <!--<add name="Level2" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk;Persist Security Info=True;Integrated Security=SSPI;Application Name=Level2Reports;MultipleActiveResultSets=True;Max Pool Size=10;Connection Lifetime=600;Asynchronous Processing=true;Connect Timeout=5;DefaultCommandTimeout=400;" providerName="System.Data.SqlClient" />--> 
    <!-- <add name="PMLLinea2" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Trk;Persist Security Info=True;Integrated Security=SSPI;Application Name=Level2Reports;MultipleActiveResultSets=True;Max Pool Size=10;Connection Lifetime=600;Asynchronous Processing=true;Connect Timeout=5;DefaultCommandTimeout=400;" providerName="System.Data.SqlClient" /> -->
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-Reports-201633093050;Integrated Security=True" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Title" value="Reportes Linea 1" />
    <add key="GeneralConnection" value="Level2" />
    <add key="ThreadingConnection" value="Level2" />
    <add key="DopelessConnection" value="Level2" />
    <add key="SwagingConnection" value="Level2" />
    <add key="ProductionConnection" value="Level2" />
    <add key="BuckOnConnection" value="Level2" />
    <add key="PHConnection" value="Level2"/>
    <add key="PMLConnection" value="PmlLinea1"/>
    <!-- <add key="PMLConnection" value="PMLLinea2"/> -->
    <add key="AsposeLicense" value="Aspose.Total_SinLeyendas.lic" />
    <add key="AsposeCellsLicense" value="Aspose.Total_SinLeyendas.lic" />
    <add key="AsposePdfLicense" value="Aspose.Total_SinLeyendas.lic" />
    <add key="AsposePdfLicense_PDF" value="Aspose.Total_ParaPdf.lic" />
    
    <add key="ThreadingProductionReportXLS" value="ThreadingProductionReport.xls" />
    <add key="TreadsReportXLS" value="ThreadReportTemplate.xlsx" />
    
    <!--Templates Roscado-->
    <add key="ThreadingInspectionDimensionalReportsXlsx" value="ThreadingInspectionDimensionalReport.xlsx" />
    <add key="ThreadingInspectionReportsXlsx" value="ThreadingInspectionReport.xlsx" />
    <add key="ThreadingDiscardsReportXlsx" value="ThreadingDiscardsReport.xlsx" />
    <add key="ThreadingProductionReportXlsx" value="ThreadingProductionReport.xlsx" />
    <add key="ThreadingInspectionReportsExcelXlsx" value="ThreadingInspectionReportExcel.xlsx" />
    <add key="DescarteRoscados" value="ThreadingDiscard.xls" />
    <add key="ThreadingAutoneticsReportXls" value="ThreadingAutoneticsReport.xlsx" />
    <add key="ThreadingVdiAutoneticsCompareReportXls" value="ThreadingVdiAutoneticsCompareReport.xlsx" />
    <add key="PHBalanceXLS" value="PHBalanceReport.xls"/>
    <add key="HistoryHeadsReport" value="HistoryHeadsReport.xls"/>
    <add key="ReporteDescartes" value="ReportDescartesSEA.xls"/>
    <add key="ReportSEAXLS" value="ReportSEA.xls"/>
    <add key="PHProductionReportXLS" value="PHProductionReport.xls"/>
    <add key="ReliefProductionReportXLS" value="ReliefProductionReport.xls" />
    <add key="BuckOnProductionReportXLS" value="BuckOnProductionReport.xls" />
    <add key="PHManometerReportXLS" value="PHManometerReport.xls"/>
    <add key="PHProductionReportXLS" value="PHProductionReport.xls"/>
    <add key="PMLHistoryReportXLS" value="PMLHistoryReport.xls"/>
    <add key="PMLVerificationHistoricXLS" value="PMLVerificationHistory.xls"/>
    <add key="InstrumentsReportxlsx" value="InstrumentsReport.xlsx" />
    <add key="SeaDimensionalReportsXlsx" value="SeaDimensionalReport.xlsx" />
	<add key="SeaDimensionalReports2HXlsx" value="SeaDimensionalReport2H.xlsx" />
    <add key="SeaResidualMagnetismXlsx" value="SeaResidualMagnetism.xlsx" />    
    <add key="CurveCodesL1" value="L1REL1F1_PYR1_TEM,L1REL1F1_PYR2_TEM,L1REL1F1_PYR3_TEM,L1REL1F1_PYR4_TEM,L1REL1F2_PYR1_TEM,L1REL1F2_PYR2_TEM,L1REL1F2_PYR3_TEM,L1REL1F2_PYR4_TEM,L1REL2F1_PYR1_TEM,L1REL2F1_PYR2_TEM,L1REL2F1_PYR3_TEM,L1REL2F1_PYR4_TEM,L1REL2F2_PYR1_TEM,L1REL2F2_PYR2_TEM,L1REL2F2_PYR3_TEM,L1REL2F2_PYR4_TEM" />
    <add key="CurveCodesL2" value="L2REL1F1_PYR1_TEM,L2REL1F1_PYR2_TEM,L2REL1F1_PYR3_TEM,L2REL1F1_PYR4_TEM,L2REL1F2_PYR1_TEM,L2REL1F2_PYR2_TEM,L2REL1F2_PYR3_TEM,L2REL1F2_PYR4_TEM,L2REL2F1_PYR1_TEM,L2REL2F1_PYR2_TEM,L2REL2F1_PYR3_TEM,L2REL2F1_PYR4_TEM,L2REL2F2_PYR1_TEM,L2REL2F2_PYR2_TEM,L2REL2F2_PYR3_TEM,L2REL2F2_PYR4_TEM" />
    <!--<add key="CurveCodesFI" value="FI_BKN_RPM,FI_BKN_TORQUE" />-->
    <add key="CurveCodesFI" value="HydrotestCurve, ObjetivePressureMin, ObjetivePressureMax" />
    <add key="CurveCodesBKN" value="BKN_RPM, BKN_TORQUE" />
    <add key="showPos" value="true" />
    <add key="showRpm" value="true" />

    <!--FI_BKN_TORQUE,FI_BKN_RPM,FI_BKN_TURNS-->
    <add key="LimitReliefPoint" value="300" />
    <!--<add key="TemporalDirFiles" value="E:/Appls/Tenaris/Automation/WebSite/ReportsTempsFiles/"/>-->
    <add key="TemporalDirFiles" value="C:/Data/Files/"/>
    <!--<add key="TemporalDirFiles" value="C://REPORTS/ReportsTempFiles/"/>--> 
 

    <add key="MaxCurvesByFile" value="50"/>
    <!--<add key="MaxChartsDetail" value="10"/>-->
    <add key="AppInstalled" value="false" />
    <add key="MachineResidualMagnetism" value="DESMAGNETIZADO" />
    <add key="areaCode" value="LINEA1"/>


	  <!--Instrumentos Fijos-->
	  <add key="MaintenanceToolsSEA1" value="432133652"/>
	  <add key="MaintenanceToolsSEA2" value="432133653"/>
	  
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime maxQueryStringLength="1000000" maxUrlLength="1000000" />
    <!--<httpRuntime maxQueryStringLength="1000000" maxUrlLength="2097151" /> Testing--> <!--1000000 Both Original-->

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
    <globalization uiCulture="auto" culture="auto" /> <!--Comment Para evitar problemas por tomar conf de fechas de navegador cliente-->
    <httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    </httpHandlers>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
    </handlers>
    
     <!--<security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="2097151" /> --><!--Prueba queryLimit--><!--
      </requestFiltering>
    </security>-->
    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.9004" newVersion="3.4.1.9004" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <ReportsConfiguration>
    <Processes>
      <!--<Process code="Production" name="Producción">
        <ReportTypes>
          <Report fileConfig="/Views/Configurations/GeneralProductionPH.xml" />
        </ReportTypes>
      </Process>-->
      
      <!--<Process code="AUTONETICS" name="Autonetics">
        <ReportTypes>
          --><!--<Report fileConfig="/Views/Configurations/AutoneticsData.xml" />--><!--
        </ReportTypes>
      </Process>-->
      
      <Process code="PAC" name="PAC">
        <ReportTypes>
          <!--<Report fileConfig="/Views/Configurations/BuckOnPresets.xml" />-->
          <Report fileConfig="/Views/Configurations/BuckOnTorqueWindow.xml" />
          <!--<Report fileConfig="/Views/Configurations/BuckOnDiscards.xml" />-->
          <!-- <Report fileConfig="/Views/Configurations/BuckOnSummary.xml" /> -->
          <!--<Report fileConfig="/Views/Configurations/BuckOnInstruments.xml" />-->
          <!-- <Report fileConfig="/Views/Configurations/BuckOnProductionOrder.xml" /> -->
          <!-- <Report fileConfig="/Views/Configurations/BuckOnProductionOrderShift.xml" /> -->
          <Report fileConfig="/Views/Configurations/BuckOnProductionGraphics.xml" />
          <Report fileConfig="/Views/Configurations/StampingProduction.xml" />
        </ReportTypes>
      </Process>
      
      <Process code="PH" name="PH">
        <ReportTypes>
          <Report fileConfig="/Views/Configurations/PHProductionGraphics.xml" />
          <Report fileConfig="/Views/Configurations/PHProductionGraphicsDetail.xml" />
          <Report fileConfig="/Views/Configurations/BalancePH.xml" />
          <Report fileConfig="/Views/Configurations/PHManometer.xml" />
          <Report fileConfig="/Views/Configurations/HistoryHeadReportPH.xml"/>
        </ReportTypes>
      </Process>

      <Process code="THREADING" name="Roscado">
        <ReportTypes>
          <Report fileConfig="/Views/Configurations/ThreadingProductionGeneral.xml" />
		      <Report fileConfig="/Views/Configurations/ThreadingProduction.xml" />
          <Report fileConfig="/Views/Configurations/ThreadingInspectionReport.xml" />
          <Report fileConfig="/Views/Configurations/ThreadingInspectionDimensionalReport.xml" />
          <Report fileConfig="/Views/Configurations/ThreadingReportDiscards.xml" />
          <Report fileConfig="/Views/Configurations/ThreadingDiscards.xml" />
		      <Report fileConfig="/Views/Configurations/ThreadingInspectionAutonetics.xml" />
		      <Report fileConfig="/Views/Configurations/ThreadingInspectionCompareVdiAutonetics21.xml" />
          <Report fileConfig="/Views/Configurations/ThreadingInspectionCompareVdiAutonetics22.xml" />
          <!--<Report fileConfig="/Views/Configurations/ThreadingSummary.xml" />
          <Report fileConfig="/Views/Configurations/ThreadingInstruments.xml" />-->
        </ReportTypes>
      </Process>

      <Process code="PML" name="PML">
      <ReportTypes>
        <Report fileConfig="/Views/Configurations/PMLHistory.xml" />
        <Report fileConfig="/Views/Configurations/PMLVerificationHistory.xml" />
      </ReportTypes>
      </Process>

      <Process code ="SEA" name="SEA">
        <ReportTypes>
          <Report fileConfig="/Views/Configurations/SEADimensional.xml" />
          <Report fileConfig="/Views/Configurations/SeaDiscards.xml" />
          <Report fileConfig="/Views/Configurations/SEAGeneralReport.xml" />
        </ReportTypes>
      </Process>
      <!--
         <Process code="DRIFTER" name="Pasa Mandril">
        <ReportTypes>
          <Report fileConfig="/Views/Configurations/DrifterPresets.xml" />
        </ReportTypes>
      </Process>
      <Process code="WMS" name="BME">
        <ReportTypes>
          <Report fileConfig="/Views/Configurations/WMSInstruments.xml" />
        </ReportTypes>
      </Process>
      
      -->
    </Processes>
  </ReportsConfiguration>
  <log maxFileSize="8096" msgFormat="{Timestamp:HH:mm:ss.fff} ; {Level,-7} ; {Message} ; {MethodName}" logLevel="Debug" traceAttributeLogEnabled="false" path="Log" logBaseName="Reports" additionalLogDestination="Console" />
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <dotless minifyCss="false" cache="true" web="false" />
</configuration>