<?xml version="1.0"?>
<configuration>

  <configSections>

    <section name="ServiceConfiguration" type="Tamsa.Service.Specification.Configuration.ServiceConfiguration, Tamsa.Service.Specification"/>
    <section name="EntranceConfiguration" type="Tenaris.Tamsa.HRM.Fat2.View.Entrance.Model.EntranceConfiguration, Tenaris.Tamsa.HRM.Fat2.View.Entrance.Model"/>
    <section name="Tenaris.Tamsa.HRM.Fat2.View.Modeling" type="Tenaris.Tamsa.HRM.Fat2.View.Modeling.ModelingConfiguration, Tenaris.Tamsa.HRM.Fat2.View.Modeling"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <!--<section name="SpecificationServiceClient" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />-->
    <!--SECURITY: MODE CLIENT-->
    <!--<section name="Tenaris.Library.Security"
             type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />-->
    <!--SECURITY: STAND ALONE-->
    <section name="Tenaris.Library.Security" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
  </configSections>

  <connectionStrings>
    <!--<add name="AusV1" connectionString="Application Name=EntranceView;Data Source=10.92.65.40;Initial Catalog=AusV1;User ID=ViewStandAlone;Password=ViewStandAlone2014;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->


    <add name="AusV1" connectionString="Application Name=EntranceView;Data Source=10.92.66.155;Initial Catalog=AusV1;User ID=Views;Password=Views2013;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>

    <!--<add name="AusV1" connectionString="Application Name=EntranceView;Data Source=10.92.24.106;Initial Catalog=AusV1_TT32;User ID=View;Password=View2015;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>

  <!--SECURITY: MODE CLIENT-->
  <!--10.92.65.17 COFI-->
  <!--<Tenaris.Library.Security
      url="tcp://172.29.125.36:8041/Tenaris.Service.Security.soap"
      instanceType="Tenaris.Service.Security.Shared.ISecurityService, Tenaris.Service.Security.Shared"
      aliveInterval="0"
      validateConnection="true"
      singleInstance="true"
      forumPresent="false"
      isTargetManager="false">
    <Redundancy>
    </Redundancy>
  </Tenaris.Library.Security>-->

  <Tenaris.Library.Security factoryType="Tenaris.Service.Security.FactoryLocal, Tenaris.Service.Security" isSingleton="true">
    <SecurityConfiguration ConnectionStringName="AusV1"
      AuthenticationType="Database"
      DefaultZoneCode="LACO"/>
  </Tenaris.Library.Security>

  <Tenaris.Tamsa.HRM.Fat2.View.Modeling ModelManager="net.tcp://10.92.66.35:8032" ConnectionString="AusV1">
  <Modeling>
      <Model code="LinePiercing" />
      <Model code="MPM" />
      <Model code="Sizing" />
    </Modeling>
  </Tenaris.Tamsa.HRM.Fat2.View.Modeling>


  <!--<EntranceConfiguration DskMgr="false"
                     Language="es-MX"
                     GridHeight="250"
                     ServiceMS="10.92.65.45" MSPort="8010"
                     SpecificationServer="10.92.65.45"  SpecificationPort="9026"
                     Collapse="10"
                     DefaultMachine="" DefaultZoneCode="All"
                     DynamicResourcesPath="Resource/ThemeDynamic.xaml"                     
                     IsBundle="true"
                     IsGroup="true"
                     UpdSpecification="False"
                     Reports="Tenaris.Tamsa.HRM.Fat2.View.Entrance.Reports.dll, Tenaris.Tamsa.HRM.Fat2.View.Entrance.Reports.Reports"
                     OrderView="Tenaris.Tamsa.HRM.Fat2.View.Entrance.Order.dll, Tenaris.Tamsa.HRM.Fat2.View.Entrance.Order.OrderView"
                     LoadType="Tenaris.Tamsa.HRM.Fat2.View.Entrance.LoadType.dll, Tenaris.Tamsa.HRM.Fat2.View.Entrance.LoadType.Bundle">
    <Views>
      <View code="Coladas" gridDynamicResourcesPath="Resource/GridHeatDynamic.xaml"/>
      <View code="Ordenes" gridDynamicResourcesPath="Resource/GridDynamic.xaml"/>
    </Views>
  </EntranceConfiguration>-->
  
  <!--<Model code="ModelMPM" />
    <Model code="Sizing" />-->
  <!--<EntranceConfiguration DskMgr="true"
                         Language="es-MX"
                         GridHeight="250"                         
                         ServiceMS="10.92.65.41" MSPort="8010"
                         SpecificationServer="10.92.65.41"  SpecificationPort="7899"
                         Collapse="10"
                         DefaultMachine="" DefaultZoneCode="COFI"
                         DynamicResourcesPath="Resource/ThemeDynamic.xaml"
                         IsBundle="True"
                         IsGroup="True"
                         UpdSpecification="True"
                         Reports="Tenaris.Tamsa.HRM.Fat2.View.Entrance.Reports.dll, Tenaris.Tamsa.HRM.Fat2.View.Entrance.Reports.Reports"
                         OrderView="Tenaris.Tamsa.HRM.Fat2.View.Entrance.Order.dll, Tenaris.Tamsa.HRM.Fat2.View.Entrance.Order.OrderView" 
                         LoadType="Tenaris.Tamsa.HRM.Fat2.View.Entrance.LoadType.dll, Tenaris.Tamsa.HRM.Fat2.View.Entrance.LoadType.Bundle">
    <Views>
      <View code="Coladas" gridDynamicResourcesPath="Resource/GridHeatDynamic.xaml"/>
      <View code="Ordenes" gridDynamicResourcesPath="Resource/GridDynamic.xaml"/>
    </Views>    
  </EntranceConfiguration>-->

  <EntranceConfiguration DskMgr="false"
                       Language="es-MX"
                       GridHeight="250"
                       ServiceMS="10.92.66.35" MSPort="8010"
                       SpecificationServer="10.92.66.35"  SpecificationPort="7899"
                       Collapse="10"
                       DefaultMachine="" DefaultZoneCode="LACO"
                       DynamicResourcesPath="Resource/ThemeDynamic.xaml"
                       IsBundle="false"
                       IsGroup="true"
                       UpdSpecification="False"
                       Reports="Tenaris.Tamsa.HRM.Fat2.View.Entrance.Reports.dll, Tenaris.Tamsa.HRM.Fat2.View.Entrance.Reports.Reports"
                       OrderView="Tenaris.Tamsa.HRM.Fat2.View.Entrance.Order.dll, Tenaris.Tamsa.HRM.Fat2.View.Entrance.Order.OrderView"
                       LoadType="Tenaris.Tamsa.HRM.Fat2.View.Entrance.LoadType.dll, Tenaris.Tamsa.HRM.Fat2.View.Entrance.LoadType.Heat">
    <Views>
      <View code="Coladas" gridDynamicResourcesPath="Resource/GridHeatDynamic.xaml"/>
      <View code="Ordenes" gridDynamicResourcesPath="Resource/GridDynamic.xaml"/>
    </Views>
  </EntranceConfiguration>

    <log maxFileSize="8192" msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}" logLevel="Debug" traceAttributeLogEnabled="false" logBaseName="Tenaris.Tamsa.HRM.Fat2.View.Entrance" additionalLogDestination="Console"/>

  <system.runtime.remoting>
    <application name="Client">
      <channels>
        <channel ref="tcp" port="0">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
