<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ForumManagerFactoryConfiguration" type="Tenaris.Manager.Forum.Common.Configuration.ForumConfigurationSection, Tenaris.Manager.Forum.Common"/>
    <section name="ForumControllerFactoryConfiguration" type="Tenaris.Manager.Forum.Common.Configuration.ForumControllerConfigurationSection, Tenaris.Manager.Forum.Common"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <ForumControllerFactoryConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                                       isSingleton="false" address="ForumManager/Controller.soap"
                                       forumConfigurationName="ForumManagerFactoryConfiguration"
                                       activateAllManagers="true"/>

 
  <ForumManagerFactoryConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Launcher initializationTries="5" activationTries="5" activationMode="GraphManual">
     <Hosts>
		
		
		<ProcessHost name="ShiftManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.Shift.Shared.IShiftManager, Tenaris.Manager.Shift.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:49200/ShiftManager.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Manager/Tenaris.Manager.Shift/Tenaris.Manager.Host.exe"
            arguments="mgr:ShiftManager/false" workingDirectory="../../Manager/Tenaris.Manager.Shift" />
        </ProcessHost>
		
		  <ProcessHost name="CommandManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:49201/Tenaris.Manager.Command.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Manager/Tenaris.Manager.Command/Tenaris.Manager.Host.exe"
            arguments="mgr:Tenaris.Manager.Command/false"
            workingDirectory="../../Manager/Tenaris.Manager.Command" />
        </ProcessHost>
       
	   
	   
		  <ProcessHost name="HandshakeManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:49202/HandshakeManager.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Manager/Tenaris.Manager.Handshake/Tenaris.Manager.Host.exe"
            arguments="mgr:HandshakeManager/false"
            workingDirectory="../../Manager/Tenaris.Manager.Handshake" />
        </ProcessHost> 
		  
		  <ProcessHost name="TrackingManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>CommandManager;</DependOf>
          <RemoteInstance type="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:49203/TrackingManager.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Manager/Tenaris.Manager.Tracking/Tenaris.Manager.Host.exe"
            arguments="mgr:TrackingManager/false"
            workingDirectory="../../Manager/Tenaris.Manager.Tracking" />
        </ProcessHost>  
		  
		  <ProcessHost name="SpecificationManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.Forum.Shared.IManager, Tenaris.Manager.Forum.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:49206/Tenaris.Manager.Specification.SpecificationManager.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Service/Tenaris.Tamsa.Deen.Service.Specification/Tenaris.Manager.Host.exe"
            arguments="mgr:Tenaris.Manager.Specification.SpecificationManager/false"
            workingDirectory="../../Service/Tenaris.Tamsa.Deen.Service.Specification" />
        </ProcessHost>
		
		<ProcessHost name="BusinessRulesManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.BusinessRules.Shared.IBusinessRulesManager, Tenaris.Manager.BusinessRules.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:14316/Tenaris.Manager.BusinessRules.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Manager/Tenaris.Manager.BusinessRules/Tenaris.Manager.Host.exe"
            arguments="mgr:Tenaris.Manager.BusinessRules/false"
            workingDirectory="../../Manager/Tenaris.Manager.BusinessRules" />
		</ProcessHost>
		
		
		
		
		<ProcessHost name="BusinessRulesITManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.BusinessRules.IT.Shared.IBusinessRulesIT, Tenaris.Manager.BusinessRules.IT.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:49215/Tenaris.Manager.BusinessRules.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Manager/Tenaris.Manager.BusinessRules.IT/Tenaris.Manager.Host.exe"
            arguments="mgr:Tenaris.Manager.BusinessRules/false"
            workingDirectory="../../Manager/Tenaris.Manager.BusinessRules.IT" />
		</ProcessHost>
		
		

		
		<ProcessHost name="CycleTimeManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.CycleTime.Shared.ICycleTimeManager, Tenaris.Manager.CycleTime.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:49217/CycleTimeManager.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Manager/Tamsa.Manager.CutOff.CycleTime/Tenaris.Manager.Host.exe"
            arguments="mgr:CycleTimeManager/false"
            workingDirectory="../../Manager/Tamsa.Manager.CutOff.CycleTime" />
        </ProcessHost>
		
		
		<ProcessHost name="LinkerCTManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerA, Tenaris.Manager.ProcessExecutor.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:50031/LinkerCTManager.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Manager/Tamsa.Manager.LinkerCT_BaseV0/Tenaris.Manager.Host.exe"
            arguments="mgr:LinkerCTManager/false"
            workingDirectory="../../Manager/Tamsa.Manager.LinkerCT_BaseV0" />
        </ProcessHost>
		
		
		
		    <ProcessHost name="AlarmManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.Alarm.Shared.IAlarmManager, Tenaris.Manager.Alarm.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:49205/Tenaris.Manager.Alarm.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Manager/Tenaris.Manager.Alarm/Tenaris.Manager.Host.exe"
            arguments="mgr:Tenaris.Manager.Alarm/false"
            workingDirectory="../../Manager/Tenaris.Manager.Alarm" />
        </ProcessHost>
		
		
		<ProcessHost name="MailManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.Mail.Shared.IMailManager, Tenaris.Manager.Mail.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:50053/Tenaris.Manager.Mail.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Manager/Tenaris.Manager.Mail/Tenaris.Manager.Host.exe"
            arguments="mgr:Tenaris.Manager.Mail/false"
            workingDirectory="../../Manager/Tenaris.Manager.Mail" />
        </ProcessHost>
		
		
		
		
		<ProcessHost name="BsrAutoEnablesManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>AlarmManager;TrackingManager;HandshakeManager;ProductionManager;PresetManager;ShiftManager;MailManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.BusinessRules.BsrAutoEnables.Shared.IBusinessRulesBsrAutoEnables, Tenaris.Manager.BusinessRules.BsrAutoEnables.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:50019/Tenaris.Manager.BusinessRules.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Manager/Tenaris.Manager.BsrAutoEnablePresets/Tenaris.Manager.Host.exe"
            arguments="mgr:Tenaris.Manager.BusinessRules/false"
            workingDirectory="../../Manager/Tenaris.Manager.BsrAutoEnablePresets" />
        </ProcessHost>
		<ProcessHost name="ToolsetManager" enabled="true"
		initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
		  <DependOf>ShiftManager;ProductionManager;CommandManager;PresetManager</DependOf>
		  <RemoteInstance type="Tenaris.Service.Toolset.Shared.IToolService, Tenaris.Service.Toolset.Shared"
		  url="tcp://TNACAWFM192.tnsautoca.techint.net:50032/Tenaris.Service.Toolset.ToolsetManager.soap"
		  tries="10" wait="100">
		  <Interfaces />
		  </RemoteInstance>
		  <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Service/ToolsetService/Tenaris.Manager.Host.exe"
		  arguments="mgr:Tenaris.Service.Toolset.ToolsetManager/false"
		  workingDirectory="../../Service/ToolsetService"/>
		</ProcessHost>
		
		<ProcessHost name="SendInterruptions" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerB, Tenaris.Manager.ProcessExecutor.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:50030/SendInterruptionManager.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Manager/SendInterruptions/Tenaris.Manager.Host.exe"
            arguments="mgr:SendInterruptionManager/false"
            workingDirectory="../../Manager/SendInterruptions" />
        </ProcessHost>
		
		<ProcessHost name="ConsoleUtilitiesManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf></DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerC, Tenaris.Manager.ProcessExecutor.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:50029/ConsoleUtilitiesManager.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Service/ConsoleUtilities/Tenaris.Manager.Host.exe"
            arguments="mgr:ConsoleUtilitiesManager/false"
            workingDirectory="../../Service/ConsoleUtilities" />
        </ProcessHost>
		
		<ProcessHost name="ProductionShipmentsManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>TrackingManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerD, Tenaris.Manager.ProcessExecutor.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:50028/ProductionShipmentsManager.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Service/Tenaris.Service.ProductionShipments/Tenaris.Manager.Host.exe"
            arguments="mgr:ProductionShipmentsManager/false"
            workingDirectory="../../Service/Tenaris.Service.ProductionShipments" />
        </ProcessHost>
		
			<ProcessHost name="TrkLinkerVladimirManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>TrackingManager</DependOf>
          <RemoteInstance type="Tenaris.Tamsa.Manager.TrkLinker.Shared.Contract.ITrkLinkerManager, Tenaris.Tamsa.Manager.TrkLinker.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:50035/TrkLinkerManager.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Manager/TrkLinker_Vladimir/Tenaris.Manager.Host.exe"
            arguments="mgr:TrkLinkerManager/false"
            workingDirectory="../../Manager/TrkLinker_Vladimir" />
        </ProcessHost>
		
		<ProcessHost name="FAT2CropEndManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>TrackingManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.FAT2.CropEnd.Shared.Contract.ICropEndManager, Tenaris.Manager.FAT2.CropEnd.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:49230/Tenaris.Manager.FAT2.CropEnd.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Manager/Tenaris.Manager.FAT2.CropEnd/Tenaris.Manager.Host.exe"
            arguments="mgr:Tenaris.Manager.FAT2.CropEnd/false"
            workingDirectory="../../Manager/Tenaris.Manager.FAT2.CropEnd" />
        </ProcessHost>
		
		<ProcessHost name="OrderReplicatorManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>TrackingManager</DependOf>
          <RemoteInstance type="Tenaris.Tamsa.Manager.OrderReplicator.Shared.Contract.IOrderReplicatorManager, Tenaris.Tamsa.Manager.OrderReplicator.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:12701/OrderReplicatorManager.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Manager/Tamsa.Manager.CutOff.OrderReplicator/Tenaris.Manager.Host.exe"
            arguments="mgr:OrderReplicatorManager/false"
            workingDirectory="../../Manager/Tamsa.Manager.CutOff.OrderReplicator" />
        </ProcessHost>
		
		
		<ProcessHost name="SamplesManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>TrackingManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.Samples.Shared.Interface.ISamplesManager, Tenaris.Manager.Samples.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:49220/Tenaris.Manager.Samples.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false" 
            useShellExecute="false" filename="../../Manager/Tamsa.Manager.Samples/Tenaris.Manager.Host.exe"
            arguments="mgr:Tenaris.Manager.Samples/false" workingDirectory="../../Manager/Tamsa.Manager.Samples" />
        </ProcessHost>
		
		  <ProcessHost name="ProductionManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>ShiftManager;CommandManager;TrackingManager</DependOf>
          <RemoteInstance type="Tenaris.Library.IKeyManager.Shared.IKeyManager, Tenaris.Library.IKeyManager.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:49204/Tenaris.Manager.Production.ProductionManager.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Manager/Tenaris.Manager.Production/Tenaris.Manager.Host.exe"
            arguments="mgr:Tenaris.Manager.Production.ProductionManager/false"
            workingDirectory="../../Manager/Tenaris.Manager.Production" />
        </ProcessHost>
       
    
        
		  <ProcessHost name="PresetManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>CommandManager;ProductionManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.Preset.Shared.IPresetManager, Tenaris.Manager.Preset.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:49208/Tenaris.Manager.Preset.PresetManager.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Manager/Tenaris.Manager.Preset/Tenaris.Manager.Host.exe"
            arguments="mgr:Tenaris.Manager.Preset.PresetManager/false"
            workingDirectory="../../Manager/Tenaris.Manager.Preset" />
        </ProcessHost>
		
		
         <ProcessHost name="InterruptionManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
		  <DependOf>ShiftManager;ProductionManager</DependOf> 
          <RemoteInstance type="Tenaris.Manager.Interruption.Shared.IInterruptionManager, Tenaris.Manager.Interruption.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:49211/Tenaris.Manager.Interruption.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Manager/Tenaris.Manager.Interruption/Tenaris.Manager.Host.exe"
            arguments="mgr:Tenaris.Manager.Interruption/false"
            workingDirectory="../../Manager/Tenaris.Manager.Interruption" />
        </ProcessHost>
		<!-- //////////////////////////////////////////////////////////////////////////////////////////////////-->
		
		
			
		<ProcessHost name="CuttOffManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>HandshakeManager;PresetManager;CommandManager;TrackingManager;ProductionManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.Cutoff.Shared.ICutoffManager, Tenaris.Manager.Cutoff.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:49219/Tenaris.Manager.Cutoff.CutoffManager.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Manager/Manager.CutOff_Host/Tenaris.Manager.Host.exe"
            arguments="mgr:Tenaris.Manager.Cutoff.CutoffManager/false"
            workingDirectory="../../Manager/Manager.CutOff_Host" />
        </ProcessHost>
		
		<ProcessHost name="EntranceHostManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>ProductionManager;CommandManager;TrackingManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.Entrance.Shared.IEntranceManager, Tenaris.Manager.Entrance.Shared"
            url="tcp://TNACAWFM192.tnsautoca.techint.net:49210/Tenaris.Manager.Entrance.EntranceManager.soap"
            tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
            useShellExecute="false" filename="../../Manager/Tamsa.Manager.EntranceHost/Tenaris.Manager.Host.exe"
            arguments="mgr:Tenaris.Manager.Entrance.EntranceManager/false"
            workingDirectory="../../Manager/Tamsa.Manager.EntranceHost" />
        </ProcessHost>
					</Hosts>
      <Availability mode="StartAlways" tries="0" interval="2000" />
    </Launcher>
    <Redundancy mode="None" onDeactivateMode="Stop" onConnectMode="None"
		  activationTimeout="600" />
    <Mailing enabled="false" enableSsl="false" port="0" timeout="0" />
  </ForumManagerFactoryConfiguration>

  <system.runtime.remoting>
    <application name="Forum">
      <channels>
        <channel ref="tcp" port="49299" >
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <log
      msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{AppDomainName,30:s-30}:{ThreadName,15:s15}] [lap={LapFriendlyValue,-7:f2}{LapFriendlyUnit,3}] {AssemblyName,30:s-30} {IdentString} {Message}"
      dumpStack="true" maxLogDepth="0" traceAttributeLogLevel="Message" 
      noQueue="false" maxQueueSize="10000" includeAssembliesRegEx="" excludeAssembliesRegEx="" includeFullClasNameRegEx="" 
      excludeFullClasNameRegEx="" excludePropertyGetterAndSetter="true" flushInterval="1000" logAssemblyLoad="true" colorConsoleLog="true"
      
      maxFileSize="8192" maxFileCount="20" traceAttributeLogEnabled="true" 
      
      logBaseName="ForumController" path="..\..\..\Logs\View\Forum\" additionalLogDestination="None" logLevel="Debug"/>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Binaries;Forum;"/>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
