<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SendInterruptions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SendInterruptions.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SendInterruptions.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnCTsL1" connectionString="Application Name=SendInterruptionsL1;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Cort;Persist Security Info=True; Integrated Security=SSPI;MultipleActiveResultSets=True" providerName="System.Data.EntityClient"/>
    <add name="ConnCTsL2" connectionString="Application Name=SendInterruptionsL2;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L2Cort;Persist Security Info=True; Integrated Security=SSPI;MultipleActiveResultSets=True" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="LogLevel" value="3"/>
    <add key="LogPath" value="..\..\..\Logs\Manager\SendInterruptions"/>
    <add key="LogName" value="SendInterruptions"/>
    <add key="TimeToCheck" value="300"/><!-- Interval the process sleeps (Seconds) -->
    <add key="MailFrom" value="InterruptionsL1L2@tamsa.com.mx"/>
    <!--<add key="MailTo" value="agarciadelv@proveedores.tamsa.com.mx"/>-->
	<add key="MailTo" value="obulbarela@tamsa.com.mx,ANTGARCIA@tenaris.com,HDIAZG@tamsa.com.mx,tamgniv2@tamsa.com.mx,jsaballo@tenaris.com,tamgin2@tamsa.com.mx,AGALVANL@suppliers.tenaris.com"/>
    <!--<add key="MailTo" value="vladimircruz@proveedores.tamsa.com.mx"/>-->
    <add key="MailSubjectL1" value="Interrupciones L1 - Voz "/>
    <add key="MailSubjectL2" value="Interrupciones L2 - Voz "/>
	<add key="CodeInt" value="212,218,219,220"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
      <bindings>
          <netTcpBinding>
              <binding name="NetTcpBinding_IMailSender">
                  <security mode="None"/>
              </binding>
          </netTcpBinding>
      </bindings>
      <client>
          <endpoint address="net.tcp://10.93.1.97:8731/Service1" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMailSender" contract="SenderMailService.IMailSender" name="NetTcpBinding_IMailSender">
              <identity>
                  <dns value="10.93.1.97"/>
              </identity>
          </endpoint>
      </client>
  </system.serviceModel>
  <userSettings>
    <SendInterruptions.Properties.Settings>
      <setting name="LastDateInterruptionL1" serializeAs="String">
        <value>07/19/2019 13:00:00</value>
      </setting>
      <setting name="LastDateInterruptionL2" serializeAs="String">
        <value>07/19/2019 13:00:00</value>
      </setting>
    </SendInterruptions.Properties.Settings>
    <SendInterruptions.Settings>
      <setting name="LastDateInterruptionL1" serializeAs="String">
        <value>07/19/2019 13:00:00</value>
      </setting>
      <setting name="LastDateInterruptionL2" serializeAs="String">
        <value>07/19/2019 13:00:00</value>
      </setting>
    </SendInterruptions.Settings>
    <SendInterruptions.Properties.Settings1>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </SendInterruptions.Properties.Settings1>
  </userSettings>
</configuration>
