<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Tenaris.Manager.Manufacturing.Tenaris.Manager.Manufacturing.ManufacturingManager"    type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>

    <section name="ManufacturingServiceConfiguration" type="ManufacturingService.ManufacturingServiceConfiguration, ManufacturingService"/>
    <section name="ManufacturingService.General" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <!--<section name="ManufacturingService.Buckon" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>>-->
    <section name="ManufacturingService.Ndt" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="ManufacturingService.Drifter" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <!--<section name="ManufacturingService.Hydrotest" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>>-->
    <!--<section name="ManufacturingService.Threader" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>>-->
    <section name="ManufacturingService.Cutoff" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <!--<section name="ManufacturingService.Sea" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>>-->
    <!--<section name="ManufacturingService.Wms" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>>-->
    <!--<section name="ManufacturingService.ExternalTraceability" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>-->

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <Tenaris.Manager.Manufacturing.Tenaris.Manager.Manufacturing.ManufacturingManager factoryType="ManufacturingService.ManagerFactory, ManufacturingService" isSingleton="True" />

  <ManufacturingServiceConfiguration Guid="AFE14749-26EF-4fed-BBE0-959C687A2910" Address="net.tcp://localhost:50031/ManufacturingService/ManufacturingService"/>

  <ManufacturingService.General factoryType="Manufacturing.Plugins.General.Factory, Manufacturing.Plugins.General" isSingleton="True">
    <Configuration ITCode="" OrderApplicationClient="932434" OrderApplicationMessage="La orden es de tipo Aplicacion" IsMain="true"/>
  </ManufacturingService.General>
  <!--<ManufacturingService.Buckon factoryType="Manufacturing.Plugins.Buckon.Factory, Manufacturing.Plugins.Buckon" isSingleton="True">
    <Configuration ITCode="PAC1"/>
  </ManufacturingService.Buckon>-->
  <ManufacturingService.Ndt factoryType="Manufacturing.Plugins.Ndt.Factory, Manufacturing.Plugins.Ndt" isSingleton="True">
    <Configuration ITCode="AM21"/>
  </ManufacturingService.Ndt>
  <ManufacturingService.Drifter factoryType="Manufacturing.Plugins.Drifter.Factory, Manufacturing.Plugins.Drifter" isSingleton="True">
    <Configuration ITCode="PH21"/>
  </ManufacturingService.Drifter>
  <!--<ManufacturingService.Hydrotest factoryType="Manufacturing.Plugins.Hydrotest.Factory, Manufacturing.Plugins.Hydrotest" isSingleton="True">
    <Configuration ITCode="PHL1"/>
  </ManufacturingService.Hydrotest>-->
  <!--<ManufacturingService.Threader factoryType="Manufacturing.Plugins.Threader.Factory, Manufacturing.Plugins.Threader" isSingleton="True">
    <Configuration ITCode="ROS1" TagsDivideBetween100="VDI-W-N-DIAM-MIN-CUERPO-TOL|VDI-W-N-DIAM-MAX-CUERPO-TOL|VDI-W-N-ESP-MIN-TOL|VDI-W-N-ESP-MAX-TOL|VDI-W-N-DIAM-MIN-TOL|VDI-W-N-DIAM-MAX-TOL"/>
  </ManufacturingService.Threader>-->
  <ManufacturingService.Cutoff factoryType="Manufacturing.Plugins.Cutoff.Factory, Manufacturing.Plugins.Cutoff" isSingleton="True">
    <Configuration ITCode=""/>
  </ManufacturingService.Cutoff>
  <!--<ManufacturingService.Sea factoryType="Manufacturing.Plugins.Sea.Factory, Manufacturing.Plugins.Sea" isSingleton="True">
    <Configuration ITCode="IEX1"/>
  </ManufacturingService.Sea>-->
 <!-- <ManufacturingService.Wms factoryType="Manufacturing.Plugins.Wms.Factory, Manufacturing.Plugins.Wms" isSingleton="True">
    <Configuration ITCode="" InitialProgressive="70000" DefaultProtectors="PIN,BOX" AutomaticProtectorSelectionEnabled="true" DefaultWMSPackageType="Bed"/>
  </ManufacturingService.Wms>-->
  <!--<ManufacturingService.ExternalTraceability factoryType="Manufacturing.Plugins.ExternalTraceability.Factory, Manufacturing.Plugins.ExternalTraceability" isSingleton="True">
    <Configuration ITCode="" UserIT="XUSRLT31"/>
  </ManufacturingService.ExternalTraceability>-->

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL"/>
        <param name="LevelMax" value="OFF"/>
      </filter>
      <param name="DatePattern" value="'.'yyyyMMdd'.log' "/>
      <param name="File" value=".\Logs\ManufacturingHost\WcfManufacturing"/>
      <param name="AppendToFile" value="true"/>
      <param name="rollingStyle" value="Date"/>
      <param name="maxSizeRollBackups" value="10"/>
      <param name="maximumFileSize" value="4MB"/>
      <param name="staticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[BEGIN_LOG %date{yyyy-MM-dd HH:mm:ss} ===] %newline" type="log4net.Util.PatternString"/>
        <param name="Footer" value="[END_LOG %date{yyyy-MM-dd HH:mm:ss} =====]" type="log4net.Util.PatternString"/>
      </layout>
    </appender>
    <appender name="IT" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL"/>
        <param name="LevelMax" value="OFF"/>
      </filter>
      <param name="DatePattern" value="'.'yyyyMMdd'.log' "/>
      <param name="File" value=".\Logs\ManufacturingHost\IT\WcfManufacturingIT"/>
      <param name="AppendToFile" value="true"/>
      <param name="rollingStyle" value="Date"/>
      <param name="maxSizeRollBackups" value="10"/>
      <param name="maximumFileSize" value="4MB"/>
      <param name="staticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[BEGIN_LOG %date{yyyy-MM-dd HH:mm:ss} ===] %newline" type="log4net.Util.PatternString"/>
        <param name="Footer" value="[END_LOG %date{yyyy-MM-dd HH:mm:ss} =====]" type="log4net.Util.PatternString"/>
      </layout>
    </appender>
    <logger name="Tenaris.Library.Log">
      <appender-ref ref="LogFileAppender"/>
    </logger>
    <logger name="Tenaris.Library.ITServices">
      <appender-ref ref="IT"/>
    </logger>
  </log4net>
  <log maxQueueSize="10000" dumpStack="true" msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss}  {IdentString} {Message}" maxFileSize="512000" maxFileCount="100" logLevel="Debug" traceAttributeLogEnabled="true" path=".\Logs\WcfManufacturing\" additionalLogDestination="Console" logAssemblyLoad="false">
  </log>
  <connectionStrings>
    <add name="dbLevel2" connectionString="Application Name=ManufacturingHost;Data Source=10.92.70.162;Failover Partner=10.92.70.164;Initial Catalog=L1Am21;User ID=Level2;Password=123Level2123;Persist Security Info=True;MultipleActiveResultSets=true;Asynchronous Processing=true;"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <!--<binding name="RoleEndPoint" maxReceivedMessageSize="2097152">
          <reliableSession inactivityTimeout="00:01:00" enabled="true"/>
          <security mode="None"/>
        </binding>-->
		<binding name="RoleEndPoint" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="infinite" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <reliableSession inactivityTimeout="00:10:00" enabled="true" ordered="true"/>
          <security mode="None" />
        </binding>
        <binding name="netTcpBinding_Config">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="wsDualHttpBinding_Config">
          <security mode="None"/>
        </binding>
      </wsDualHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITwoWayAsync">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
     <endpoint address="net.tcp://10.92.70.163:33333/ITService" binding="netTcpBinding" bindingConfiguration="RoleEndPoint" contract="WcfITComm.ITService" name="RoleEndPoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
	 
      <endpoint address="net.tcp://10.92.70:33333/ITService" binding="netTcpBinding" bindingConfiguration="RoleEndPoint" contract="ITServicesProxy.ITService" name="RoleEndPoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="http://bztbalancer.tamsa.techint.net:8202/TAU601/ManageIndustrialProductSpecification.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync" contract="ITIndustrialProductSpecification.ManageIndustrialProductSpecification" name="BasicHttpBinding_ITwoWayAsync"/>
      <endpoint address="http://bztbalancer.tamsa.techint.net:8311/TAU611/QueryManufacturingInformation.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync" contract="MasterDataService.QueryManufacturingInformation" name="BasicHttpBinding_ITwoWayAsync"/>
    </client>
    <behaviors>-
      <endpointBehaviors>
        <behavior name="ServiceClientEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="False"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
