<?xml version="1.0"?>
<configuration>
  <configSections>
	<section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=8a748c80852b8187"/>
	
    <section name="Tenaris.Manager.Manufacturing.ManufacturingManager"    type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="ManufacturingServiceConfiguration" type="ManufacturingService.ManufacturingServiceConfiguration, ManufacturingService"/>
    <section name="ManufacturingService.General" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <!--<section name="ManufacturingService.Buckon" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>-->
    <section name="ManufacturingService.Ndt" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="ManufacturingService.Drifter" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <!--<section name="ManufacturingService.Hydrotest" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>-->
    <!--<section name="ManufacturingService.Threader" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>-->
    <section name="ManufacturingService.Cutoff" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <!--<section name="ManufacturingService.Sea" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>-->
    <!--<section name="ManufacturingService.Wms" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>-->
    <!--<section name="ManufacturingService.ExternalTraceability" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>-->
    
	<section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />
  </configSections>

  <connectionStrings>
    <add name="dbLevel2" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Am21;Persist Security Info=True;Integrated Security=SSPI;Pooling=True;Max Pool Size=300;MultipleActiveResultSets=True;Application Name=ManufacturingService"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <ManagerBaseConfiguration areaCode="Line1_NDT"  defaultConnectionStringName="dbLevel2" defaultCommandTimeout="10"/>

  <Tenaris.Manager.Manufacturing.ManufacturingManager factoryType="ManufacturingService.ManagerFactory, ManufacturingService" isSingleton="True" />

  <ManufacturingServiceConfiguration Guid="AFE14749-26EF-4fed-BBE0-959C687A2910" Address="net.tcp://localhost:50018/ManufacturingService/ManufacturingService"/>

  <ManufacturingService.General factoryType="Manufacturing.Plugins.General.Factory, Manufacturing.Plugins.General" isSingleton="True">
    <Configuration ITCode="" OrderApplicationClient="932434" OrderApplicationMessage="La orden es de tipo Aplicacion" IsMain="true"/>
  </ManufacturingService.General>
  <!--<ManufacturingService.Buckon factoryType="Manufacturing.Plugins.Buckon.Factory, Manufacturing.Plugins.Buckon" isSingleton="True">
    <Configuration ITCode="PAC1"/>
  </ManufacturingService.Buckon>-->
  <ManufacturingService.Ndt factoryType="Manufacturing.Plugins.Ndt.Factory, Manufacturing.Plugins.Ndt" isSingleton="True">
    <Configuration ITCode="AM21"/>
  </ManufacturingService.Ndt>
  <ManufacturingService.Drifter factoryType="Manufacturing.Plugins.Drifter.Factory, Manufacturing.Plugins.Drifter" isSingleton="True">
    <Configuration ITCode="PH21"/>
  </ManufacturingService.Drifter>
  <!--<ManufacturingService.Hydrotest factoryType="Manufacturing.Plugins.Hydrotest.Factory, Manufacturing.Plugins.Hydrotest" isSingleton="True">
    <Configuration ITCode="PHL1"/>
  </ManufacturingService.Hydrotest>-->
  <!--<ManufacturingService.Threader factoryType="Manufacturing.Plugins.Threader.Factory, Manufacturing.Plugins.Threader" isSingleton="True">
    <Configuration ITCode="ROS1" TagsDivideBetween100="VDI-W-N-DIAM-MIN-CUERPO-TOL|VDI-W-N-DIAM-MAX-CUERPO-TOL|VDI-W-N-ESP-MIN-TOL|VDI-W-N-ESP-MAX-TOL|VDI-W-N-DIAM-MIN-TOL|VDI-W-N-DIAM-MAX-TOL"/>
  </ManufacturingService.Threader>-->
  <ManufacturingService.Cutoff factoryType="Manufacturing.Plugins.Cutoff.Factory, Manufacturing.Plugins.Cutoff" isSingleton="True">
    <Configuration ITCode=""/>
  </ManufacturingService.Cutoff>
  <!--<ManufacturingService.Sea factoryType="Manufacturing.Plugins.Sea.Factory, Manufacturing.Plugins.Sea" isSingleton="True">
    <Configuration ITCode="IEX1"/>
  </ManufacturingService.Sea>-->
  <!--<ManufacturingService.Wms factoryType="Manufacturing.Plugins.Wms.Factory, Manufacturing.Plugins.Wms" isSingleton="True">
    <Configuration ITCode="" InitialProgressive="70000" DefaultProtectors="PIN,BOX" AutomaticProtectorSelectionEnabled="true" DefaultWMSPackageType="Bed"/>
  </ManufacturingService.Wms>-->
  <!--<ManufacturingService.ExternalTraceability factoryType="Manufacturing.Plugins.ExternalTraceability.Factory, Manufacturing.Plugins.ExternalTraceability" isSingleton="True">
    <Configuration ITCode="" UserIT="XUSRLT31"/>
  </ManufacturingService.ExternalTraceability>-->

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="RoleEndPoint" maxReceivedMessageSize="2097152">
          <reliableSession inactivityTimeout="00:01:00" enabled="true"/>
          <security mode="None"/>
        </binding>
        <binding name="netTcpBinding_Config">
          <security mode="None">
          </security>
        </binding>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="wsDualHttpBinding_Config">
          <security mode="None"/>
        </binding>
      </wsDualHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITwoWayAsync">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://TNACAWFM191.tnsautoca.techint.net:33333/ITService" binding="netTcpBinding" bindingConfiguration="RoleEndPoint" contract="WcfITComm.ITService" name="RoleEndPoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://TNACAWFM191.tnsautoca.techint.net:33333/ITService" binding="netTcpBinding" bindingConfiguration="RoleEndPoint" contract="ITServicesProxy.ITService" name="RoleEndPoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <!--<endpoint address="http://tamcawai108.tamsa.techint.net:8202/TAU601/ManageIndustrialProductSpecification.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync" contract="ITIndustrialProductSpecification.ManageIndustrialProductSpecification" name="BasicHttpBinding_ITwoWayAsync"/>-->
      <endpoint address="http://bztbalancer.tamsa.techint.net:8202/TAU601/ManageIndustrialProductSpecification.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync" contract="ITIndustrialProductSpecification.ManageIndustrialProductSpecification" name="BasicHttpBinding_ITwoWayAsync"/>
	  <!--<endpoint address="http://tamcawai108.tamsa.techint.net:8311/TAU611/QueryManufacturingInformation.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync" contract="MasterDataService.QueryManufacturingInformation" name="BasicHttpBinding_ITwoWayAsync"/>-->
	  <endpoint address="http://bztbalancer.tamsa.techint.net:8311/TAU611/QueryManufacturingInformation.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync" contract="MasterDataService.QueryManufacturingInformation" name="BasicHttpBinding_ITwoWayAsync"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceClientEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="False"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>  
  
  <system.runtime.remoting>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="50017"  >
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
    <customErrors mode="off" />
  </system.runtime.remoting>
  
  <log
    maxFileSize="100000"
	maxFileCount="40"
    msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {ThreadId,-5:d5} ; {Message} ; {MethodName}"
    logLevel="Debug"
	noQueue="true"
    traceAttributeLogEnabled="false"
	path="..\..\..\Logs\Service\Manufacturing\"
    logBaseName="Tenaris.Tamsa.Service.Manufacturing"
    additionalLogDestination="Console"
    logAssemblyLoad="false"
  />
  
</configuration>
