<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="VdiViewConfiguration" type="Tenaris.View.Vdi.Shared.Config.VdiViewConfigurationSection, Tenaris.View.Vdi.Shared"/>
    <section name="VdiServiceClientConfiguration" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>

    <section name="Tenaris.Library.Security" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="SecurityProviderFactory" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />

    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <appSettings>
    <add key="PerformanceRegisterEnabled" value="false"/>
    <add key="PerformanceRegisterLogFile" value="\\TNACAWFM190.tnsautoca.techint.net\Appls\Logs\SvcAppTamL2CfLPEntry\VDI\PerformanceRegister\VdiView.'yyyyMMdd'.log"/>
    <add key="PerformanceRegisterLogFileSize" value="2MB"/>
    <add key="PerformanceRegisterFlushTimeOutSeconds" value="10"/>
  </appSettings>

  <connectionStrings>
    <add name="DBConnection" connectionString="Application Name=VdiView;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=Level2_LinePipe; Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True;Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <VdiViewConfiguration
      culture="es-MX"
      stationCode="EXIT_LP1"
      vdiServiceName="VdiServiceClientConfiguration"
      showAllSections="false"
      showAllStationVariables="false"
      autocalificateInspections="false"
      
      headerTemplateFilePath="Header\ProductHeaderTemplate_Tamsa.xaml"
      
      headerConfigFilePath="Config\HeaderOrderDetails.xml"
      specificationOrderConfigFilePath="Config\SpecificationOrderDetails.xml"
      pipeInspectionHeaderConfigFilePath="Config\VdiPipeInspectionHeader_Tamsa.xml"
      historicInspectionDetailConfigFilePath="Config\HistoricInspectionDetail.xml"
      
      minInspectionSeccionWidth="80"
      minInspectionDataWidth="190"
      inspectionPageSize="50"
      inspectionHeaderRowHeight="28"
      
      discardPopupImplementation=""
      orderSummaryControlImplementation="Tenaris.View.Vdi.OrderSummary.OrderSummaryControl, Tenaris.View.Vdi.OrderSummary"
      instrumentsPopupImplementation=""
      inspectionTriggerConfigurationSectionName=""
      loadOrderServiceName=""
      pipeNumberCounterBy="Specification"
      booleanVariableValueTrue="OK"
      booleanVariableValueFalse="No OK"
      scrollToLatestInspection="true"
      cpEnabled="false"
      
      showBtnSpecificationOrder="true"
      showBtnLoadOrder="true"
      showBtnConfig="false"
      showBtnStatus="false"
      showBtnDocuments="true"
      showBtnInstruments="false"
      showBtnAssignment="false"
      showBtnCheckInst="false"

      showBtnGraph="true"
      showBtnInsertInspection="false"
      showBtnDelete="false"
      showBtnOk="true"
      showBtnNotOk="true"
      showBtnUnLock="true"
      showBtnPipeEnd="false"
      showBtnSearch="false"
      showBtnResetSearch="false"
      
      windowStyle="WindowWithMargin"
      margin="0,42,0,100"
      
      showPopupOnPipeArrived="false"
        
      unlockWithSetStatusButtons="true"
      editionOnGridEnabled="true"
      securityEnabled="true"
    >

    <LoadOrder type="Tenaris.View.Vdi.LoadOrder.WpfWindow.VdiLoadOrderWpfWindow, Tenaris.View.Vdi.LoadOrder.WpfWindow"/>

  </VdiViewConfiguration>

  <!--windowStyle="none"-->
  <!--windowStyle="WindowWithMargin"-->

  <VdiServiceClientConfiguration
      url="tcp://TNACAWFM190.tnsautoca.techint.net:14310/Tenaris.Manager.Vdi.VdiManager.soap"
      instanceType="Tenaris.Manager.Vdi.Shared.IVdiServices, Tenaris.Manager.Vdi.Shared"
      aliveInterval="1000"
      forumPresent="false"
      isSingleton="true"
      singleInstance="true">
  </VdiServiceClientConfiguration>

  <SecurityProviderFactory factoryType="Tenaris.View.Vdi.Shared.Security.SecurityClientSecurityProviderFactory, Tenaris.View.Vdi.Shared" />

  <Tenaris.Library.Security
     url="tcp://localhost:8041/Tenaris.Service.Security.soap"
     instanceType="Tenaris.Service.Security.Shared.ISecurityService, Tenaris.Service.Security.Shared"
     aliveInterval="0"
     validateConnection="true"
     singleInstance="true"
     forumPresent="false"
     isTargetManager="false">
    <Redundancy>
    </Redundancy>
  </Tenaris.Library.Security>




  <!-- Remoting Host configuration section -->
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="0">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy" />
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <log
      maxFileSize="8096"
      maxFileCount="10"
      msgFormat="{Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{ThreadId,-5:d5}] - {Message}"
      logLevel="Debug"
      traceAttributeLogEnabled="true"
      logBaseName="VdiView"
      additionalLogDestination="Console"
      logAssemblyLoad="true"
       path="\\TNACAWFM190.tnsautoca.techint.net\Appls\Logs\%UserName%\VDI\"
    />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
