<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="TdaMergeService" type="Tenaris.Manager.Tda.Merge.MergeConfiguration, Tenaris.Manager.Tda.Merge"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <connectionStrings>
    <add name="Level2" connectionString="Application Name=TdaMergeService;Data Source=(local);Initial Catalog=AusV1;User ID=TdaManager;Password=TdaManager;Persist Security Info=True;Max Pool Size=100;"/>
  </connectionStrings>

  <TdaMergeService mergeInterval="60" threads="2" deleteChunk="true" />

  <appSettings>
    <add key="AreaCode" value="LF1"/>
  </appSettings>

  <log
    maxFileSize="8096"
    msgFormat="{Timestamp:HH:mm:ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"
    logLevel="Debug"
    traceAttributeLogEnabled="false"
    logBaseName="Tenaris.Manager.Tda.MergeService"
    additionalLogDestination="Console"
    logAssemblyLoad="false"
  />
</configuration>