<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="TDA.RemotingConfiguration" type="Tenaris.Manager.Host.Configuration.NetRemotingConfigurationSection, Tenaris.Manager.Host" />
		<section name="TdaManager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
		<section name="Configuration" type="Tenaris.Manager.Tda.ManagerConfiguration, Tenaris.Manager.Tda"/>
		<section name="Tenaris.Library.IAcquisition.Shared.IAcquisition" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
		<section name="Tenaris.Library.IKeyManager.Shared.IKeyManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
		<section name="Tenaris.Manager.Tracking.Shared.ITrackingManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
		<section name="TdaMergeService" type="Tenaris.Manager.Tda.Merge.MergeConfiguration, Tenaris.Manager.Tda.Merge"/>
		<section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
		<section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared"/>
		<section name="Plugin.Offline" type="Tenaris.Manager.Tda.Plugin.PluginConfiguration, Tenaris.Manager.Tda"/>
		<section name="Plugin.Trend" type="Tenaris.Manager.Tda.Plugin.TrendPluginConfiguration, Tenaris.Manager.Tda"/>
		<section name="Plugin.Point" type="Tenaris.Manager.Tda.Plugin.PluginConfiguration, Tenaris.Manager.Tda"/>
		<section name="Plugin.ReadArea" type="Tenaris.Manager.Tda.Plugin.PluginConfiguration, Tenaris.Manager.Tda"/>
		<section name="Plugin.ReadAreaTrend" type="Tenaris.Manager.Tda.Plugin.PluginConfiguration, Tenaris.Manager.Tda"/>
		<section name="Plugin.Preset" type="Tenaris.Manager.Tda.Plugin.PluginConfiguration, Tenaris.Manager.Tda"/>
		<section name="Plugin.Event" type="Tenaris.Manager.Tda.Plugin.PluginConfiguration, Tenaris.Manager.Tda"/>
	</configSections>
	<connectionStrings>
		<add name="dbLevel2" connectionString="Application Name=Tda;Data Source=localhost;Failover Partner=localhost2;Initial Catalog=Level2_LinePipe;Persist Security Info=True; Integrated Security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<TdaManager factoryType="Tenaris.Manager.Tda.Factory, Tenaris.Manager.Tda" isSingleton="True">
		<ManagerConfiguration connectionString="dbLevel2"/>
	</TdaManager>
	<ManagerBaseConfiguration areaCode="COFI" defaultConnectionStringName="dbLevel2" />
	<Configuration address=""
   checkPluginsInterval="1000"
   keyManagerSectionName="Tenaris.Library.IKeyManager.Shared.IKeyManager"
   trackingManagerSectionName="Tenaris.Manager.Tracking.Shared.ITrackingManager"
   useMergeService="true">
		<activePlugins>
			<add name="Offline" sectionName="Plugin.Offline" className="Tenaris.Manager.Tda.Plugin.Offline" assembly="Tenaris.Manager.Tda"/>
			<add name="Trend" sectionName="Plugin.Trend" className="Tenaris.Manager.Tda.Plugin.Trend" assembly="Tenaris.Manager.Tda"/>
			<add name="Point" sectionName="Plugin.Point" className="Tenaris.Manager.Tda.Plugin.Point" assembly="Tenaris.Manager.Tda"/>
		</activePlugins>
	</Configuration>
	<!-- Plugins -->
	<Plugin.Offline/>
	<Plugin.Trend hasAcquisition="true" debugMode="false" />
	<Plugin.Point hasAcquisition="true" />
	<Plugin.ReadArea hasAcquisition="true" />
	<Plugin.ReadAreaTrend hasAcquisition="true" />
	<Plugin.Preset />
	<Plugin.Event />
	<!-- Plugins -->
	<TdaMergeService mergeInterval="120" threads="1" deleteChunk="true" />
	<Tenaris.Library.IAcquisition.Shared.IAcquisition factoryType="Tamsa.OplScada.AcquisitionClient.AcquisitionFactory, Tamsa.OplScada.AcquisitionClient">
		<AcquisitionConfiguration Driver="Tamsa.OplScada.AcquisitionClient.AcquisitionProxy, Tamsa.OplScada.AcquisitionClient" IP="127.0.0.1" Port="9010"  Timeout="3000" RepeatCount="3" WriteSync="true" />
	</Tenaris.Library.IAcquisition.Shared.IAcquisition>
	<Tenaris.Library.IKeyManager.Shared.IKeyManager
        instanceType="Tenaris.Library.IKeyManager.Shared.IKeyManager, Tenaris.Library.IKeyManager.Shared"
        aliveInterval="5000"
        singleInstance="true"
        validateConnection="false">
		<Redundancy>
			<Address url="tcp://127.0.0.1:8040/ProductionManager.soap" forumPresent="false" isTargetManager="true"/>
		</Redundancy>
	</Tenaris.Library.IKeyManager.Shared.IKeyManager >
	
	<Tenaris.Manager.Tracking.Shared.ITrackingManager
  instanceType="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
  aliveInterval="5000"
  singleInstance="true"
  validateConnection="true">
		<Redundancy>
			<Address url="tcp://127.0.0.1:9501/TrackingManager.soap" forumPresent="false" isTargetManager="true"/>
		</Redundancy>
	</Tenaris.Manager.Tracking.Shared.ITrackingManager>
	<system.runtime.remoting>
		<application>
			<channels>
				<channel ref="tcp" port="8100" bindTo="127.0.0.1">
					<clientProviders>
						<provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</clientProviders>
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full" />
					</serverProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
	<log
      maxFileSize="8096"
      msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"
      logLevel="Debug"
      path="..\..\..\Logs\Manager\Tda\"
      traceAttributeLogEnabled="true"
      logBaseName="TdaManager"
      additionalLogDestination="Console"
      logAssemblyLoad="false"
    />
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
