<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ForumManagerFactoryConfiguration" type="Tenaris.Manager.Forum.Common.Configuration.ForumConfigurationSection, Tenaris.Manager.Forum.Common"/>
    <section name="ForumControllerFactoryConfiguration" type="Tenaris.Manager.Forum.Common.Configuration.ForumControllerConfigurationSection, Tenaris.Manager.Forum.Common"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <ForumControllerFactoryConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                                       isSingleton="false" address="ForumManager/Controller.soap"
                                       forumConfigurationName="ForumManagerFactoryConfiguration"
                                       activateAllManagers="true"/>

 
  <ForumManagerFactoryConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Launcher initializationTries="5" activationTries="5" activationMode="GraphManual">
      <Hosts>
	   <ProcessHost name="ShiftManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.Shift.Shared.IShiftManager, Tenaris.Manager.Shift.Shared"
          url="tcp://127.0.0.1:8032/ShiftManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Shift/Tenaris.Manager.Host.exe"
          arguments="mgr:ShiftManager/false" 
		  workingDirectory="../../Manager/Shift" />
        </ProcessHost>
		<ProcessHost name="HandshakeManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
          url="tcp://127.0.0.1:9111/HandshakeManager.soap"	
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Handshake/Tenaris.Manager.Host.exe"
          arguments="mgr:HandshakeManager/false"
          workingDirectory="../../Manager/Handshake" />
        </ProcessHost>
      	<ProcessHost name="CommandManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared"
          url="tcp://127.0.0.1:49200/CommandManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Command/Tenaris.Manager.Host.exe"
          arguments="mgr:CommandManager/false"
          workingDirectory="../../Manager/Command" />
        </ProcessHost>	
		<ProcessHost name="TrackingManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>HandshakeManager;CommandManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
          url="tcp://127.0.0.1:9501/TrackingManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tracking/Tenaris.Manager.Host.exe"
          arguments="mgr:TrackingManager/false"
          workingDirectory="../../Manager/Tracking" />
        </ProcessHost>	
		<ProcessHost name="ProductionManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>ShiftManager;HandshakeManager;CommandManager;TrackingManager;SpecificationManager</DependOf>
          <RemoteInstance type="Tenaris.Library.IKeyManager.Shared.IKeyManager, Tenaris.Library.IKeyManager.Shared"
          url="tcp://127.0.0.1:8040/ProductionManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Production/Tenaris.Manager.Host.exe"
          arguments="mgr:ProductionManager/false"
          workingDirectory="../../Manager/Production" />
        </ProcessHost>
		<ProcessHost name="TdaManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>ProductionManager;TrackingManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.Tda.Shared.ITdaManager, Tenaris.Manager.Tda.Shared"
          url="tcp://127.0.0.1:8100/TdaManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/TDA/Tenaris.Manager.Host.exe"
          arguments="mgr:TdaManager/false"
          workingDirectory="../../Manager/TDA" />
        </ProcessHost>
		<!-- <ProcessHost name="Tenaris.Manager.Specification" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.Forum.Shared.IManager, Tenaris.Manager.Forum.Shared"
          url="tcp://127.0.0.1:7899/Tamsa.Service.Specification.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Specification/Tamsa.Service.Specification.Host.exe"
          arguments="mgr:Tamsa.Service.Specification"
          workingDirectory="../../Manager/Specification" />
        </ProcessHost> -->
		<ProcessHost name="InterruptionManager" enabled="true"
			initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
			deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
			postInitializationSleep="0" watchInterval="5000">
		<DependOf>ProductionManager;ShiftManager</DependOf>
		<RemoteInstance type="Tenaris.Manager.Interruption.Shared.IInterruptionManager, Tenaris.Manager.Interruption.Shared"
		url="tcp://127.0.0.1:5000/InterruptionManager.soap"
		tries="10" wait="100"> 
		<Interfaces />
		</RemoteInstance>
		<Process startWait="5000" stoptWait="5000" createNoWindow="false"
		useShellExecute="false" filename="../../Manager/Interruptions/Tenaris.Manager.Host.exe"
		arguments="mgr:InterruptionManager/false"
		workingDirectory="../../Manager/Interruptions"/>
		</ProcessHost>
		<ProcessHost name="SeaManager" enabled="true"
		initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
		  <DependOf>HandshakeManager;CommandManager;TrackingManager;ProductionManager</DependOf>
		  <RemoteInstance type="Tenaris.Tamsa.Manager.Sea.Shared.ISeaManager, Tenaris.Tamsa.Manager.Sea.Shared"
		  url="tcp://127.0.0.1:22701/SeaManager.soap"
		  tries="10" wait="100">
		  <Interfaces />
		  </RemoteInstance>
		  <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Sea/Tenaris.Manager.Host.exe"
		  arguments="mgr:SeaManager/false"
		  workingDirectory="../../Manager/Sea"/>
		</ProcessHost>
		<ProcessHost name="SwageManager" enabled="true"
		initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
		  <DependOf>HandshakeManager;TrackingManager</DependOf>
		  <RemoteInstance type="Tenaris.Manager.Forum.Shared.IManager, Tenaris.Manager.Forum.Shared"
		  url="tcp://127.0.0.1:12801/SwageManager.soap"
		  tries="10" wait="100">
		  <Interfaces />
		  </RemoteInstance>
		  <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Swage/Tenaris.Manager.Host.exe"
		  arguments="mgr:SwageManager/false"
		  workingDirectory="../../Manager/Swage"/>
		</ProcessHost>
		<ProcessHost name="ExitManager" enabled="true"
		initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
		  <DependOf>TrackingManager;</DependOf>
		  <RemoteInstance type="Tamsa.Manager.Exit.Shared.IExitManager, Tamsa.Manager.Exit.Shared"
		  url="tcp://127.0.0.1:20010/ExitManager.soap"
		  tries="10" wait="100">
		  <Interfaces />
		  </RemoteInstance>
		  <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Exit/Tenaris.Manager.Host.exe"
		  arguments="mgr:ExitManager/false"
		  workingDirectory="../../Manager/Exit"/>
		</ProcessHost>
	    <!--	<ProcessHost name="Tenaris.Manager.Lems" enabled="true"
		initializationTimeout="50000" activationTimeout="50000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="50000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
		  <DependOf>Tenaris.Manager.Handshake;Tenaris.Manager.Command;Tenaris.Manager.Production;Tenaris.Manager.Tda;Tenaris.Manager.Tracking</DependOf>
		  <RemoteInstance type="Tenaris.Tamsa.Manager.Lems.Shared.ILemsManager, Tenaris.Tamsa.Manager.Lems.Shared"
		  url="tcp://127.0.0.1:49988/Tenaris.Manager.Lems.LemsManager.soap" 
		  tries="10" wait="100">
		  <Interfaces />
		  </RemoteInstance>
		  <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Lems/Tenaris.Manager.Host.exe"
		  arguments="mgr:Tenaris.Tamsa.Manager.Lems.LemsManager"
		  workingDirectory="../../Manager/Lems"/>
		</ProcessHost>	
		<ProcessHost name="Tenaris.Manager.Vdi" enabled="true"
		initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
		deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
		postInitializationSleep="0" watchInterval="5000">
		<DependOf>	Tenaris.Manager.Command; Tenaris.Manager.Handshake; Tenaris.Manager.Shift </DependOf>
		<RemoteInstance type="Tenaris.Manager.Vdi.Shared.IVdiManager, Tenaris.Manager.Vdi.Shared"
		url="tcp://127.0.0.1:14310/Tenaris.Manager.Vdi.VdiManager.soap"
		tries="10" wait="100"> 
		<Interfaces />
		</RemoteInstance>
		<Process startWait="5000" stoptWait="5000" createNoWindow="false"
		useShellExecute="false" filename="../../Manager/VDIManager/Tenaris.Manager.V2.Host.exe"
		arguments="mgr:Tenaris.Manager.Vdi"
		workingDirectory="../../Manager/VDIManager"/>
		</ProcessHost>-->   
   		
      </Hosts>
      <Availability mode="StartAlways" tries="0" interval="2000" />
    </Launcher>
    <Redundancy mode="None" onDeactivateMode="Stop" onConnectMode="None"
		  activationTimeout="600" />
    <Mailing enabled="false" enableSsl="false" port="0" timeout="0" />
  </ForumManagerFactoryConfiguration>

  <system.runtime.remoting>
    <application name="Forum">
      <channels>
        <channel ref="tcp" port="49299" bindTo="127.0.0.1">
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>

    </application>
  </system.runtime.remoting>

  <log
      msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{AppDomainName,30:s-30}:{ThreadName,15:s15}] [lap={LapFriendlyValue,-7:f2}{LapFriendlyUnit,3}] {AssemblyName,30:s-30} {IdentString} {Message}"
      dumpStack="true" maxLogDepth="0" traceAttributeLogLevel="Message" 
      noQueue="false" maxQueueSize="10000" includeAssembliesRegEx="" excludeAssembliesRegEx="" includeFullClasNameRegEx="" 
      excludeFullClasNameRegEx="" excludePropertyGetterAndSetter="true" flushInterval="1000" logAssemblyLoad="true" colorConsoleLog="true"
      
      maxFileSize="8192" maxFileCount="20" traceAttributeLogEnabled="true" 
      
      logBaseName="ForumController" path="..\..\..\Logs\Manager\Forum\" additionalLogDestination="None" logLevel="Debug"/>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Binaries;Forum;"/>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
