<?xml version="1.0"?>

<configuration>
	<configSections>

		<section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />
		<section name="Tenaris.Manager.Interruption" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
		<section name="Tenaris.Manager.Shift" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
		<section name="SpecificationServiceClient" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>

		<sectionGroup name="Configuration">
			<section name="InterruptionModelConfiguration" type="System.Configuration.NameValueSectionHandler"/>
			<section name="GridCustomColumns" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>

		<!--SECURITY: MODE CLIENT-->
    <section name="Tenaris.Library.Security"
             type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>

		<!--SECURITY: STAND ALONE-->
		<!--<section name="Tenaris.Library.Security" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>-->

	</configSections>


  <!-- connection string -->
  <connectionStrings>
    <add name="DBConnection" connectionString="Application Name=InterruptionView;Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=Level2_LinePipe;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>



  <!--SECURITY: MODE CLIENT-->
  <Tenaris.Library.Security
      url="tcp://localhost:8041/Tenaris.Service.Security.soap"
      instanceType="Tenaris.Service.Security.Shared.ISecurityService, Tenaris.Service.Security.Shared"
      aliveInterval="0"
      validateConnection="true"
      singleInstance="true"
      forumPresent="false"
      isTargetManager="false">
    <Redundancy>
    </Redundancy>
  </Tenaris.Library.Security>

	<!--SECURITY: STAND ALONE-->
	<!--<Tenaris.Library.Security factoryType="Tenaris.Service.Security.FactoryLocal, Tenaris.Service.Security" isSingleton="True">
		<SecurityConfiguration ConnectionStringName="DBConnection" AuthenticationType="Database" DefaultZoneCode="ALL" />
	</Tenaris.Library.Security>-->

	<!-- Specification Service -->
  <SpecificationServiceClient factoryType="Tamsa.Service.Specification.Client.SpecificationFactory, Tamsa.Service.Specification.Client" isSingleton="True">
    <SpecificationConfiguration IP="TNACAWFM190.tnsautoca.techint.net" Port="7899"/>
  </SpecificationServiceClient>

  <!--<SpecificationServiceClient factoryType="Tenaris.Dalmine.Service.Specification.Client.SpecificationServiceClientFactory, Tenaris.Dalmine.Service.Specification.Client" isSingleton="True">
		<SpecificationServiceClientConfiguration Address="net.tcp://.....:9000/SpecificationService"/>
		--><!--
	</SpecificationServiceClient>-->

	<!-- interruption manager configuration -->
	<Tenaris.Manager.Interruption
		instanceType="Tenaris.Manager.Interruption.Shared.IInterruptionManager, Tenaris.Manager.Interruption.Shared"
		aliveInterval="1500"
		singleInstance="true"
		validateConnection="false">
		<Redundancy>
			<Address url="tcp://TNACAWFM190.tnsautoca.techint.net:5000/Tenaris.Manager.Interruption.soap" forumPresent="false" isTargetManager="true"/>
		</Redundancy>
	</Tenaris.Manager.Interruption>

	<!-- Shift manager configuration -->
	<Tenaris.Manager.Shift
		instanceType="Tenaris.Manager.Shift.Shared.IShiftManager, Tenaris.Manager.Shift.Shared"
		aliveInterval="1500"
		singleInstance="true"
		validateConnection="false">
		<Redundancy>
			<Address url="tcp://TNACAWFM190.tnsautoca.techint.net:8032/Tenaris.Manager.Shift.soap" forumPresent="false" isTargetManager="true"/>
		</Redundancy>
	</Tenaris.Manager.Shift>

	<!-- remoting configuration -->
	<system.runtime.remoting>
		<application name="Client">
			<channels>
				<channel ref="tcp" port="0">
					<clientProviders>
						<provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</clientProviders>
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</serverProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>


	<!-- custom application configuration -->
	<Configuration>

		<InterruptionModelConfiguration>
			<add key="Culture" value="es-MX"/>
			<add key="PathExcelFiles" value="./Resources/Xls/"/>
			<add key="ZoneCode" value="COFI"/>
			<add key="DskMgr" value="false"/>
			<add key="MaxShiftDisplay" value="1"/>
			<add key="JustifyCommand" value="JUSTIFY"/>
			<add key="MaintenanceGroupCode" value="Maint"/>
			<add key="NotEditableIntCategories" value="Micro"/>
		</InterruptionModelConfiguration>

		<GridCustomColumns>
			<!-- key: same name of specification service. Value: title of columns -->
			<add key="ORDER.Number" value="Orden"/>
		</GridCustomColumns>
	</Configuration>

	
  <log
      maxFileSize="8096"
      msgFormat="{Timestamp:HH:mm:ss.fff} ; {Level,-7} ; {ClassName} ; {Message} ; {MethodName}"
      logLevel="Message"
      path="\\TNACAWFM190.tnsautoca.techint.net\Appls\Logs\%UserName%\Interruption\"
      traceAttributeLogEnabled="false"
      additionalLogDestination="Console"
      logBaseName="Interruptions"
    />




  <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>