<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LogLevel" value="3"/>
    <add key="LogPath" value="D:\Tamsa\Logs\ConsoleUtilities"/>
    <add key="LogName" value="ConsoleUtilities"/>
    <add key="NameMachine" value="ADQMasterCTsL1"/>
    <!--Config To Utility DiskSpaceAlarm-->
    <add key="DA.EnableDiskSpaceAlarm" value="true"/>
    <add key="DA.Mode" value="Interval"/> <!--Daily or Interval-->
    <add key="DA.IntervalMinutes" value="30"/>
    <add key="DA.ScheduledTime" value="08:00:00"/><!--Format 24HH-->
    <add key="DA.MinSpaceToAlarmDisk" value="3"/> <!--In GB-->
	<add key="DA.ExcludeVolumes" value="A,E"/>
    <!--Config To Utility Delete Files-->
    <add key="DF.EnableDeleteFiles" value="true"/>
    <add key="DF.PathFileConfigDirs" value="./Config/Directories.xml"/>
    <add key="DF.Mode" value="Daily"/><!--Daily or Interval-->
    <add key="DF.IntervalMinutes" value="1"/>
    <add key="DF.ScheduledTime" value="09:00:00"/><!--Format 24HH-->
    <!--Config To Send Mails-->
    <add key="MailFrom" value="ADQMasterCTsL1@tamsa.com.mx"/>
    <add key="MailTo" value="vladimircruz@proveedores.tamsa.com.mx,rquintal@tenaris.com,agarciadelv@proveedores.tamsa.com.mx,tamgniv2@tamsa.com.mx"/>
    <add key="MailSubject" value="Mesaje desde ADQMasterCTsL1 - Utilidades"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IMailSender">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://172.29.10.172:8731/Service1" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMailSender" contract="ServiceSenderMail.IMailSender" name="NetTcpBinding_IMailSender">
        <identity>
          <dns value="172.29.10.172"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
