<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared" />
    <section name="Tenaris.Ndt.Manager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
    <section name="Tenaris.Manager.Handshake" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />
    <section name="Tenaris.Manager.Tracking" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Production" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="Tenaris.Manager.Command" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="AcquisitionConfiguration" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />
  </configSections>

  <connectionStrings>
    <!--<add name="sql" connectionString="Application Name=NDTManager;Data Source=10.92.114.20;Initial Catalog=L1Am21;User ID=Level2;Password=123Level2123;Max Pool Size=10;MultipleActiveResultSets=True;" />-->
    <add name="sql" connectionString="Application Name=NDTManager;Data Source=10.92.70.162;Failover Partner=10.92.70.164;Initial Catalog=L1Am21;Persist Security Info=True;User ID=Level2;Password=123Level2123;Pooling=True;Max Pool Size=10;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <ManagerBaseConfiguration areaCode="Line1_NDT" defaultConnectionStringName="sql" />

  <Tenaris.Ndt.Manager factoryType="Tenaris.Ndt.Manager.ManagerFactory, Tenaris.Ndt.Library" isSingleton="True" sectionName="">
    <configuration>
      <generalSettings
        application="28"
        connectionName="sql"
        proveupPosition="first"
        Acquisition="AcquisitionConfiguration"
        RSPManagerPlugin="Tamsa.Ndt.Library"/>
      <verificationSettings
        calInPassCount="4"
        calOutPassCount="0"
        amplitudeTolerance="80"
        positionTolerance="100"
        validityTime="4:00:00" />
    </configuration>
  </Tenaris.Ndt.Manager>
  
  <!-- Configuración de Zona de Ciega -->
	<appSettings>
		<add key="UntestedZonesActive" value="true" />
	</appSettings>

  <AcquisitionConfiguration factoryType="Tamsa.OplScada.AcquisitionClient.AcquisitionFactory, Tamsa.OplScada.AcquisitionClient">
    <AcquisitionConfiguration Driver="Tamsa.OplScada.AcquisitionClient.AcquisitionProxy, Tamsa.OplScada.AcquisitionClient" IP="localhost" Port="50000" Timeout="3000" RepeatCount="3" WriteSync="true" />
  </AcquisitionConfiguration>

  <!--<AcquisitionConfiguration factoryType="Tenaris.Library.IAcquisition.Wedjet.AcquisitionFactory, Tenaris.Library.IAcquisition.Wedjet">
    <WedjetConfiguration wedjetConfigurationFile="wedjet.xml"/>
  </AcquisitionConfiguration>-->

  <Tenaris.Manager.Tracking instanceType="Tenaris.Manager.Tracking.Shared.ITenaris.Manager.Tracking.TrackingManager, Tenaris.Manager.Tracking.Shared" aliveInterval="5000" singleInstance="true" validateConnection="false">
    <Redundancy>
      <!--<Address url="tcp://172.29.11.167:49202/Tenaris.Manager.Tracking.Tenaris.Manager.Tracking.TrackingManager.soap" forumPresent="false" isTargetManager="true" />-->
      <Address url="tcp://10.92.70.160:50006/Tenaris.Manager.Tracking.Tenaris.Manager.Tracking.TrackingManager.soap" forumPresent="false" isTargetManager="true" />
    </Redundancy>
  </Tenaris.Manager.Tracking>

  <Tenaris.Manager.Handshake instanceType="Tenaris.Manager.Handshake.Shared.ITenaris.Manager.Handshake.HandshakeManager, Tenaris.Manager.Handshake.Shared" aliveInterval="5000" singleInstance="true" forumPresent="false" isTargetManager="true">
    <Redundancy>
      <Address url="tcp://10.92.70.160:50004/Tenaris.Manager.Handshake.Tenaris.Manager.Handshake.HandshakeManager.soap" forumPresent="false" isTargetManager="true" />
    </Redundancy>
  </Tenaris.Manager.Handshake>

  <Tenaris.Manager.Command instanceType="Tenaris.Manager.Command.Shared.ITenaris.Manager.Command.CommandManager, Tenaris.Manager.Command.Shared" aliveInterval="5000" singleInstance="true" validateConnection="false">
    <Redundancy>
      <Address url="tcp://10.92.70.160:50005/Tenaris.Manager.Command.Tenaris.Manager.Command.CommandManager.soap" forumPresent="false" isTargetManager="true" />
    </Redundancy>
  </Tenaris.Manager.Command>

  <Tenaris.Manager.Production instanceType="Tenaris.Manager.Production.Shared.ITenaris.Manager.Production.ProductionManager, Tenaris.Manager.Production.Shared" aliveInterval="5000" singleInstance="true" forumPresent="false" isTargetManager="true">
    <Redundancy>
      <Address url="tcp://10.92.70.160:50009/Tenaris.Manager.Production.Tenaris.Manager.Production.ProductionManager.soap" forumPresent="false" isTargetManager="true" />
    </Redundancy>
  </Tenaris.Manager.Production>

  <system.runtime.remoting>
    <customErrors mode="off"/>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="50025" bindTo="10.92.70.160">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy" />
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <log
		maxFileSize="8192"
		noQueue="true"
		maxFileCount="10"
		dumpStack="true"
		msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{AppDomainName,-20}:{ThreadId,-5:d5}] [lap={LapFriendlyValue,-10:f2}{LapFriendlyUnit,4}] {AssemblyName,-15}; {MethodName} {IdentString} {Message}"
		logLevel="Debug"
		traceAttributeLogEnabled="false"
		path="..\..\..\Logs\Manager\Tenaris.Manager.Ndt\"
		logBaseName="Tenaris.Ndt.Manager"
		additionalLogDestination="Console" />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
