<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log" type="Tenaris.Library.System.Log.LogConfiguration, Tenaris.Library.System" />
  </configSections>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=AUSV1;User ID=sa;Password=auto;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true; Application Name=MetSpec; Pooling=true; Max Pool Size=900;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=10.92.25.105;Initial Catalog=L1Trk;User ID=developer;Password=Developer2015;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true; Application Name=WebProductionReport; Pooling=true; Max Pool Size=900;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=10.92.24.106;Initial Catalog=L1Trk_TT32;User ID=sa;Password=300Murl300;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true; Application Name=WebProductionReport; Pooling=true; Max Pool Size=900;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=L1Trk;User ID=Level2;Password=123Level2123;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true; Application Name=MetSpecTT32; Pooling=true; Max Pool Size=900;" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="Application Name=MetSpecTT32; Data Source=Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Trk;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true; Pooling=true; Max Pool Size=900;" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=L1Trk_TT32;User ID=sa;Password=300Murl300;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true; Application Name=WebProductionReport; Pooling=true; Max Pool Size=900;" providerName="System.Data.SqlClient" />-->
    <add name="LDAPConnection" connectionString="LDAP://172.29.8.181" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="idProcess" value="10" />
    <add key="idApplication" value="21" />
    <add key="idCriteriaType" value="1" />
    <add key="idDataTypeString" value="7" />
    <!--Check database for Line. Schema: HTR, UPS, -->
    <add key="Line" value="HTR" />
    <!--ID on database for Metallurgical in PresetCatalog.FamilyType -->
    <add key="IdFamilyTypeMetallurgical" value="1" />
    <!--ID on database for Operative in PresetCatalog.FamilyType -->
    <add key="IdFamilyTypeOperative" value="2" />
    <!--ID on database for META in PresetCatalog.Class -->
    <add key="MetaIDClass" value="1" />
    <!--ID on database for THRESHOLD in PresetCatalog.Class -->
    <add key="ThresholdIdClass" value="3" />
    <!--ID on database for PLANT in PresetCatalog.Class -->
    <add key="PlantIdClass" value="2" />
    <!-- ZONE ID-->
    <add key="Zone" value="1" />
    <!-- Show title header-->
    <add key="ShowTitleHeader" value="true" />
    <!-- Type of authentication 
          AD: Active Directory. Disables Account/LoginByMenu action
          MENU: Enable the action Account/LoginByMenu to receive the user name previously authenticated by the WebMenu 
    -->
    <add key="AuthenticationType" value="AD" />
	<!--<add key="AuthenticationType2" value="" />-->
	<add key="AuthenticationType2" value="BD" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="600" />
    </authentication>
    <sessionState timeout="600" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <globalization uiCulture="es-MX" culture="es-MX" />
    <httpRuntime appRequestQueueLimit="100" executionTimeout="600" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <log maxQueueSize="10000" dumpStack="true" msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm} [{AppDomainName,-20}:{ThreadId,-5:d5}] [lap={LapFriendlyValue,-10:f2}{LapFriendlyUnit,4}] {AssemblyName,-15} {IdentString} {Message}" append="true" maxAge="1.00:00:00.000" maxFileCount="10" maxFileSize="4096" dateFormat="yyyy-MM-ddTHH.mm.ss" path="D:\Files\Temporales\Logs" maxLogDepth="20" logLevel="Debug" includeAssembliesRegEx=".*" excludeAssembliesRegEx=".*" includeFullClasNameRegEx=".*" excludeFullClasNameRegEx=".*" excludePropertyGetterAndSetter="True" flushInterval="1000" />
</configuration>