<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>

    <!-- log de la vista -->
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Tamsa.Common.Service.ITPush.IntSendMgmtComms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>

  </configSections>

  <connectionStrings>
    <add name="DBConnection" connectionString="Application Name=ITPush2;Data Source=localhost;Initial Catalog=Level2_LinePipe;Integrated Security=SSPI;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <log maxFileSize="8192"
      msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"
      logLevel="Debug"
      traceAttributeLogEnabled="false"
      logBaseName="InterruptSend"
      additionalLogDestination="Console"
      path="..\..\..\Logs\Manager\InterruptSend\"
      />

  <appSettings>

    <add key="DefaultCulture" value="es-MX" />

    <!--InterruptionCode id-->
    <add key="IdCategoryInterruption" value="1" />
    <add key="SendingGrouped" value="True" />
    <add key="IdMachineInterruption" value="3" />
    <add key="IdAutoUser" value="1" />
    <add key="InterruptionLicenseNumber" value="389" />
    
  </appSettings>

  <applicationSettings>
    
    <!--Prod-->
    <Tamsa.Common.Service.ITPush.IntSendMgmtComms.Properties.Settings>
      <setting name="Tamsa_Common_Service_ITPush_IntSendMgmtComms_PipInterruptions_PIPInterruptions"
          serializeAs="String">
        <value>http://tam1p.tamsa.techint.net:59981/wsstack/services/PIPInterruptions.MANUBRGSOAP11Port/</value>
      </setting>
    </Tamsa.Common.Service.ITPush.IntSendMgmtComms.Properties.Settings>

    <!--QAS-->
    <!--<Tamsa.Common.Service.ITPush.IntSendMgmtComms.Properties.Settings>
      <setting name="Tamsa_Common_Service_ITPush_IntSendMgmtComms_PipInterruptions_PIPInterruptions"
            serializeAs="String">
        <value>http://tam1q.tenaris.techint.net:59981/wsstack/services/PIPInterruptions.MANUBRGSOAP11Port/</value>
      </setting>
    </Tamsa.Common.Service.ITPush.IntSendMgmtComms.Properties.Settings>-->
  </applicationSettings>

  <system.serviceModel>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="mex">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata />
          <dataContractSerializer maxItemsInObjectGraph="500000" />
          <serviceThrottling maxConcurrentCalls="5000" maxConcurrentSessions="10000" maxConcurrentInstances="5000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <client />
    
    <bindings>
      <netTcpBinding>
        <binding name="RoleEndPoint">
          <reliableSession inactivityTimeout="00:01:00" enabled="true" />
          <security mode="None" />
        </binding>

        <binding name="TestBinding" closeTimeout="00:00:02" receiveTimeout="00:01:00" sendTimeout="00:02:00" maxBufferPoolSize="20971520" maxReceivedMessageSize="2097152" maxBufferSize="2097152" portSharingEnabled="false">
          <readerQuotas maxArrayLength="69632" maxBytesPerRead="524288" maxDepth="32" maxNameTableCharCount="1024" maxStringContentLength="8192" />
          <security mode="None" />
          <reliableSession inactivityTimeout="00:01:00" enabled="true" />
        </binding>

      </netTcpBinding>
    </bindings>
    
    <services>
      <service name="Tamsa.Common.Service.ITPush.SendService.ITSend" behaviorConfiguration="mex">
        <endpoint address="net.tcp://localhost:33333/ITPush" binding="netTcpBinding" bindingConfiguration="TestBinding" name="RoleEndPoint" contract="Tamsa.Common.Service.ITPush.SendService.IITPush">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" name="MEX" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:33333/ITPush/" />
          </baseAddresses>
        </host>
      </service>
    </services>
	
    
    <!--<behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="False"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
    
  </system.serviceModel>
</configuration>