<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- The following section is necessary iff targeting .NET 3.5.  It is incompatible with .NET 4.0.
		<section name="uri" type="System.Configuration.UriSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>--><sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
			<section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
			<section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
		<section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" /><section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" /></sectionGroup></configSections>
  <connectionStrings>
    <add name="DbConnection" providerName="System.Data.SqlClient" connectionString="Application Name=ReporteProduccion;Server=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=Level2_LinePipe;Persist Security Info=True; Integrated Security=SSPI;MultipleActiveResultSets=True; Asynchronous Processing=true;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--  *************************   Show title header  *********************  -->
    <add key="ShowTitleHeader" value="false" />
    <!--  *********************   Titulo de la aplicación  *******************  -->
    <add key="ApplicationName" value="Reporte de Producción L1P1" />
    <!--  *********************  AreaCode  *******************  -->
    <add key="AreaCode" value="COFI" />
    <!--  *********************  Variables Generales  *******************  -->
    <add key="Date" value="Fecha" />
    <add key="All" value="Todos" />
    <add key="Order" value="Orden"/>
    <add key="BiselMax" value="BiselMax" />
    <add key="BiselMin" value="BiselMin" />
    <add key="FaceMax" value="CaraMax" />
    <add key="FaceMin" value="CaraMin" />
    <add key="GaussMax" value="GaussMax" />
    <add key="GaussMin" value="GaussMin" />
    <add key="OvalityBody" value="OvalityBody"/>    
    <add key="OvalityBodyMax" value="OvalityBodyMax"/>
    <add key="OvalityBodyMin" value="OvalityBodyMin"/>
    <add key="CorteEscuadraMax" value="CorteEscuadraMax"/>
    <add key="CorteEscuadraMin" value="CorteEscuadraMin"/>
    <add key="TorceduraBodyMax" value="TorceduraBodyMax"/>
    <add key="TorceduraBodyMin" value="TorceduraBodyMin"/>
    <add key="TorceduraExtMax" value="TorceduraExtMax"/>
    <add key="TorceduraExtMin" value="TorceduraExtMin"/>
    <!-- **********************  Variable de Status *************************-->
    <add key="Trackin_Status" value="Tracking Status"/>
    <add key="LEMS_Status" value="Status LEMS"/>
    <add key="SEA_Status" value="Status SEA"/>
    <add key="CDIM_Status" value="Status CDIM"/>
    <add key="LEMSVDI_Status" value="LEMSVDI Status Reinspeccion"/>
    <!-- ************************* Variables Que Usan OK - NO OK ********************************** -->
    <add key="CDIM_Body_Straightness" value="CDIM Derechuda Cuerpo" />
    <add key="CDIM_Extreme_Straightness" value="CDIM Derechuda Extremo" />
    <add key="CDIM_Bevel_Visual" value="CDIM Biselado Visual" />
    <add key="CDIM_GoNoGo_OD" value="CDIM Go-No-Go OD" />
    <add key="CDIM_GoNoGo_ID" value="CDIM GO-No-Go ID" />
    <add key="CDIM_Ring" value="Anillo Calibrado" />
    <!-- ************************* Traducción de Variables de Status ********************************** -->
    <add key="Good" value="Bueno"/>
    <add key="Rejected" value="Rechazado"/>
    <add key="Warned" value="Alarmado"/>
    <add key="Pending" value="Pendiente"/>
    <add key="Discarded" value="Descartado"/>
    <add key="Hold" value="Retenido"/>
    <add key="Canceled" value="Eliminado"/>
    <!-- ************************* Traducción de Variables de OK - NO OK ********************************** -->
    <add key="OK" value="OK"/>
    <add key="NOOK" value="NO OK"/>
    <!--  *************************   Report File Directory  *********************  -->
    <add key="ReportDirectory" value="D:\Appls\Servidor Web\Tenaris\Applications\Web\ReporteProduccion\Report\" />
    <add key="ReportDirectoryByUser" value="D:\Appls\Servidor Web\Tenaris\Applications\Web\ReporteProduccion\App_Data\"/>
    <!--  *************************   Day Report File Values  *********************  -->
    <add key="DayStartExcelRow" value="15" />
    <add key="DayStartExcelColumn" value="1"/>
    <add key="DayWidthExcelRowDay" value="59"/>
    <add key="DayColumnLeterExcelList" value="Orden=B,Colada=C,No. Tubo=D,Extremo=E,Familia WT=F,Status LEMS=G,LEMS Inspector=S,Status SEA=T,SEA Tipo de Defecto=U,SEA Clasif. de Tubo=V,SEA Inspector=Y,Status CDIM=Z,CDIM Tipo de Defecto=AA,CDIM Derechuda Cuerpo=AJ,CDIM Derechuda Extremo=AK,CDIM Biselado Visual=AQ,CDIM Go-No-Go OD=AR,CDIM GO-No-Go ID=AS,Anillo Calibrado=AT,LEMSVDI Inspector=BN,Fecha=BO"/>
    <add key="DayColumnFloatExcelList" value="LEMS OD Max=H,LEMS OD Min=I,LEMS OD Promedio=J,LEMS OD Ovalidad=K,LEMS ID Max=L,LEMS ID Min=M,LEMS ID Ovalidad=N,LEMS ID Promedio=O,LEMS Espesor Max=P,LEMS Espesor Min=Q,LEMS Espesor Promedio=R,SEA Prof. Defecto=W,SEA Esp. Rem=X,CDIM OD Cuerpo Max=AB,CDIM OD Cuerpo Min=AC,CDIM OD Cuerpo Promedio=AD,CDIM OD Cuerpo Ovalidad=AE,CDIM Corte Escuadra=AF,CDIM Cara Frontal=AG,CDIM Torcedura Cuerpo=AH,CDIM Torcerdura Extremo=AI,Gauss0=AL,Gauss90=AM,Gauss180=AN,Gauss270=AO,CDIM Biselado=AP,LEMSVDI OD Max=AU,LEMSVDI OD Min=AV,LEMSVDI OD Promedio=AW,LEMSVDI OD Ovalidad=AX,LEMSVDI ID Max=AY,LEMSVDI ID Min=AZ,LEMSVDI ID Ovalidad=BA,LEMSVDI ID Promedio=BB,LEMSVDI Espesor1=BC,LEMSVDI Espesor2=BD,LEMSVDI Espesor3=BE,LEMSVDI Espesor4=BF,LEMSVDI Espesor5=BG,LEMSVDI Espesor6=BH,LEMSVDI Espesor7=BI,LEMSVDI Espesor8=BJ,LEMSVDI Espesor Maximo=BK,LEMSVDI Espesor Minimo=BL,LEMSVDI Promedio=BM"/>
    <!--  *************************   Order Report File Values  *********************  -->
    <add key="OrderStartExcelRow" value="16" />
    <add key="OrderStartExcelColumn" value="1"/>
    <add key="OrderHeaderExcelList" value="Orden=D8,Cliente=H8,Producto=M8,Material=R8,Diametro=D10,Espesor=H10,Grado Acero=M10,Cve. Acero=R10"/>
    <add key="OrderColumnLeterExcelList" value="Colada=B,No. Tubo=C,Extremo=D,Familia WT=E,Status LEMS=F,LEMS Inspector=R,Status SEA=S,SEA Tipo de Defecto=T,SEA Clasif. de Tubo=U,SEA Inspector=X,Status CDIM=Y,CDIM Tipo de Defecto=Z,CDIM Derechuda Cuerpo=AI,CDIM Derechuda Extremo=AJ,CDIM Biselado Visual=AP,CDIM Go-No-Go OD=AQ,CDIM GO-No-Go ID=AR,Anillo Calibrado=AS,LEMSVDI Inspector=BM,Fecha=BN"/>
    <add key="OrderColumnFloatExcelList" value="LEMS OD Max=G,LEMS OD Min=H,LEMS OD Promedio=I,LEMS OD Ovalidad=J,LEMS ID Max=K,LEMS ID Min=L,LEMS ID Ovalidad=M,LEMS ID Promedio=N,LEMS Espesor Max=O,LEMS Espesor Min=P,LEMS Espesor Promedio=Q,SEA Prof. Defecto=V,SEA Esp. Rem=W,CDIM OD Cuerpo Max=AA,CDIM OD Cuerpo Min=AB,CDIM OD Cuerpo Promedio=AC,CDIM OD Cuerpo Ovalidad=AD,CDIM Corte Escuadra=AE,CDIM Cara Frontal=AF,CDIM Torcedura Cuerpo=AG,CDIM Torcerdura Extremo=AH,Gauss0=AK,Gauss90=AL,Gauss180=AM,Gauss270=AN,CDIM Biselado=AO,LEMSVDI OD Max=AT,LEMSVDI OD Min=AU,LEMSVDI OD Promedio=AV,LEMSVDI OD Ovalidad=AW,LEMSVDI ID Max=AX,LEMSVDI ID Min=AY,LEMSVDI ID Ovalidad=AZ,LEMSVDI ID Promedio=BA,LEMSVDI Espesor1=BB,LEMSVDI Espesor2=BC,LEMSVDI Espesor3=BD,LEMSVDI Espesor4=BE,LEMSVDI Espesor5=BF,LEMSVDI Espesor6=BG,LEMSVDI Espesor7=BH,LEMSVDI Espesor8=BI,LEMSVDI Espesor Maximo=BJ,LEMSVDI Espesor Minimo=BK,LEMSVDI Promedio=BL"/>
    <add key="DiamExtMaxExcelList" value="DiameterExtMax=G15,DiameterExtMax=AA15,DiameterExtMax=AT15"/>
    <add key="DiamExtMinExcelList" value="DiameterExtMin=H15,DiameterExtMin=AB15,DiameterExtMin=AU15"/>
    <add key="DiamIntMaxExcelList" value="DiameterIntMax=K15,DiameterIntMax=AX15"/>
    <add key="DiamIntMinExcelList" value="DiameterIntMin=L15,DiameterIntMin=AY15"/>
    <add key="ThicknessExtMaxExcelList" value="ThicknessExtMax=O15,ThicknessExtMax=BJ15"/>
    <add key="ThicknessExtMinExcelList" value="ThicknessExtMin=P15,ThicknessExtMin=BK15"/>
    <add key="Bisel" value="AO14"/>
    <add key="FrontalFace" value="AF15"/>
    <add key="GaussExcelList" value="Gauss0=AK15,Gauss90=AL15,Gauss180=AM15,Gauss270=AN15"/>
    <add key="OvalityBodyExcelList" value="AD15"/>
    <add key="CorteEscuadraExcelList" value="AE15" />
    <add key="TorceduraCuerpoExcelList" value="AG15" />
    <add key="TorceduraExtremoExcelList" value="AH15"/>
    <add key="OrderTotalPipe" value="W8"/>
    <!--  *************************   EMAIL  *********************  -->
    <add key="FileNameInMailForDay" value="ReportePorDía.xls"/>
    <add key="FileNameInMailForOrder" value="ReportePorOrden.xls"/>
    <!--  *************************   File ReportName  *********************  -->
    <add key="FileDay" value="Produccion_L1LP_Day.xls"/>
    <add key="FileDayTemplate" value="Produccion_L1LPTemplate_Day.xls"/>
    <add key="FileOrder" value="Produccion_L1LP_Order.xls"/>
    <add key="FileorderTemplate" value="Produccion_L1LPTemplate_Order.xls"/>
    <!-- File ReportName english -->
    <add key="FileDayEnglish" value="Produccion_L1LP_DayEnglish.xls"/>
    <add key="FileDayTemplateEnglish" value="Produccion_L1LPTemplate_DayEnglish.xls"/>
    <add key="FileOrderEnglish" value="Produccion_L1LP_OrderEnglish.xls"/>
    <add key="FileorderTemplateEnglish" value="Produccion_L1LPTemplate_OrderEnglish.xls"/>
    <!-- File ReportName Download Name-->
    <add key="FileDayDownloadName" value="ProduccionReportDay.xls"/>
    <add key="FileOrderDownloadName" value="ProduccionReportOrder.xls"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). --><legacyHMACWarning enabled="0" /><!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
		     to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
		 --></runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
<system.net>
		<defaultProxy enabled="true" />
		<settings>
			<!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
			<!--<servicePointManager checkCertificateRevocationList="true"/>-->
		</settings>
	</system.net><dotNetOpenAuth>
		<messaging>
			<untrustedWebRequest>
				<whitelistHosts>
					<!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
					<!--<add name="localhost"/>-->
				</whitelistHosts>
			</untrustedWebRequest>
		</messaging>
		<!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
		<reporting enabled="true" />
	<!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. --><!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ --><openid>
		<relyingParty>
				<security requireSsl="false">
					<!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
					<!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
						<add endpoint="https://www.google.com/accounts/o8/ud"/>
					</trustedProviders>-->
				</security>
				<behaviors>
					<!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
					     with OPs that use Attribute Exchange (in various formats). -->
					<add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty" />
				</behaviors>
			</relyingParty></openid></dotNetOpenAuth><uri>
		<!-- See an error due to this section?  When targeting .NET 3.5, please add the following line to your <configSections> at the top of this file:
		<section name="uri" type="System.Configuration.UriSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		-->
		<!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
	     which is necessary for OpenID urls with unicode characters in the domain/host name. 
	     It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
		<idn enabled="All" />
		<iriParsing enabled="true" />
	</uri><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.29.8.51/Mail/Tenaris.WebServices.Mail.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="WebMailService.ServiceSoap" name="ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>