<?xml version="1.0"?>
<configuration>

  <configSections>
    <!-- configuracion de la vista -->
    <section name="TemplateConfig" type="Tenaris.Tamsa.Manager.Lems.View.Model.Configuration.TemplateViewConfiguration, Tenaris.Tamsa.Manager.Lems.View.Model" />
    <!-- log de la vista -->
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />

    <!-- configuracion del security modo cliente -->
    <section name="Tenaris.Library.Security"
             type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>

    <section name="Tenaris.Tamsa.Manager.Lems.LemsManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
    <section name="tdaChart" type="Tenaris.View.Tda.Chart.ChartConfiguration, Tenaris.View.Tda.Chart" />
    <section name="TdaManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
  </configSections>


  <connectionStrings>
    <add name="dbLevel2" connectionString="Application Name=AthiosView;Data Source=localhost;Initial Catalog=Level2_LinePipe;Persist Security Info=True; Integrated Security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!-- configuracion de la vista -->
  <!--
    TO DO
    Agregar las variables de configuracion propias de la vista
    vease clase Tenaris.TemplateView.Model.Configuration.TemplateViewConfiguration
  -->
  <TemplateConfig DskMgr="true"
                  Language="es-MX"
                  DBConnection="dbLevel2"
                  AreaCode="COFI"
                  LemsMachineCode="LEMS"
                  ApplicationCode ="LemsView"
                  ZoneCode = "COFI"
                  AxisCamUrl="http://10.92.65.36/mjpg/video.mjpg"
                  TDATagsView="LEMSEccentricity,
                  LEMSEccentricityPorc,
                  LEMSExRadiusTrend-S1,
                  LEMSExRadiusTrend-S2,
                  LEMSExRadiusTrend-S3,
                  LEMSExRadiusTrend-S4,
                  LEMSFouExRadius-S1,
                  LEMSFouExRadius-S2,
                  LEMSFouExRadius-S3,
                  LEMSFouExRadius-S4,
                  LEMSFouInRadius-S1,
                  LEMSFouInRadius-S2,
                  LEMSFouInRadius-S3,
                  LEMSFouInRadius-S4,
                  LEMSIDMax,
                  LEMSIDMean,
                  LEMSIDMin,
                  LEMSIDoval,
                  LEMSInRadiusTrend-S1,
                  LEMSInRadiusTrend-S2,
                  LEMSInRadiusTrend-S3,
                  LEMSInRadiusTrend-S4,
                  LEMSODMax,
                  LEMSODMean,
                  LEMSODMin,
                  LEMSODoval,
                  LEMSOffCenter,
                  LEMSWTMax,
                  LEMSWTMean,
                  LEMSWTMin,
                  LEMSWtTrend-S1,
                  LEMSWtTrend-S2,
                  LEMSWtTrend-S3,
                  LEMSWtTrend-S4"
                  >
    <StatusItems>
   <add itemName="Z" itemType="AXIS" posX="15" posY="170" />
      <add itemName="Y" itemType="AXIS" posX="15" posY="400" />
      <add itemName="U" itemType="AXIS" posX="300" posY="170" />
      <add itemName="Pt100Box" itemType="TEMPERATURE" posX="185" posY="0" />
      <add itemName="Pt100Standard" itemType="TEMPERATURE" posX="0" posY="0" />
      <add itemName="Pt100Athios" itemType="TEMPERATURE" posX="370" posY="0" />
   
      <add itemName="1" itemType="TASK" posX="15" posY="600" />
    </StatusItems>
  </TemplateConfig>
  
  <!-- Configuracion security modo cliente -->
    <Tenaris.Library.Security
      url="tcp://localhost:8041/Tenaris.Service.Security.soap"
      instanceType="Tenaris.Service.Security.Shared.ISecurityService, Tenaris.Service.Security.Shared"
      aliveInterval="0"
      validateConnection="true"
      singleInstance="true"
      forumPresent="false"
      isTargetManager="false">
    <Redundancy>
    </Redundancy>
  </Tenaris.Library.Security>


  <tdaChart autoTruncateMaxCount="10000" useTdaManager="true" useDummyTdaManager="false" connectionName="dbLevel2" />

  <!-- TdaManager Configuration, more info please check the https://trac.auto.tenaris.techint.net/common/wiki/Library/Proxy. -->
  <TdaManager
    url="tcp://127.0.0.1:8100/TdaManager.soap"
    instanceType="Tenaris.Manager.Tda.Shared.ITdaManager, Tenaris.Manager.Tda.Shared"
    aliveInterval="5000" singleInstance="true" isSingleton="true" validateConnection="true" />

  <Tenaris.Tamsa.Manager.Lems.LemsManager
   url="tcp://127.0.0.1:49988/Tenaris.Tamsa.Manager.Lems.LemsManager.soap"
   instanceType="Tenaris.Tamsa.Manager.Lems.Shared.ILemsManager, Tenaris.Tamsa.Manager.Lems.Shared"
   aliveInterval="1000"
   forumPresent="false"
   isSingleton="true">
  </Tenaris.Tamsa.Manager.Lems.LemsManager>
  
  <!-- configuracion del log de la vista -->
  <log
    maxFileSize="8096"
    msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"
    logLevel="Debug"
    traceAttributeLogEnabled="true"
    logBaseName="Tenaris.Tamsa.Manager.Lems.View"
    additionalLogDestination="Console"
    path="..\..\..\Logs\view\LemsView\"
    logAssemblyLoad="false"
  />
  
  <!--
    Configuracion de remoting
    Usada para la comunicacion con manager
    Usada por la security
  -->
  <system.runtime.remoting>
    <customErrors mode="off" />
    <application name="Tenaris.Tamsa.Manager.Lems.View">
      <channels>
        <channel ref="tcp" port="0" bindTo="127.0.0.1">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>  

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
