<?xml version="1.0"?>
<configuration>
  <configSections>
	<section name="ManagerBaseConfiguration" type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=8a748c80852b8187"/>
    <section name="Tenaris.Tamsa.Service.SpecificationService.DAL" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
	<section name="SpecificationManager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />
  </configSections>

  <connectionStrings>
    <add name="dbLevel2" connectionString="Data Source=TNATFT2PRDLSN.tnsautoca.techint.net,5040;Initial Catalog=L1Am21;Persist Security Info=True;Integrated Security=SSPI;Pooling=True;Max Pool Size=300;MultipleActiveResultSets=True;Application Name=ServiceSpecification"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <ManagerBaseConfiguration areaCode="Line1_NDT"  defaultConnectionStringName="dbLevel2" defaultCommandTimeout="10"/>

  <Tenaris.Tamsa.Service.SpecificationService.DAL>
    <DalConfiguration connectionStringName="dbLevel2" timeout="9000"/>
  </Tenaris.Tamsa.Service.SpecificationService.DAL>

    <SpecificationManager  factoryType="Tenaris.Tamsa.Service.SpecificationService.ManagerFactory, Tenaris.Tamsa.Service.SpecificationService"  isSingleton="True">
	</SpecificationManager>

  
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Tenaris.Tamsa.Service.SpecificationService.SpecificationService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://TNACAWFM191.tnsautoca.techint.net:50008/ServiceSpecification/" />
          </baseAddresses>
        </host>
        <endpoint address="Specification"
                  binding="netTcpBinding"
                  bindingConfiguration="netTcpBindingConfig"
                  contract="Tenaris.Tamsa.Service.SpecificationService.Shared.Interfaces.ISpecificationServiceWCFContract"/>
        <endpoint address="EventContract"
                  binding="netTcpBinding"
                  bindingConfiguration="netTcpBindingConfig"
                  contract="Tenaris.Tamsa.Service.SpecificationService.Shared.Interfaces.ISpecificationServiceWCFCallBackContract"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
		<binding name="netTcpBindingConfig" closeTimeout="23:59:59" openTimeout="23:59:59" receiveTimeout="23:59:59" sendTimeout="23:59:59" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
			<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
			<security mode="None"></security>
			<reliableSession  inactivityTimeout="23:59:59"/>
		</binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

  <system.runtime.remoting>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="50007"  >
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
        </channel>
      </channels>
    </application>
    <customErrors mode="off" />
  </system.runtime.remoting>
  
  <log
    maxFileSize="100000"
 maxFileCount="40"
    msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {ThreadId,-5:d5} ; {Message} ; {MethodName}"
    logLevel="Debug"
 noQueue="true"
    traceAttributeLogEnabled="false"
 path="..\..\..\Logs\Service\Tenaris.Tamsa.Service.SpecificationService\"
    logBaseName="Tenaris.Tamsa.Service.SpecificationService"
    additionalLogDestination="Console"
    logAssemblyLoad="false"
  />
  
</configuration>
