<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ForumManagerFactoryConfiguration" type="Tenaris.Manager.Forum.Common.Configuration.ForumConfigurationSection, Tenaris.Manager.Forum.Common"/>
    <section name="ForumControllerFactoryConfiguration" type="Tenaris.Manager.Forum.Common.Configuration.ForumControllerConfigurationSection, Tenaris.Manager.Forum.Common"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
  </configSections>

  <ForumControllerFactoryConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                                       isSingleton="false" address="ForumManager/Controller.soap"
                                       forumConfigurationName="ForumManagerFactoryConfiguration"
                                       activateAllManagers="true"/>

 
  <ForumManagerFactoryConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Launcher initializationTries="5" activationTries="5" activationMode="GraphManual">
     <Hosts>
	      
		 <ProcessHost name="ShiftManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.Shift.Shared.IShiftManager, Tenaris.Manager.Shift.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50003/Tenaris.Manager.Shift.ShiftManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Manager.Shift/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Shift.ShiftManager/false" workingDirectory="../../Manager/Tenaris.Manager.Shift" />
        </ProcessHost>
        <ProcessHost name="HandshakeManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50004/Tenaris.Manager.Handshake.HandshakeManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Manager.Handshake/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Handshake.HandshakeManager/false"
          workingDirectory="../../Manager/Tenaris.Manager.Handshake" />
        </ProcessHost>
       <ProcessHost name="CommandManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50005/Tenaris.Manager.Command.CommandManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Manager.Command/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Command.CommandManager/false"
          workingDirectory="../../Manager/Tenaris.Manager.Command" />
         </ProcessHost>
		  <ProcessHost name="SpecificationManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.Forum.Shared.IManager, Tenaris.Manager.Forum.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50007/SpecificationManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Service/Tenaris.Service.Specification/Tenaris.Manager.Host.exe"
          arguments="mgr:SpecificationManager/false"
          workingDirectory="../../Service/Tenaris.Service.Specification" />
        </ProcessHost>
		
		
		  <ProcessHost name="CycleTimeManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Manager.CycleTime.Shared.ICycleTimeManager, Tenaris.Manager.CycleTime.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50014/Tenaris.Manager.CycleTime.CycleTimeManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Manager.CycleTime/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.CycleTime.CycleTimeManager/false"
          workingDirectory="../../Manager/Tenaris.Manager.CycleTime" />
        </ProcessHost>
		
		 <ProcessHost name="BusinessRulesITManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Library.BusinessRules.IT.Shared.IBusinessRulesITManager, Tenaris.Library.BusinessRules.IT.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50016/Tenaris.Manager.BusinessRules.BusinessRulesITManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Manager.BusinessRules.IT/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.BusinessRules.BusinessRulesITManager/false"
          workingDirectory="../../Manager/Tenaris.Manager.BusinessRules.IT" />
        </ProcessHost>
		
		 <ProcessHost name="ManufacturingService" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Manufacturing.Shared.Interface.IManufacturingManager, Manufacturing.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50017/Tenaris.Manager.Manufacturing.ManufacturingManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Service/Tenaris.Service.Manufacturing/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Manufacturing.ManufacturingManager/false"
          workingDirectory="../../Service/Tenaris.Service.Manufacturing" />
        </ProcessHost>
		
		
	
		<ProcessHost name="ETrackBridgeService" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf/>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerA, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50028/eTrackBridgeManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Service/Tenaris.Tamsa.FAT2.eTrack.Bridge/Tenaris.Manager.Host.exe"
          arguments="mgr:eTrackBridgeManager/false"
          workingDirectory="../../Service/Tenaris.Tamsa.FAT2.eTrack.Bridge" />
        </ProcessHost>
		
		<ProcessHost name="EvaBme_eTrackManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf/>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerB, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50029/EvaBmeTrackManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Tamsa.EvaBme_eTrack/Tenaris.Manager.Host.exe"
          arguments="mgr:EvaBmeTrackManager/false"
          workingDirectory="../../Manager/Tenaris.Tamsa.EvaBme_eTrack" />
        </ProcessHost>
		<ProcessHost name="BodyTwistManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf/>
          <RemoteInstance type="Tenaris.Tamsa.BodyTwist.Manager.Shared.IBodyTwistManager, Tenaris.Tamsa.BodyTwist.Manager.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50060/BodyTwistConfiguration.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Tamsa.BodyTwist.Manager/Tenaris.Manager.Host.exe"
          arguments="mgr:BodyTwistConfiguration/false"
          workingDirectory="../../Manager/Tenaris.Tamsa.BodyTwist.Manager" />
        </ProcessHost>
		
		
			 	<ProcessHost name="LockVerificationManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf/>
          <RemoteInstance type="Tenaris.Tamsa.LockVerification.Manager.Shared.ILockVerificationManager, Tenaris.Tamsa.LockVerification.Manager.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50027/LockVerificationManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Manager.LockVerification/Tenaris.Manager.Host.exe"
          arguments="mgr:LockVerificationManager/false"
          workingDirectory="../../Manager/Tenaris.Manager.LockVerification" />
        </ProcessHost>
		
		 <ProcessHost name="BusinessRuleseTrackManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>TrackingManager</DependOf>
          <RemoteInstance type="Tenaris.Library.BusinessRules.eTrackClient.Shared.IBusinessRulesETrackClientManager, Tenaris.Library.BusinessRules.eTrackClient.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50021/Tenaris.Manager.BusinessRules.BusinessRuleseTrackManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Manager.BusinessRules.eTrack/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.BusinessRules.BusinessRuleseTrackManager/false"
          workingDirectory="../../Manager/Tenaris.Manager.BusinessRules.eTrack" />
        </ProcessHost>	
		
		
		 <ProcessHost name="BusinessRulesInviManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>TrackingManager</DependOf>
          <RemoteInstance type="Tenaris.Library.BusinessRules.Invi.Shared.IBusinessRulesInviManager, Tenaris.Library.BusinessRules.Invi.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50026/Tenaris.Manager.BusinessRules.BusinessRulesInviManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Manager.BusinessRules.Invi/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.BusinessRules.BusinessRulesInviManager/false"
          workingDirectory="../../Manager/Tenaris.Manager.BusinessRules.Invi" />
        </ProcessHost>
		
		
		
			 <ProcessHost name="TrackingManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>HandshakeManager;CommandManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.Tracking.Shared.ITrackingManager, Tenaris.Manager.Tracking.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50006/Tenaris.Manager.Tracking.TrackingManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Manager.Tracking/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Tracking.TrackingManager/false"
          workingDirectory="../../Manager/Tenaris.Manager.Tracking" />
        </ProcessHost>
       
		
		<ProcessHost name="ProductionManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>ShiftManager;HandshakeManager;CommandManager;TrackingManager</DependOf>
          <RemoteInstance type="Tenaris.Library.IKeyManager.Shared.IKeyManager, Tenaris.Library.IKeyManager.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50009/Tenaris.Manager.Production.ProductionManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Manager.Production/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Production.ProductionManager/false"
          workingDirectory="../../Manager/Tenaris.Manager.Production" />
        </ProcessHost>
		
	
       
        
        <ProcessHost name="EntranceApplicationManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>CommandManager;ProductionManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.Entrance.Shared.IEntranceManager, Tenaris.Manager.Entrance.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50010/Tenaris.Manager.Entrance.EntranceManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Manager.EntranceApplication/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Entrance.EntranceManager"
          workingDirectory="../../Manager/Tenaris.Manager.EntranceApplication" />
        </ProcessHost>
		
		 <ProcessHost name="AlarmManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>ProductionManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.Alarm.Shared.IAlarmManager, Tenaris.Manager.Alarm.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50011/Tenaris.Manager.Alarm.AlarmManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Manager.EquipmentAlarm/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Alarm.AlarmManager/false" workingDirectory="../../Manager/Tenaris.Manager.EquipmentAlarm" />
        </ProcessHost>
       
		
		
        <ProcessHost name="PresetManager" enabled="true" initializationTimeout="5000"
          activationTimeout="5000" deactivationTimeout="5000" deinitializationTimeout="5000"
          startingTimeout="5000" autoRestartDependencies="false" postInitializationSleep="0"
          watchInterval="5000">
          <DependOf>CommandManager;ProductionManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.Preset.Shared.IPresetManager, Tenaris.Manager.Preset.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50012/Tenaris.Manager.Preset.PresetManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Manager.Preset/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Preset.PresetManager/false" workingDirectory="../../Manager/Tenaris.Manager.Preset" />
        </ProcessHost>
      
      
        <ProcessHost name="BusinessRulesManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>AlarmManager;TrackingManager;HandshakeManager;ShiftManager;ProductionManager;PresetManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.BusinessRules.Shared.IBusinessRulesManager, Tenaris.Manager.BusinessRules.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50015/Tenaris.Manager.BusinessRules.BusinessRulesManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Manager.BusinessRules/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.BusinessRules.BusinessRulesManager/false"
          workingDirectory="../../Manager/Tenaris.Manager.BusinessRules" />
        </ProcessHost>
       
       		<ProcessHost name="ToolsetManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>AlarmManager;TrackingManager;HandshakeManager;ProductionManager;PresetManager;ShiftManager</DependOf>
          <RemoteInstance type="Tenaris.Service.Toolset.Shared.IToolsetManager, Tenaris.Service.Toolset.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50019/Tenaris.Service.Toolset.ToolsetManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Service/Tenaris.Service.Toolset/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Service.Toolset.ToolsetManager/false"
          workingDirectory="../../Service/Tenaris.Service.Toolset" />
        </ProcessHost>
	  <ProcessHost name="InterruptionManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>ShiftManager;HandshakeManager;ProductionManager</DependOf>
          <RemoteInstance type="Tenaris.Manager.Interruption.Shared.IInterruptionManager, Tenaris.Manager.Interruption.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50013/Tenaris.Manager.Interruption.InterruptionManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Manager.Interruption/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Interruption.InterruptionManager/false"
          workingDirectory="../../Manager/Tenaris.Manager.Interruption" />
        </ProcessHost>
       	<ProcessHost name="InvisEmailManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf/>
          <RemoteInstance type="Tenaris.Manager.ProcessExecutor.Shared.Contract.IProcessExecutorManagerC, Tenaris.Manager.ProcessExecutor.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50035/InvisEmailManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Tamsa.FAT2.InvisEmail.Host/Tenaris.Manager.Host.exe"
          arguments="mgr:InvisEmailManager/false"
          workingDirectory="../../Manager/Tenaris.Tamsa.FAT2.InvisEmail.Host" />
        </ProcessHost>
		<!--
		<ProcessHost name="Identification" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>AlarmManager;HandshakeManager;CommandManager;TrackingManager</DependOf>
          <RemoteInstance type="Tamsa.Manager.Identification.Shared.Contract.IIdentificationManager, Tamsa.Manager.Identification.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50022/Tenaris.Manager.Identification.IdentificationManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Manager.Identification/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.Identification.IdentificationManager/false"
          workingDirectory="../../Manager/Tenaris.Manager.Identification" />
        </ProcessHost>				
		<ProcessHost name="MarkingManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>ShiftManager;HandshakeManager;CommandManager;AlarmManager</DependOf>
          <RemoteInstance type="Tamsa.Common.Manager.TraceabilityValidation.Shared.ITraceabilityValidationManager, Tamsa.Common.Manager.TraceabilityValidation.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50023/Tenaris.Manager.Marking.MarkingManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Manager.Marking/Tenaris.Manager.Host.exe"
          arguments="mgr:Tamsa.Common.Manager.TraceabilityValidation.Manager/false"
          workingDirectory="../../Manager/Tenaris.Manager.Marking" />
        </ProcessHost>		
        <ProcessHost name="BusinessRulesLinkerManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>TrackingManager</DependOf>
          <RemoteInstance type="Tenaris.Library.BusinessRules.Linker.Shared.IBusinessRulesLinkerManager, Tenaris.Library.BusinessRules.Linker.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50024/Tenaris.Manager.BusinessRules.BusinessRulesLinkerManager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Manager.BusinessRules.Linker/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Manager.BusinessRules.BusinessRulesLinkerManager/false"
          workingDirectory="../../Manager/Tenaris.Manager.BusinessRules.Linker" />
        </ProcessHost>	
        <ProcessHost name="NdtManager" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf>ProductionManager;HandshakeManager;TrackingManager;</DependOf>
          <RemoteInstance type="Tenaris.Ndt.Library.Shared.IManager, Tenaris.Ndt.Library.Shared"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50025/Tenaris.Ndt.Manager.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Manager.Ndt/Tenaris.Manager.Host.exe"
          arguments="mgr:Tenaris.Ndt.Manager/false"
          workingDirectory="../../Manager/Tenaris.Manager.Ndt" />
        </ProcessHost>	
	
       
		
		




		



		
		<ProcessHost name="Tenaris.Tamsa.FAT2.InvisEmail" enabled="true"
          initializationTimeout="5000" activationTimeout="5000" deactivationTimeout="5000"
          deinitializationTimeout="5000" startingTimeout="5000" autoRestartDependencies="false"
          postInitializationSleep="0" watchInterval="5000">
          <DependOf />
          <RemoteInstance type="Tenaris.Tamsa.FAT2.InvisEmail"
          url="tcp://TNACAWFM191.tnsautoca.techint.net:50027/Tenaris.Tamsa.FAT2.InvisEmail.soap"
          tries="10" wait="100">
            <Interfaces />
          </RemoteInstance>
          <Process startWait="5000" stoptWait="5000" createNoWindow="false"
          useShellExecute="false" filename="../../Manager/Tenaris.Tamsa.FAT2.InvisEmail.Host/Tenaris.Tamsa.FAT2.InvisEmail.Host.exe"
          arguments="mgr:Tenaris.Tamsa.FAT2.InvisEmail.Host/false"
          workingDirectory="../../Manager/Tenaris.Tamsa.FAT2.InvisEmail.Host" />
        </ProcessHost>
		-->	
		
					</Hosts>
      <Availability mode="StartAlways" tries="0" interval="2000" />
    </Launcher>
    <Redundancy mode="None" onDeactivateMode="Stop" onConnectMode="None"
		  activationTimeout="600" />
    <Mailing enabled="false" enableSsl="false" port="0" timeout="0" />
  </ForumManagerFactoryConfiguration>

  <system.runtime.remoting>
    <application name="Forum">
      <channels>
        <channel ref="tcp" port="50002" >
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <log
      msgFormat="{TypeChar} {Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{AppDomainName,30:s-30}:{ThreadName,15:s15}] [lap={LapFriendlyValue,-7:f2}{LapFriendlyUnit,3}] {AssemblyName,30:s-30} {IdentString} {Message}"
      dumpStack="true" maxLogDepth="0" traceAttributeLogLevel="Message" 
      noQueue="false" maxQueueSize="10000" includeAssembliesRegEx="" excludeAssembliesRegEx="" includeFullClasNameRegEx="" 
      excludeFullClasNameRegEx="" excludePropertyGetterAndSetter="true" flushInterval="1000" logAssemblyLoad="true" colorConsoleLog="true"
      
      maxFileSize="8192" maxFileCount="20" traceAttributeLogEnabled="true" 
      
      logBaseName="ForumController" path="..\..\..\Logs\view\Forum\" additionalLogDestination="None" logLevel="Debug"/>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Binaries;Forum;"/>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
